
.sel[data-v-268e042a] {
	display: inline-block;
	width: 120px;
	height: 40px;
	font-size: 16px;
	background: #f2f2f2;
	border-radius: 3px;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
	margin-right: 10px;
}
.on[data-v-268e042a] {
	background: #28a8e0;
	color: #fff;
}
.comList[data-v-268e042a] {
	width: 100%;
	height: auto;
	overflow: hidden;
	margin-bottom: 30px;
}

