
@media screen and (min-width: 1441px) {
.detail .left[data-v-788bccbc] {
    width: 50%;
    float: left;
}
.detail .right[data-v-788bccbc] {
    width: 50%;
    float: right;
}
.activity-detail .filter .tips[data-v-788bccbc] {
    font-size: 16px;
}
.search-box span[data-v-788bccbc] {
    width: 100px;
}
}
@media screen and (max-width: 1440px) {
.detail[data-v-788bccbc] {
    width: 90%;
}
.detail .line[data-v-788bccbc] {
    display: none;
}
.activity-detail .filter .tips[data-v-788bccbc] {
    font-size: 12px;
}
.search-box span[data-v-788bccbc] {
    width: 95px;
}
}
.activity-detail[data-v-788bccbc] {
  width: 100%;
  padding-bottom: 50px;
  min-height: 1000px;
}
.activity-detail .detail[data-v-788bccbc] {
  margin-top: 20px;
  overflow: hidden;
  border: 1px solid #ccc;
  position: relative;
}
.activity-detail .detail .title[data-v-788bccbc] {
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
  background: #e6e6e6;
}
.activity-detail .detail .line[data-v-788bccbc] {
  position: absolute;
  left: 50%;
  width: 10px;
  margin-left: -5px;
  background: #e6e6e6;
  height: 100%;
}
.activity-detail .detail ul[data-v-788bccbc] {
  padding: 10px 35px;
  height: 100%;
}
.activity-detail .detail ul li[data-v-788bccbc] {
  margin: 15px 0;
  padding: 5px 0;
  font-size: 16px;
  position: relative;
  line-height: 1.5;
}
.activity-detail .detail ul li span[data-v-788bccbc] {
  left: 0;
  top: 5px;
  position: absolute;
  font-size: 16px;
}
.activity-detail .detail ul li p[data-v-788bccbc] {
  padding-left: 80px;
  width: 100%;
  font-size: 16px;
  line-height: 1.5;
}
.activity-detail .filter[data-v-788bccbc] {
  margin-top: 20px;
}
.activity-detail .filter .date-box[data-v-788bccbc] {
  display: inline-block;
}
.activity-detail .filter .days[data-v-788bccbc] {
  display: inline-block;
  padding: 0 10px;
}
.activity-detail .filter .search-box[data-v-788bccbc] {
  display: inline-block;
}
.activity-detail .filter .search-box span[data-v-788bccbc] {
  display: inline-block;
  margin-right: 10px;
  text-align: center;
  color: #fff;
  height: 40px;
  line-height: 40px;
}
.activity-detail .filter .tips[data-v-788bccbc] {
  display: inline-block;
  color: #888;
}
.activity-detail .filter .tips img[data-v-788bccbc] {
  vertical-align: top;
  width: 18px;
  height: 18px;
  margin-right: 5px;
}
.activity-detail .list[data-v-788bccbc] {
  margin-top: 20px;
  border: 1px solid #ccc;
}
.activity-detail .list .head[data-v-788bccbc] {
  height: 60px;
  line-height: 60px;
  padding-left: 20px;
  font-size: 16px;
}
.activity-detail .list span[data-v-788bccbc] {
  width: 12.5%;
  float: left;
  text-align: center;
}
.activity-detail .list .title[data-v-788bccbc] {
  overflow: hidden;
  background: #e6e6e6;
}
.activity-detail .list .title span[data-v-788bccbc] {
  height: 45px;
  line-height: 45px;
}
.activity-detail .list ul li[data-v-788bccbc] {
  overflow: hidden;
}
.activity-detail .list ul li span[data-v-788bccbc] {
  height: 65px;
  line-height: 65px;
}

