
.classify[data-v-4737e7de] {
  padding-bottom: 25px;
}
.classify .classify-box[data-v-4737e7de] {
  overflow: hidden;
  width: auto;
  height: auto;
  padding: 0 10px;
  border-bottom: 1px solid #e5e5e5;
}
.classify .classify-box .classify-tit[data-v-4737e7de] {
  overflow: hidden;
  width: 100%;
  height: 40px;
  margin: 12px 0 5px;
}
.classify .classify-box .classify-cont[data-v-4737e7de] {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}
.classify .classify-box span[data-v-4737e7de] {
  font-size: 14px;
  line-height: 40px;
  display: inline-block;
  float: left;
  height: 40px;
  margin-bottom: 3px;
  padding: 0 20px;
  cursor: pointer;
  text-align: center;
  border-right: 1px solid #fff;
  background-color: #f2f2f2;
}
.classify-tit span[data-v-4737e7de] {
  width: 200px;
  font-size: 16px!important;
  overflow: hidden;
  vertical-align: middle;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.classify-cont span[data-v-4737e7de] {
  width: auto;
  padding: 0 15px;
  color: #656565;
  overflow: hidden;
  vertical-align: middle;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.clasArr[data-v-4737e7de] {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAHCAYAAAA8sqwkAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyZpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMDY3IDc5LjE1Nzc0NywgMjAxNS8wMy8zMC0yMzo0MDo0MiAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTUgKFdpbmRvd3MpIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOjU4MjY3NjFCNzYzNzExRTY4OTVGQUU0MEEyQzUwMUFBIiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOjU4MjY3NjFDNzYzNzExRTY4OTVGQUU0MEEyQzUwMUFBIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6NTgyNjc2MTk3NjM3MTFFNjg5NUZBRTQwQTJDNTAxQUEiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6NTgyNjc2MUE3NjM3MTFFNjg5NUZBRTQwQTJDNTAxQUEiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz4V+L1dAAAAfElEQVR42mJsaGgwYGBgiALi8vr6+v8MOEBjY6MjkLJmAhL3gdgOiKcCBRnxKF4HxBeZgKZ+BDLcgdgImyYkxXFAtZtBNjDg0oSuGCTG+P//f2TT+IHUTiA+B8RrgHgtsmIMDWia9IE4DFkxGIA0oGNgyPEDsQM2OYAAAwCUUFSqU+/ZfgAAAABJRU5ErkJggg==) center no-repeat;
  width: 50px;
  height: 40px;
}
.classOn[data-v-4737e7de] {
  transform: rotate(180deg);
  /* IE 9 */
  -ms-transform: rotate(180deg);
  /* Firefox */
  -moz-transform: rotate(180deg);
  /* Safari å’Œ Chrome */
  -webkit-transform: rotate(180deg);
  /* Opera */
  -o-transform: rotate(180deg);
}
.selectbtns[data-v-4737e7de] {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.selectbtns span[data-v-4737e7de] {
  display: inline-block;
  height: 38px;
  line-height: 38px;
  padding-left: 18px;
  padding-right: 18px;
  background-color: #F1F1F1;
  text-align: center;
  cursor: pointer;
  margin: 1px;
}
.selectbtns span[data-v-4737e7de]:hover {
  background-color: #eeeeee;
}
.sign[data-v-4737e7de] {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB8AAAAVCAYAAAC+NTVfAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAQNJREFUeNpi/P//P8OAgJmMASwDYKkAkFwAxP5M9PYtkHwAshjEZaG3b5GFmejtW2TAQm/f0t7neHxLO58T4Vva+JxI31LX58T61moCA8PbCwwMNxdQyefE+tYRaKFuPgPDzw9U8DkpcQuyWC2egeFAItCZGyiMc1LiFtlipOAm3XKQb2cygpy+Hoj5wWImDQwMIcB4ZBMg2WLiLcfl2/tAt/AqMDD4HUB1ABEWgwAj3iqVmLgVNoBY/hnotk0ODAzWE4iyGL/lEN8ugAcxPgBzAAiw8RNlMXbLSSyl4EAK6GsHoLazDURZjGk5Kb6lAmChyLcUAsb/MxhgFgvQu0UFEGAAwkZhpDEtycMAAAAASUVORK5CYII=) right bottom no-repeat;
}
.signType[data-v-4737e7de] {
  background: #FFF3E5 !important;
  border: 1px solid #F8931F !important;
  color: #F9911E !important;
}
.commodity-type span[data-v-4737e7de] {
  margin-right: 15px;
  display: inline-block;
}

