
#recMan[data-v-1a75627a] {
  width: 600px;
  height: auto;
  min-height: 480px;
  padding-top: 20px;
  background-color: #f2f2f2;
}
#recMan .input[data-v-1a75627a] {
  width: 280px;
  border: 1px solid #ccc;
}
#recMan .tag[data-v-1a75627a] {
  float: left;
  width: 125px;
  height: 40px;
  margin-right: 10px;
  line-height: 40px;
  text-align: right;
}
#recMan .mes[data-v-1a75627a] {
  font-size: 0;
  line-height: 40px;
  overflow: hidden;
  width: auto;
  height: auto;
}
#recMan .mes .ospan[data-v-1a75627a] {
  font-size: 14px;
  display: inline-block;
  width: auto;
  height: 42px;
  margin-bottom: 2px;
  margin-left: 5px;
  padding: 0 20px;
  cursor: pointer;
  text-align: center;
  border: 1px solid #e3e3e3;
  background-color: #fff;
}
#recMan .mes .signa[data-v-1a75627a] {
  background: #fff3e5 !important;
  border: 1px solid #f8931f !important;
  color: #f9911e !important;
}
#recMan .mes .blue[data-v-1a75627a] {
  width: 201px;
  height: 40px;
  margin: 10px 0px;
  line-height: 40px;
}
#recMan .oBox[data-v-1a75627a] {
  max-height: 204px;
  overflow-y: auto;
  padding: 10px;
  width: 445px;
  border: 1px solid #ccc;
}
#recMan .oBox .obox span[data-v-1a75627a] {
  margin: 0 10px;
}
#recMan .oBox .obox img[data-v-1a75627a] {
  margin: 0 10px;
}
#recMan .clear[data-v-1a75627a] {
  clear: both;
  font-size: 0;
  line-height: 0;
  height: 15px;
  width: 100%;
}

