
#tan .required[data-v-2fc03a64] {
  margin-left: 100px;
}
#tan input[data-v-2fc03a64] {
  width: 300px;
  margin-top: 80px;
  outline: none;
  height: 40px;
  margin-left: 10px;
  padding-left: 10px;
}

