
@media only screen and (max-width: 1145px) {
.button-box[data-v-2d02eebe] {
    margin-top: 10px;
    display: block;
}
}
.search-module[data-v-2d02eebe] {
  padding-top: 16px;
  padding-bottom: 16px;
}
.search-module .search-input[data-v-2d02eebe] {
  height: 40px;
  color: #a5a5a5;
  font-size: 14px;
  line-height: 40px;
  text-indent: 15px;
  padding: 0;
  outline: none;
  margin-right: 15px;
}
.search-module .inline-box[data-v-2d02eebe] {
  display: inline-block;
  margin-right: 10px;
}
.search-module .button-box[data-v-2d02eebe] {
  display: inline-block;
}
.search-module .sleBtn[data-v-2d02eebe] {
  display: inline-block;
  margin-right: 10px;
}
.search-module .search-select[data-v-2d02eebe] {
  display: inline-block;
  margin-right: 10px;
}
.search-module .search-btn[data-v-2d02eebe] {
  width: 100px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  font-size: 16px;
  margin-right: 10px;
  display: inline-block;
  text-align: center;
}
.search-module .filter[data-v-2d02eebe],
.search-module .reset[data-v-2d02eebe] {
  width: 100px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  font-size: 16px;
  margin-right: 10px;
  display: inline-block;
  text-align: center;
}
.listBox[data-v-2d02eebe] {
  border: 1px #ccc solid;
  width: 100%;
  height: auto;
  float: left;
}
.listBox .homeTitle[data-v-2d02eebe] {
  background: #e6e6e6;
  overflow: hidden;
  line-height: 50px;
}
.listBox .homeList[data-v-2d02eebe] {
  border-bottom: 1px solid #fff;
  height: 50px;
  line-height: 50px;
  color: #7f7f7f;
}
.listBox .homeList .infoDetail[data-v-2d02eebe] {
  text-align: center;
}
.listBox .homeList .infoDetail a[data-v-2d02eebe] {
  display: inline-block;
}
.listBox .homeList ol[data-v-2d02eebe],
.listBox .homeTitle ul[data-v-2d02eebe] {
  overflow: hidden;
}
.listBox .homeList ol li[data-v-2d02eebe] {
  overflow: hidden;
  float: left;
  width: 14%;
  height: 50px;
  text-align: center;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.listBox .homeTitle ul li[data-v-2d02eebe] {
  overflow: hidden;
  float: left;
  width: 14%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 12px;
}
.listBox .listTitle[data-v-2d02eebe] {
  padding: 15px 20px;
}
.listBox .listTitle p span[data-v-2d02eebe] {
  display: inline-block;
  padding: 0 10px;
  font-size: 30px;
  line-height: 0px;
  position: relative;
  top: 5px;
}
.listBox .listTitle p strong[data-v-2d02eebe] {
  color: red;
}
.listBox #emptyData[data-v-2d02eebe] {
  margin: 0 auto;
  text-align: center;
  height: 50px;
  line-height: 50px;
  color: orange;
}

