
#paging-list[data-v-5c52da64] {
  padding: 20px 0px;
  background-color: #f7f7f7;
  min-height: 250px;
  height: 100%;
}
#paging-list .none-tips[data-v-5c52da64] {
  color: #f7ab53;
  font-size: 20px;
  text-align: center;
  margin-top: 50px;
}
#paging-list .clear[data-v-5c52da64] {
  content: "";
  display: block;
  line-height: 0;
  visibility: hidden;
  clear: both;
}
#paging-list .menu[data-v-5c52da64] {
  padding-left: 50px;
  padding-bottom: 20px;
}
#paging-list .menu .button[data-v-5c52da64] {
  height: 40px;
  width: 120px;
  border: none;
  line-height: 40px;
  font-size: 16px;
  color: #333;
  border-radius: 5px;
  background-color: #fff;
  display: inline-block;
  margin-right: 12px;
  text-align: center;
  cursor: pointer;
}
#paging-list .menu .select-btn[data-v-5c52da64] {
  background-color: #28a8e0;
  color: #fff;
  text-align: center;
}
#paging-list .list[data-v-5c52da64] {
  padding: 0 50px;
  overflow: auto;
}
#paging-list .list[data-v-5c52da64]:after {
  content: "";
  display: block;
  line-height: 0;
  visibility: hidden;
  clear: both;
}
#paging-list .list span[data-v-5c52da64] {
  margin-right: 10px;
  margin-bottom: 10px;
  height: 40px;
  min-width: 100px;
  padding: 0 15px;
  float: left;
  text-align: center;
  line-height: 38px;
  vertical-align: middle;
  border: 1px solid #d2d2d2;
  color: #333;
  font-size: 14px;
  cursor: pointer;
  background-color: #fff;
}
#paging-list .list .radio[data-v-5c52da64] {
  border: 1px solid #f8931f;
  color: #f8931f;
}
#paging-list .list .checkbox[data-v-5c52da64] {
  border: 1px solid #f8931f;
  color: #f8931f;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB8AAAAVCAYAAAC+NTVfAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAQNJREFUeNpi/P//P8OAgJmMASwDYKkAkFwAxP5M9PYtkHwAshjEZaG3b5GFmejtW2TAQm/f0t7neHxLO58T4Vva+JxI31LX58T61moCA8PbCwwMNxdQyefE+tYRaKFuPgPDzw9U8DkpcQuyWC2egeFAItCZGyiMc1LiFtlipOAm3XKQb2cygpy+Hoj5wWImDQwMIcB4ZBMg2WLiLcfl2/tAt/AqMDD4HUB1ABEWgwAj3iqVmLgVNoBY/hnotk0ODAzWE4iyGL/lEN8ugAcxPgBzAAiw8RNlMXbLSSyl4EAK6GsHoLazDURZjGk5Kb6lAmChyLcUAsb/MxhgFgvQu0UFEGAAwkZhpDEtycMAAAAASUVORK5CYII=) #fff right bottom no-repeat;
}
#paging-list .list .none-select[data-v-5c52da64] {
  color: #333;
  cursor: not-allowed;
  border: 1px solid #ccc;
}
#paging-list .bottom[data-v-5c52da64] {
  position: absolute;
  bottom: 50px;
  height: 50px;
  width: 100%;
  border: none;
  background: #fff;
  line-height: 50px;
}
#paging-list .bottom .btn[data-v-5c52da64] {
  height: 25px;
  width: 80px;
  border: 1px solid #9fa0a0;
  line-height: 23px;
  font-size: 14px;
  color: #9fa0a0;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  margin-right: 7px;
  -webkit-user-select: none;
          user-select: none;
}
#paging-list .bottom .select-btn[data-v-5c52da64] {
  border: 1px solid #ff8d01;
  color: #ff8d01;
}
#paging-list .bottom .tips-word[data-v-5c52da64] {
  color: #ff8d01;
  font-size: 14px;
  float: right;
  margin-right: 20px;
}

