
#attr_sync[data-v-9ca9705a] {
  padding: 10px 30px;
  padding-bottom: 60px;
}
#attr_sync ul[data-v-9ca9705a] {
  width: 100%;
  height: auto;
  overflow: hidden;
}
#attr_sync ul li[data-v-9ca9705a] {
  min-width: 120px;
  height: 45px;
  line-height: 45px;
  float: left;
  text-align: center;
  cursor: pointer;
}
#attr_sync .bottom-container[data-v-9ca9705a] {
  height: 50px;
  position: fixed;
  bottom: 50px;
  z-index: 5;
  border-top: 2px dashed #D9D9D9;
  background-color: #fff;
  width: 90%;
}
#attr_sync .bottom-container img[data-v-9ca9705a] {
  width: 20px;
  height: 20px;
  float: left;
  margin: 13px 4px;
}
#attr_sync .bottom-container .yellow-h3[data-v-9ca9705a] {
  height: 50px;
  line-height: 50px;
  color: orange;
  float: left;
}
#attr_sync .bottom-container .gray-h3[data-v-9ca9705a] {
  height: 50px;
  line-height: 50px;
  color: gray;
  float: left;
  margin-left: 10px;
}

