
#tan[data-v-384a8d05] {
	height: 100%;
	background: #F7F7F7;
	padding: 19px;
}
#tan .title[data-v-384a8d05]{
	width: 100%;
	height: auto;
}
#tan .title div[data-v-384a8d05] {
	display: inline-block;
	width: 300px;
	height: 86px;
	margin-left: 10px;
}
#tan .title div span[data-v-384a8d05]{
	display: block;
	height: 30px;
	line-height: 30px;
}
#tan .menu[data-v-384a8d05]{
	margin-bottom: 20px;
}
#tan .menu input[data-v-384a8d05]{
	width: 140px;
	height: 40px;
	padding-left: 7px;
}
#tan .menu .btn[data-v-384a8d05]{
	display: inline-block;
	width: 100px;
	height: 40px;
	line-height: 40px;
	color: #fff;
	text-align: center;
	font-size: 16px;
	vertical-align: middle;
}
#tan .menu .canMulti[data-v-384a8d05] {
	display: inline-block;
	vertical-align: middle;
	background: #fff;
	height: 40px;
}
#tan .menu .canMulti .timeBox[data-v-384a8d05]{
	position: relative;
	width: 350px; 
	height: 40px; 
	line-height: 40px;
	cursor: pointer;
	border: 1px solid #CECDCD;
}
#tan .menu .canMulti .time[data-v-384a8d05]{
	float: left;
	width: 140px; 
	height: 39px;
	line-height: 39px;
	text-align: center;
}
#tan .menu .canMulti .timeBox .down[data-v-384a8d05]{
	display: inline-block;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid #b3b3b3;
	position: absolute;
	top: 15px;
	right: 17px;
}
#tan ul[data-v-384a8d05]{
	height: 60px;
	border-top: 1px solid #D5D5D5;
}
#tan .top ul li[data-v-384a8d05]{
	height: 40px;
	line-height: 40px;
	margin-top: 10px;
	border-right: 1px solid #D5D5D5;
}
#tan .content[data-v-384a8d05]{
	background: #F7F7F7;
}
#tan .list li[data-v-384a8d05],
#tan .list i[data-v-384a8d05],
#tan .hide[data-v-384a8d05]{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
#tan .content ul li[data-v-384a8d05]{
	float: left;
	text-align:center;
}
#tan .content ul li[data-v-384a8d05]:nth-child(1){
	width: 58px;
}
#tan .content ul li[data-v-384a8d05]:nth-child(2){
	width: 108px;
}
#tan .content ul li[data-v-384a8d05]:nth-child(3){
	width: 140px;
}
#tan .content ul li[data-v-384a8d05]:nth-child(4){
	width: 105px;
}
#tan .content ul li[data-v-384a8d05]:nth-child(5){
	width: 150px;
}
#tan .content ul li[data-v-384a8d05]:nth-child(6){
	width: 156px;
}
#tan .content ul li[data-v-384a8d05]:nth-child(7){
	width: 233px;
	border-right: none;
}
#tan .content .list input[data-v-384a8d05]{
	width: 65px;
	height: 39px;
	padding-left: 7px;
	border: 1px solid #D5D5D5;
	vertical-align: middle;
}
#tan .content .list i[data-v-384a8d05]{
	display: inline-block;
	width: 40px;
	height: 39px;
	border: 1px solid #ccc;
	vertical-align: middle;
	line-height: 39px;
	background: #fff;
	border-left: none;
}
#tan .content .list ul li[data-v-384a8d05]{
	height: 60px;
	line-height: 60px;
}
#tan .content .list ul .end span[data-v-384a8d05]{
	display: inline-block;
	width: 40px;
	height: 39px;
	line-height: 39px;
	border: 1px solid #D5D5D5;
	vertical-align: middle;
	border-left: none;
	background: #fff;
}
#tan .list:last-child ul[data-v-384a8d05]{
	border-bottom: 1px solid #D5D5D5;
}
#emptyData[data-v-384a8d05] {
	margin: 0 auto;
	text-align: center;
	height: 50px;
	line-height: 50px;
	color: orange;
}

