
#weChatBinding[data-v-b8f3e3a4] {
  width: 100%;
  height: auto;
  min-width: 780px;
}
#weChatBinding .wx-showBox[data-v-b8f3e3a4] {
  height: 45px;
  line-height: 45px;
  width: 100%;
  margin-bottom: 15px;
}
#weChatBinding .wx-showBox span[data-v-b8f3e3a4] {
  display: block;
  height: 45px;
  line-height: 45px;
  text-align: right;
  width: 100px;
  color: #666;
  margin-right: 20px;
  float: left;
}
#weChatBinding .wx-showBox input[data-v-b8f3e3a4] {
  float: left;
  outline: none;
  border: 1px solid #ccc;
  padding-left: 20px;
  width: 400px;
  height: 45px;
  color: #666;
  box-sizing: border-box;
}
#weChatBinding .btn[data-v-b8f3e3a4] {
  width: 200px;
  margin-left: 195px;
}

