
#wareImport .el-input[data-v-88ddb2a4] {
  width: 200px;
}
#wareImport .tabletop[data-v-88ddb2a4] {
  background-color: #ffffff;
  text-align: center;
}
#wareImport .detailsBtn[data-v-88ddb2a4] {
  color: #29abe2;
  cursor: pointer;
}
@media only screen and (max-width: 1150px) {
#wareImport .btnChange[data-v-88ddb2a4] {
    margin-top: 15px;
}
}
#wareImport .tebBox[data-v-88ddb2a4] {
  display: inline-block;
  color: orange;
  cursor: pointer;
}
#wareImport .tebBox li[data-v-88ddb2a4] {
  border: 1px orange solid;
  display: inline-block;
  padding: 10px 35px;
}
#wareImport .tebBox li[data-v-88ddb2a4]:nth-child(n + 2) {
  border-left: none;
}
#wareImport .tebBox .active[data-v-88ddb2a4] {
  background-color: orange;
  color: #ffffff;
}
#wareImport .serBox[data-v-88ddb2a4] {
  margin-top: 20px;
}
#wareImport .serBox h1[data-v-88ddb2a4] {
  display: inline-block;
  line-height: 42px;
}
#wareImport .serBox .timer[data-v-88ddb2a4] {
  display: inline-block;
  width: 200px;
}
#wareImport .serBox .search-input[data-v-88ddb2a4] {
  height: 40px;
  color: #a5a5a5;
  font-size: 14px;
  line-height: 40px;
  text-indent: 15px;
  padding: 0;
  outline: none;
  margin-right: 15px;
}
#wareImport .tableCon[data-v-88ddb2a4] {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  border-bottom: 1px #cccccc solid;
}
#wareImport .tableCon li[data-v-88ddb2a4] {
  text-align: center;
  height: 50px;
  line-height: 50px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
          flex: 1;
}
#wareImport .ellipsis[data-v-88ddb2a4] {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#wareImport .page-box[data-v-88ddb2a4] {
  margin-top: 10px;
}


@media screen and (max-width: 1440px) {
.List[data-v-35a73964] {
    width: 80%;
    height: 480px;
    margin: 30px auto;
    min-width: 940px;
}
.mulu[data-v-35a73964] {
    height: 65px;
    line-height: 65px;
}
}
@media screen and (min-width: 1441px) {
.List[data-v-35a73964] {
    width: 80%;
    height: 570px;
    margin: 30px auto;
    min-width: 990px;
}
.mulu[data-v-35a73964] {
    height: 90px;
    line-height: 90px;
}
}
#login-audit[data-v-35a73964] {
  width: 100%;
}
#login-audit .title[data-v-35a73964] {
  width: 100%;
  height: 50px;
  max-width: 1240px;
}
#login-audit .audit[data-v-35a73964] {
  width: 100%;
  height: 50px;
  margin: 50px auto;
  text-align: center;
}
#login-audit .shopList[data-v-35a73964] {
  width: 80%;
  height: 100%;
  padding-bottom: 50px;
  margin: 30px auto;
}
#login-audit .shopList li[data-v-35a73964] {
  width: 100%;
  min-width: 980px;
  height: 80px;
  color: #333;
  background: #fff;
  padding-left: 30px;
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 5px 12px 20px #ccc;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#login-audit .shopList li div[data-v-35a73964] {
  height: 80px;
  line-height: 80px;
  float: left;
}
#login-audit .shopList li div .shopBtn[data-v-35a73964] {
  width: 100%;
  height: 60px;
  text-align: center;
  cursor: pointer;
  line-height: 60px;
  overflow: hidden;
  vertical-align: middle;
  text-overflow: ellipsis;
  /*white-space: nowrap;*/
  padding: 0 10px;
}
#login-audit .return[data-v-35a73964] {
  width: 130px;
  height: 50px;
  line-height: 50px;
  float: left;
  margin-top: 20px;
  margin-left: 445px;
}
#login-audit .nextsubmit[data-v-35a73964] {
  width: 130px;
  height: 50px;
  line-height: 50px;
  float: left;
  margin-top: 20px;
  margin-left: 40px;
}
.mulu[data-v-35a73964] {
  width: 50%;
  font-size: 22px;
  text-align: center;
  float: left;
  color: #444;
  border-bottom: 2px solid #efefef;
  cursor: pointer;
}
.ont[data-v-35a73964] {
  border-bottom: 2px solid #27a8df;
  color: #29a8df;
}
.shoplist[data-v-35a73964] {
  width: 98%;
  padding: 2% 1%;
  height: auto;
  overflow: auto;
  margin-top: 90px;
}
.shoplist ul[data-v-35a73964] {
  width: 100%;
  height: 90px;
  border-bottom: 1px solid #e6e6e6;
}
.shoplist ul li[data-v-35a73964] {
  width: 10%;
  height: 100%;
  line-height: 90px;
  text-align: center;
  color: #333;
  float: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.shoplist ul li div[data-v-35a73964] {
  width: 50%;
  height: 90px;
  line-height: 90px;
  float: left;
  color: #28a6e0;
}
.shoplist ul li .oBox[data-v-35a73964] {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.List .title[data-v-35a73964] {
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  height: 47px;
  color: #333;
  line-height: 50px;
}
.shoplist .areaTagList[data-v-35a73964] {
  width: 100%;
  height: 20px;
  position: absolute;
  bottom: 8px;
  text-align: center;
  line-height: 20px;
}
.shoplist .areaTag[data-v-35a73964] {
  height: 20px;
  border-radius: 5px;
  background: #fff3e0;
  color: #ff9e12;
  margin-left: 8px;
  padding: 0 11px;
  display: inline-block;
}
.creatStores[data-v-35a73964] {
  width: 80%;
  height: 630px;
  min-width: 1024px;
  margin: 35px auto;
  background-color: #fff;
  overflow: hidden;
}
.creatStores .title[data-v-35a73964] {
  margin-left: 60px;
  line-height: 50px;
  font-weight: bold;
}
.creatStores .title .titleName[data-v-35a73964] {
  width: 120px;
  float: left;
  font-size: 16px;
}
.creatStores .title .titleDashed[data-v-35a73964] {
  width: 760px;
  border-bottom: 1px dashed #ccc;
  float: left;
  margin-top: 24px;
  font-size: 16px;
  margin-left: -30px;
}
.creatStores .oTop[data-v-35a73964] {
  width: 100%;
  height: 210px;
  padding-left: 100px;
}
.creatStores .oTop .obox[data-v-35a73964] {
  width: 100%;
  height: 40px;
  margin-top: 30px;
}
.creatStores .oTop .obox .required[data-v-35a73964] {
  float: left;
  width: 80px;
  height: 40px;
  line-height: 40px;
  text-align: right;
  margin-right: 10px;
}
.creatStores .oTop .obox .input[data-v-35a73964] {
  width: 260px;
  border: 1px solid #ccc;
  float: left;
}
.creatStores .oLeft[data-v-35a73964] {
  width: 50%;
  height: 435px;
  padding-left: 45px;
  float: left;
}
.creatStores .oLeft .obox[data-v-35a73964] {
  width: 100%;
  height: 40px;
  margin-top: 28px;
}
.creatStores .oLeft .obox .required[data-v-35a73964] {
  float: left;
  width: 100px;
  height: 40px;
  line-height: 40px;
  text-align: right;
  margin-right: 10px;
}
.creatStores .oLeft .obox .input[data-v-35a73964] {
  width: 335px;
  border: 1px solid #ccc;
  float: left;
}
.creatStores .obox .tacitly[data-v-35a73964] {
  float: left;
  width: 100px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background: #f4f5f7;
}
.selectbtns span[data-v-35a73964] {
  margin-left: 20px;
  min-width: 80px;
}
.statisticsList[data-v-35a73964] {
  position: relative;
  line-height: 41px;
}
.statisticsList input[data-v-35a73964] {
  text-align: center;
  display: block;
  float: left;
  height: 41px;
  width: 158px;
  outline: none;
  border: 0;
  border-right: 1px #b3b3b3 solid;
}
.statisticsList ul[data-v-35a73964] {
  width: 100%;
  margin: 0;
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 10;
  background: #fff;
  max-height: 300px;
  overflow: auto;
  border: 1px #b3b3b3 solid;
  border-top: 0;
}
.statisticsList ul li[data-v-35a73964] {
  text-align: center;
  height: 41px;
  border: 1px #ccc solid;
  background: #fff;
  cursor: pointer;
  border-right: 0 !important;
  border-left: 0 !important;
  border-bottom: 0 !important;
}
.statisticsList ul li[data-v-35a73964]:last-of-type {
  border-bottom: 0;
}
.tableListInp[data-v-35a73964] {
  height: 40px;
  color: #666666;
  border: #b3b3b3 solid 1px;
  cursor: pointer;
}
.tableListInp .oSpan[data-v-35a73964] {
  height: 39px;
  line-height: 39px;
  width: 215px;
  display: block;
  float: left;
  text-align: center;
  border-right: 1px #b3b3b3 solid;
}
.tableListInp div[data-v-35a73964] {
  width: 40px;
  height: 40px;
  position: relative;
  z-index: 5;
}
.tableListInp div i[data-v-35a73964] {
  height: 10px;
  width: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -5px;
  margin-left: -5px;
  border-top: 10px solid #b3b3b3;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  box-sizing: border-box;
}
.addinput[data-v-35a73964] {
  width: 165px;
  height: 34px;
  float: left;
  border: 1px solid #cdcdcd;
  margin-left: 18px;
}
.oDiv[data-v-35a73964] {
  width: 34px;
  height: 32px;
  border-left: 1px solid #cdcdcd;
  float: right;
}
.obox .selectbtns[data-v-35a73964] {
  margin-left: 85px;
}
.oZhe[data-v-35a73964] {
  width: 100%;
  height: 44px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 6;
  background-color: #fff;
  filter: alpha(opacity=60);
  opacity: 0.6;
}
.aTitle[data-v-35a73964] {
  width: 100%;
  height: 20px;
  line-height: 20px;
  margin-left: 61px;
  margin-top: 30px;
}
.aTitle i[data-v-35a73964] {
  width: 3px;
  height: 20px;
  background-color: #ee931e;
  float: left;
  display: block;
}
.aTitle h3[data-v-35a73964] {
  width: 60%;
  height: 20px;
  line-height: 20px;
  float: left;
  margin-left: 20px;
  font-weight: bold;
}
.labeldetial[data-v-35a73964] {
  height: 40;
  line-height: 40px;
  float: left;
  position: relative;
}
.labeldetial:hover .dClose[data-v-35a73964] {
  display: block;
}
.labeldetial .dClose[data-v-35a73964] {
  position: absolute;
  top: -6px;
  right: 0px;
  width: 10px;
  height: 10px;
  display: none;
  cursor: pointer;
}
#login-audit .List .top_section[data-v-35a73964] {
  margin-bottom: 10px;
  height: 40px;
  line-height: 40px;
}
#login-audit .List .top_section h3[data-v-35a73964] {
  float: left;
  font-size: 16px;
  font-weight: 700;
  color: #333;
}
#login-audit .List .top_section a[data-v-35a73964] {
  width: 100px;
  height: 40px;
  line-height: 40px;
  float: right;
  border: 1px solid #b4b4b4;
  color: #b4b4b4;
}
#login-audit .List .top_section input[data-v-35a73964] {
  width: 240px;
  border: 1px solid #b4b4b4;
  margin-right: 10px;
}

