
#calendarResult[data-v-458b4504] {
  -webkit-user-select: none;
          user-select: none;
  display: inline-block;
  position: relative;
  /*日历*/
}
#calendarResult input[data-v-458b4504] {
  padding: 0;
  outline: none;
  cursor: pointer;
}
#calendarResult .input-div[data-v-458b4504] {
  float: left;
  width: 240px;
  height: 40px;
  border: 1px solid #ccc;
}
#calendarResult .input-div .calendar-input[data-v-458b4504] {
  line-height: 38px;
  width: 200px;
  height: 38px;
  border: none;
  cursor: pointer;
  text-align: center;
  vertical-align: top;
  float: left;
}
#calendarResult .input-div .trangle[data-v-458b4504] {
  width: 40px;
  height: 38px;
  border: none;
  border-left: 1px solid #ccc;
  text-align: center;
  line-height: 38px;
  float: right;
}
#calendarResult .calendar[data-v-458b4504] {
  width: 200px;
  height: auto;
  border: 1px #CCCCCC solid;
  font-family: "\5FAE\8F6F\96C5\9ED1", "\5B8B\4F53", Arial, STHeiti, "WenQuanYi Micro Hei", sans-serif;
  font-size: 14px;
  position: absolute;
  margin-top: 39px;
  background-color: #fff;
  z-index: 10;
}
#calendarResult .calendar .calendar-title[data-v-458b4504] {
  width: 100%;
  height: 35px;
  border: none;
  line-height: 35px;
}
#calendarResult .calendar .calendar-title .calendar-left[data-v-458b4504] {
  text-align: left;
  float: left;
  width: 25%;
  padding-left: 10px;
  cursor: pointer;
}
#calendarResult .calendar .calendar-title .calendar-center[data-v-458b4504] {
  text-align: center;
  float: left;
  width: 50%;
  cursor: pointer;
}
#calendarResult .calendar .calendar-title .calendar-right[data-v-458b4504] {
  text-align: right;
  float: left;
  width: 25%;
  cursor: pointer;
  padding-right: 10px;
}
#calendarResult .calendar .calendar-title .calendar-left[data-v-458b4504]:hover,
#calendarResult .calendar .calendar-title .calendar-right[data-v-458b4504]:hover {
  background-color: #eee;
  -webkit-user-select: none;
          user-select: none;
}
#calendarResult .calendar .calendar-week[data-v-458b4504],
#calendarResult .calendar .calendar-day[data-v-458b4504] {
  text-align: center;
  width: 100%;
  padding: 2px;
}
#calendarResult .calendar .calendar-week span[data-v-458b4504],
#calendarResult .calendar .calendar-day span[data-v-458b4504] {
  width: 14.2857%;
  height: 24px;
  border: 1px solid transparent;
  float: left;
  line-height: 24px;
  color: #898989;
  font-size: 12px;
}
#calendarResult .calendar .calendar-week span.calendar-on[data-v-458b4504]:hover,
#calendarResult .calendar .calendar-day span.calendar-on[data-v-458b4504]:hover {
  background-color: #eee;
  cursor: pointer;
}
#calendarResult .calendar .calendar-week span.calendar-next[data-v-458b4504],
#calendarResult .calendar .calendar-day span.calendar-next[data-v-458b4504],
#calendarResult .calendar .calendar-week span.calendar-pre[data-v-458b4504],
#calendarResult .calendar .calendar-day span.calendar-pre[data-v-458b4504] {
  color: #ddd;
}
#calendarResult .calendar .calendar-time[data-v-458b4504] {
  width: 100%;
  height: 40px;
  border: none;
  clear: both;
}
#calendarResult .calendar .calendar-time span[data-v-458b4504] {
  float: left;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  text-align: center;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
#calendarResult .calendar .calendar-time span.calendar-hour[data-v-458b4504] {
  border-right: 1px solid #ccc;
  cursor: pointer;
}
#calendarResult .calendar .calendar-time span.calendar-minute[data-v-458b4504] {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  cursor: pointer;
}
#calendarResult .calendar .calendar-time span.calendar-second[data-v-458b4504] {
  border-left: 1px solid #ccc;
  cursor: pointer;
}
#calendarResult .calendar .calendar-time span.calendar-hour[data-v-458b4504]:hover,
#calendarResult .calendar .calendar-time span.calendar-second:hover，.calendar-time[data-v-458b4504] {
  background-color: #eee;
}
#calendarResult .calendar .calendar-bar[data-v-458b4504] {
  width: 100%;
  height: 40px;
  border: none;
  text-align: center;
  clear: both;
  padding-top: 10px;
}
#calendarResult .calendar .calendar-bar .calendar-size[data-v-458b4504] {
  position: absolute;
  left: 0;
  top: -9px;
  height: 2px;
  background-color: #727071;
  margin: 9px 0 9px 0;
}
#calendarResult .calendar .calendar-bar .calendar-handle[data-v-458b4504] {
  cursor: pointer;
  position: absolute;
  right: 0%;
  top: -10px;
  width: 20px;
  height: 20px;
  border: 2px solid #b3b3b3;
  background-color: #fff;
  margin-left: -10px;
}
#calendarResult .calendar .calendar-buttons[data-v-458b4504] {
  width: 100%;
  height: 40px;
  border: none;
  font-size: 0;
  clear: both;
}

