
#employlist .item[data-v-1cff0a5e] {
  background-color: #eeeeee;
  color: #898989;
  height: 150px;
}
#employlist .item .head[data-v-1cff0a5e] {
  border-left: 2px solid #026eb7;
  height: 65px;
  width: 100%;
  margin-bottom: 20px;
}
#employlist .item .head .mes[data-v-1cff0a5e] {
  width: 198px;
  text-indent: 10px;
}
#employlist .item .head .mes .username[data-v-1cff0a5e] {
  height: 50px;
  line-height: 50px;
  font-size: 26px;
  color: #595758;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#employlist .item .head .mes .job[data-v-1cff0a5e] {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
}
#employlist .item .head .pos[data-v-1cff0a5e] {
  width: 100px;
  height: 70px;
  line-height: 70px;
  text-align: center;
}
#employlist .item .head .pos .posnum[data-v-1cff0a5e] {
  font-size: 48px;
  color: #dddddd;
}
#employlist .item .head .pos .edit[data-v-1cff0a5e] {
  display: inline-block;
  color: #00AAE5;
  font-size: 18px;
}

