
#report-cate .yuChairFix[data-v-407a5666] {
  position: relative;
}
#report-cate .yuChairFix .line[data-v-407a5666] {
  float: left;
  width: 25px;
  line-height: 40px;
  text-align: center;
}
#report-cate .yuChairFix .detLi[data-v-407a5666] {
  position: relative;
  cursor: pointer;
}
#report-cate .yuChairFix .detLi .tableListInp[data-v-407a5666] {
  height: 40px;
  color: #666666;
  border: #b3b3b3 solid 1px;
  cursor: pointer;
}
#report-cate .yuChairFix .detLi .tableListInp .overdian[data-v-407a5666] {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 39px;
  line-height: 40px;
  width: 200px;
  display: block;
  float: left;
  text-align: center;
  border-right: 1px #B3B3B3 solid;
}
#report-cate .yuChairFix .detLi .tableListInp div[data-v-407a5666] {
  width: 40px;
  height: 40px;
  position: relative;
  z-index: 5;
}
#report-cate .yuChairFix .detLi .tableListInp div i[data-v-407a5666] {
  height: 10px;
  width: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -5px;
  margin-left: -5px;
  border-top: 10px solid #b3b3b3;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  box-sizing: border-box;
}
#report-cate .yuChairFix .detLi .shopBox[data-v-407a5666] {
  left: -250px;
}
#report-cate .yuChairFix .detLi .formHead[data-v-407a5666] {
  right: 0;
}
#report-cate .yuChairFix .detLi .detDiv[data-v-407a5666] {
  display: inline-block;
  width: 300px;
  background: #45404b;
  position: absolute;
  top: 45px;
  right: 0;
  padding: 10px;
  box-shadow: 3px 2px 10px #ccc;
  z-index: 5;
  width: 600px;
  top: 52px;
}
#report-cate .yuChairFix .detLi .detDiv .detI[data-v-407a5666] {
  width: 0;
  height: 0;
  line-height: 0;
  position: absolute;
  top: -10px;
  right: 30%;
  left: 400px;
  border-width: 10px;
  border-top: 0px;
  border-style: solid;
  border-color: #F7F7F7 #F7F7F7 #45404b #F7F7F7;
}
#report-cate .yuChairFix .detLi .detDiv .detH3[data-v-407a5666] {
  line-height: 30px;
  color: #e6e6e7;
  text-align: center;
  text-align: left;
  max-height: 500px;
  overflow: auto;
}
#report-cate .yuChairFix .detLi .detDiv .detH3 .all[data-v-407a5666] {
  width: 100px;
  margin-left: 1px;
  margin-right: 20px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #e6e6e7;
  margin-bottom: 5px;
  float: left;
}
#report-cate .yuChairFix .detLi .detDiv .detH3 .btn span[data-v-407a5666] {
  display: inline-block;
  width: 100px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #FF9800;
  margin-right: 20px;
  color: #FF9800;
  text-align: center;
}
#report-cate .yuChairFix .top-box[data-v-407a5666] {
  position: relative;
  margin-right: 10px;
  margin-bottom: 10px;
}
#report-cate .yuChairFix .top-box .searchs[data-v-407a5666],
#report-cate .yuChairFix .top-box .gray[data-v-407a5666] {
  width: 90px;
  height: 40px;
  line-height: 40px;
}
#report-cate .yuChairFix .top-box .yellow[data-v-407a5666],
#report-cate .yuChairFix .top-box .out[data-v-407a5666] {
  width: 90px;
  height: 40px;
  line-height: 40px;
  position: absolute;
  top: -50px;
}
#report-cate .yuChairFix .top-box .back[data-v-407a5666] {
  width: 90px;
  height: 40px;
  line-height: 40px;
  position: absolute;
  top: -50px;
  left: -100px;
  color: #B3B3B3;
  border: 1px solid #B3B3B3;
}
#report-cate .yuChairFix .top-box .out[data-v-407a5666] {
  right: 0;
}
#report-cate .yuChairFix .top-box .wordSize[data-v-407a5666] {
  font-size: 16px;
}
#report-cate .yuChairFix .top-box .cala[data-v-407a5666] {
  height: 40px;
  color: #666666;
  cursor: pointer;
}
#report-cate .yuChairFix .top-box .cala .data-box[data-v-407a5666] {
  width: 200px;
}
#report-cate .yuChairFix .top-box .cala input[data-v-407a5666] {
  position: relative;
  background: none;
  z-index: 2;
  display: block;
  float: left;
  height: 41px;
  width: 158px;
  outline: none;
  border: 0;
}
#report-cate .yuChairFix .top-box ul[data-v-407a5666] {
  width: 100%;
  margin: 0;
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 10;
  background: #fff;
  max-height: 300px;
  border: 1px solid #ccc;
  overflow: auto;
  border-top: 0;
}
#report-cate .yuChairFix .top-box ul li[data-v-407a5666] {
  text-align: center;
  height: 41px;
  border: 1px #ccc solid;
  background: #fff;
  cursor: pointer;
  border-right: 0 !important;
  border-left: 0 !important;
  border-bottom: 0 !important;
}
#report-cate .nav .totalName[data-v-407a5666] {
  display: inline-block;
  width: 100px;
  height: 35px;
  line-height: 35px;
  margin-right: 10px;
  background: #f2f2f2;
  border-radius: 5px;
  vertical-align: middle;
  text-align: center;
}
#report-cate .nav .shopName[data-v-407a5666] {
  display: inline-block;
  width: 200px;
  height: 35px;
  background: #f2f2f2;
  border-radius: 5px;
  position: relative;
  vertical-align: middle;
}
#report-cate .nav .shopName span[data-v-407a5666] {
  line-height: 35px;
  display: inline-block;
  height: 35px;
  width: 160px;
  padding-left: 10px;
}
#report-cate .nav .shopName i[data-v-407a5666] {
  position: absolute;
  right: 15px;
  top: 13px;
  height: 10px;
  width: 10px;
  display: inline-block;
  border-top: 10px solid #45404b ;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  box-sizing: border-box;
}
#report-cate .nav .selected[data-v-407a5666] {
  background: #29abe2;
  color: #fff;
}
#report-cate .nav .formType[data-v-407a5666] {
  margin-right: 10px;
}
#report-cate .nav .formType .typeTotal[data-v-407a5666] {
  display: inline-block;
  width: 100px;
  text-align: center;
  border: 1px solid #f8941f;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
}
#report-cate .nav .formType .typeOn[data-v-407a5666] {
  background: #f8941f;
  color: #fff;
}
#report-cate .nav .light[data-v-407a5666] {
  margin-bottom: 20px;
  display: inline-block;
}
#report-cate .nav .light .sel[data-v-407a5666] {
  display: inline-block;
  width: 135px;
  height: 40px;
  font-size: 16px;
  background: #f2f2f2;
  border-radius: 3px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  margin-right: 10px;
}
#report-cate .nav .light .on[data-v-407a5666] {
  background: #28a8e0;
  color: #fff;
}
#report-cate .nav .selectName[data-v-407a5666] {
  display: inline-block;
  margin-bottom: 10px;
}
#report-cate .nav .selectName span[data-v-407a5666] {
  font-size: 16px;
}

