
#citicTan .top[data-v-622f7d16] {
	width: 100%;
	height: 200px;
	padding: 10px 5px;
	padding-left: 20px;
	overflow: hidden;
}
#citicTan .det[data-v-622f7d16] {
	width: 100%;
	height: 40px;
	line-height: 40px;
}

