
#clear_rec .oTitle[data-v-43f07911] {
  width: 100%;
  overflow: hidden;
}
#clear_rec .oTitle .oLi[data-v-43f07911] {
  width: 90px;
  height: 40px;
  line-height: 40px;
  background-color: #f2f2f2;
  margin-right: 20px;
  float: left;
  text-align: center;
  border-radius: 5px;
  color: #333;
  cursor: pointer;
}
#clear_rec .oTitle .active[data-v-43f07911] {
  background-color: #28a8e0;
  color: #fff;
}
#clear_rec .oDian i[data-v-43f07911] {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #949494;
  border-radius: 50%;
  cursor: pointer;
}
#clear_rec .oDian i.select[data-v-43f07911] {
  background-color: #2daadd;
  border: none;
}
#clear_rec .detLi[data-v-43f07911] {
  cursor: pointer;
  display: inline-block;
  margin-bottom: 10px;
}
#clear_rec .detLi .detDiv[data-v-43f07911] {
  display: inline-block;
  width: 350px;
  background: #45404b;
  position: absolute;
  top: 45px;
  right: 0;
  box-shadow: 3px 2px 10px #ccc;
  z-index: 2000;
}
#clear_rec .detLi .detDiv .detI[data-v-43f07911] {
  width: 0;
  height: 0;
  line-height: 0;
  position: absolute;
  top: -10px;
  right: 30%;
  border-width: 10px;
  border-top: 0px;
  border-style: solid;
  border-color: #f7f7f7 #f7f7f7 #45404b #f7f7f7;
}
#clear_rec .detLi .detDiv .detH3[data-v-43f07911] {
  line-height: 22px;
  color: #e6e6e7;
  text-align: center;
  margin: 10px 12px;
  min-height: 87px;
  overflow: auto;
}

