































































































































































































































































/*#stat-com .backStyle{*/
/*width:260px;height: 40px;position: absolute;top: -50px;right: 200px;*/
/*}*/
/*#stat-com .backStyle a{*/
/*color: #FF8C01;text-align: center;font-size: 16px;width: 100px;height: 40px;line-height: 40px;border:1px solid #FF8C01;float: right;*/
/*}*/
#stat-com .oidList[data-v-de018380] {
	width: 100%;
	height: auto;
	margin-bottom: 30px;
	border: 1px solid #d2d2d2;
}
#stat-com .oidList ul[data-v-de018380] {
	width: 100%;
	height: 60px;
	background-color: #fff;
	border-bottom: #f7f7f7 solid 4px;
	overflow: hidden;
}
#stat-com .oidList ul li[data-v-de018380] {
	width: 10%;
	height: 60px;
	line-height: 60px;
	text-align: center;
	float: left;
	color: #42404b;
}
#stat-com .oidList ul.oUl[data-v-de018380] {
	height: 40px;
	background-color: #ecedf2;
	border: none;
	width: 100%;
	overflow: hidden;
}
#stat-com .oidList ul.oUl li[data-v-de018380] {
	width: 10%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	float: left;
}*/
#stat-com .orMaReMainList[data-v-de018380] {
	border: 1px solid #ccc;
	min-height: 400px;
	overflow: auto;
}
#stat-com .orMaReMainList section[data-v-de018380] {
	width: 100%;
	height: 70px;
	line-height: 70px;
}
#stat-com .orMaReMainList section h3[data-v-de018380] {
	margin-left: 30px;
	font-size: 16px;
}
#stat-com .orMaReMainList section h3 span[data-v-de018380] {
	color: #fe3d04;
	padding: 0 5px;
}
#stat-com .orMaReMainList li[data-v-de018380]:first-of-type,
#stat-com .orMaReMainList li[data-v-de018380]:last-of-type {
	background: #e6e6e6;
}
#stat-com .orMaReMainList li[data-v-de018380]:nth-of-type(even) {
	background: #f2f2f2;
}
#stat-com .orMaReMainList li[data-v-de018380]:nth-of-type(2) {
	text-align: center;
	height: 50px;
	line-height: 50px;
}
#stat-com .orMaReMainList li span[data-v-de018380] {
	display: block;
	text-align: center;
	height: 50px;
	line-height: 50px;
	width: 10%;
	color: #42404b;
	float: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#stat-com .orMaReMainList li .pointerCol[data-v-de018380] {
	cursor: pointer;
	color: #29a7e1;
}

