
.step-container .text-ellipsis[data-v-53501c08] {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.step-container .total[data-v-53501c08] {
  border: 1px solid #ccc;
}
.step-container .total span[data-v-53501c08] {
  float: left;
  width: 33.33%;
  text-align: center;
}
.step-container .total .title[data-v-53501c08] {
  height: 40px;
  overflow: hidden;
  background: #e6e6e6;
}
.step-container .total .title span[data-v-53501c08] {
  color: #333;
  height: 40px;
  line-height: 40px;
}
.step-container .total .total-data[data-v-53501c08] {
  overflow: hidden;
}
.step-container .total .total-data span[data-v-53501c08] {
  color: #f8941f;
  height: 50px;
  line-height: 50px;
}
.step-container .store-list[data-v-53501c08] {
  margin-top: 20px;
  border: 1px solid #ccc;
}
.step-container .store-list .length[data-v-53501c08] {
  height: 50px;
  line-height: 50px;
  padding-left: 10px;
  font-size: 16px;
}
.step-container .store-list .length span[data-v-53501c08] {
  color: #f30;
  font-size: 16px;
}
.step-container .store-list .title[data-v-53501c08] {
  overflow: hidden;
  background: #e6e6e6;
}
.step-container .store-list .title span[data-v-53501c08] {
  float: left;
  text-align: center;
  height: 50px;
  line-height: 50px;
  width: 33.33%;
  color: #666;
}
.step-container .store-list .day span[data-v-53501c08] {
  width: 25%;
}
.step-container .store-list ul[data-v-53501c08] {
  background: #fff;
}
.step-container .store-list ul li[data-v-53501c08] {
  overflow: hidden;
  border-bottom: 1px solid #f7f7f7;
}
.step-container .store-list ul li span[data-v-53501c08] {
  float: left;
  text-align: center;
  height: 50px;
  line-height: 50px;
  width: 33.33%;
  color: #f8941f;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.step-container .store-list ul li .light[data-v-53501c08] {
  color: #29a7e1;
  cursor: pointer;
}
.step-container .store-list ul li .light[data-v-53501c08]:hover {
  color: #09f;
}
.step-container .store-list ul li[data-v-53501c08]:last-child {
  border-bottom: 0;
}
.step-container .store-list ul .day span[data-v-53501c08] {
  width: 25%;
}
.step-container .store-list ul .list-empty[data-v-53501c08] {
  height: 70px;
  line-height: 70px;
  font-size: 20px;
  text-align: center;
  color: #999;
}
.step-container .page-box[data-v-53501c08] {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
}
.step-container .loading[data-v-53501c08] {
  width: 100%;
  height: 350px;
  padding-top: 100px;
  text-align: center;
}

