
.pm-detail[data-v-37f5ccb0] {
	padding: 40px 60px;
	width: 640px;
}
.pm-detail .pd-line[data-v-37f5ccb0] {
	float: left;
	width: 100%;
	height: auto;
	line-height: 36px;
}
.pm-detail .pd-line div[data-v-37f5ccb0] {
	float: left;
}
.pm-detail .pd-line .left[data-v-37f5ccb0] {
	width: 66px;
	height: 36px;
	text-align: right;
}
.pm-detail .pd-line .center[data-v-37f5ccb0] {
	width: 8px;
	height: 36px;
	text-align: center;
}
.pm-detail .pd-line .right[data-v-37f5ccb0] {
	width: 416px;
	height: auto;
	line-height: 36px;
}

