
.details_content[data-v-42c0a97b] {
  padding: 52px 56px;
}
.details_content ul li[data-v-42c0a97b] {
  margin-bottom: 42px;
  color: #333333;
  font-size: 16px;
}
.details_content ul li input[data-v-42c0a97b] {
  width: 216px;
  height: 41px;
  padding: 0 17px;
}
.details_content ul .belong_group[data-v-42c0a97b] {
  line-height: 22px;
}
.details_content ul .real_name input[data-v-42c0a97b] {
  margin-left: 25px;
}
.details_content ul .mobile_phone input[data-v-42c0a97b] {
  margin-left: 41px;
}

