
#details_con[data-v-6b84c54e] {
  padding-bottom: 15px;
}
#details_con .labItem[data-v-6b84c54e] {
  margin-bottom: 5px;
  margin-left: 0!important;
  margin-right: 10px;
  float: left;
}
#details_con .animate-div[data-v-6b84c54e] {
  text-align: center;
}
#details_con .animate-div .img-div[data-v-6b84c54e] {
  padding: 100px 0;
  height: auto;
  width: auto;
  border: none;
  display: inline-block;
  clear: both;
}
#details_con .commodity-box[data-v-6b84c54e]:after {
  content: '';
  display: block;
  line-height: 0;
  visibility: hidden;
}
#details_con .commodity-box .shopTag[data-v-6b84c54e] {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 10px;
}
#details_con .commodity-box .shopTag .brandStyle[data-v-6b84c54e] {
  background-color: #fcaa30;
  color: #fff;
  border: none;
  border-radius: 35px;
}
#details_con .commodity-box .shopTag span[data-v-6b84c54e] {
  display: block;
  height: 35px;
  width: auto;
  border: 1px solid #fff;
  line-height: 35px;
  text-align: center;
  margin-top: 10px;
  background: rgba(127, 127, 127, 0.6);
  border-radius: 5px;
  color: #fff;
  padding: 0 3px;
}
#details_con .commodity-box[data-v-6b84c54e]:after {
  content: '';
  display: block;
  clear: both;
  line-height: 0;
  visibility: hidden;
}
#details_con .commodity-box .media-div[data-v-6b84c54e] {
  float: left;
  max-width: 310px;
  width: 20%;
  padding-right: 10px;
  padding-bottom: 20px;
}
@media screen and (max-width: 1400px) {
#details_con .commodity-box .media-div[data-v-6b84c54e] {
    width: 25%;
}
}
@media screen and (max-width: 1200px) {
#details_con .commodity-box .media-div[data-v-6b84c54e] {
    width: 33.33%;
}
}
@media screen and (max-width: 1024px) {
#details_con .commodity-box .media-div[data-v-6b84c54e] {
    width: 50%;
}
}
#details_con .commodity-box .add_goods_list[data-v-6b84c54e] {
  cursor: pointer;
  border: 1px solid #eee;
}
#details_con .commodity-box .add_goods_list .combox[data-v-6b84c54e] {
  font-size: 16px;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  color: #999;
}
#details_con .commodity-box .list-div[data-v-6b84c54e] {
  position: relative;
  cursor: pointer;
}
#details_con .commodity-box .list-div .imageClass[data-v-6b84c54e] {
  width: 100%;
  height: 100%;
}
#details_con .commodity-box .list-div .comprice[data-v-6b84c54e] {
  font-size: 14px;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 80px;
  width: 100%;
  border: none;
  padding: 10px;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
}
#details_con .commodity-box .list-div .comprice .commodityName[data-v-6b84c54e] {
  line-height: 20px;
  overflow: hidden;
  text-align: left;
  height: 20px;
  width: 100%;
  border: none;
}
#details_con .commodity-box .list-div .comprice .commodityName .stockStyle[data-v-6b84c54e] {
  width: 200px;
  margin-right: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#details_con .commodity-box .list-div .comprice .commodityName .price-align[data-v-6b84c54e] {
  width: 100%;
  text-align: left;
}
#details_con .boxTop[data-v-6b84c54e] {
  padding: 0 5px;
}
#details_con .boxTop .aSpan[data-v-6b84c54e] {
  font-size: 16px;
  color: #fe9200;
  margin-right: 20px;
}
#details_con .boxTop .aSpan .aI[data-v-6b84c54e] {
  background: #fe9200;
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  margin-right: 10px;
  vertical-align: middle;
}

