
#tan[data-v-55700fa8] {
  width: 400px;
  height: 90px;
  overflow: hidden;
}
#tan .codeBox[data-v-55700fa8] {
  margin: 20px auto;
  height: 45px;
  line-height: 45px;
  width: 300px;
}
#tan .codeBox span[data-v-55700fa8],
#tan .codeBox input[data-v-55700fa8] {
  display: inline-block;
  height: 45px;
}
#tan .codeBox span[data-v-55700fa8] {
  width: 90px;
  text-align: center;
}
#tan .codeBox input[data-v-55700fa8] {
  outline: none;
  padding: 0;
  padding-left: 10px;
  width: 190px;
  box-sizing: border-box;
}

