
#detLi[data-v-f179c064] {
	position: relative;
	cursor: pointer;
	display: inline-block;
	margin-left: 0
}
#detLi .detDiv[data-v-f179c064] {
	display: inline-block;
	width: 300px;
	background: #45404b;
	;
	position: absolute;
	/* top: 45px; */
	right: 0;
	box-shadow: 3px 2px 10px #ccc;
	z-index: 2000;
}
#detLi .detDiv .detI[data-v-f179c064] {
	width: 0;
	height: 0;
	line-height: 0;
	position: absolute;
	top: -10px;
	left: 150px;
	border-width: 10px;
	border-top: 0px !important;
	border-style: solid;
	border-color: #F7F7F7 #F7F7F7 #45404b #F7F7F7;
}
#detLi .detDiv .foot[data-v-f179c064]{
	width: 0;
	height: 0;
	line-height: 0;
	position: absolute;
	left: 340px;
	border-width: 10px;
	border-style: solid;
	border-bottom: 0px;
	border-color: #45404b #F7F7F7 #F7F7F7 #F7F7F7;
	bottom: -10px;
}
#detLi .detDiv .detH3[data-v-f179c064] {
	line-height: 30px;
	color: #e6e6e7;
	text-align: center;
	margin: 10px 30px;
	min-height: 200px;
}
#detLi .detDiv ul li[data-v-f179c064] {
	display: inline-block;
	height: 40px;
	border: 1px solid #fff;
	padding: 5px 10px;
	margin: 5px
}
#detLi .detDiv ul li.active[data-v-f179c064] {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB8AAAAVCAYAAAC+NTVfAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAQNJREFUeNpi/P//P8OAgJmMASwDYKkAkFwAxP5M9PYtkHwAshjEZaG3b5GFmejtW2TAQm/f0t7neHxLO58T4Vva+JxI31LX58T61moCA8PbCwwMNxdQyefE+tYRaKFuPgPDzw9U8DkpcQuyWC2egeFAItCZGyiMc1LiFtlipOAm3XKQb2cygpy+Hoj5wWImDQwMIcB4ZBMg2WLiLcfl2/tAt/AqMDD4HUB1ABEWgwAj3iqVmLgVNoBY/hnotk0ODAzWE4iyGL/lEN8ugAcxPgBzAAiw8RNlMXbLSSyl4EAK6GsHoLazDURZjGk5Kb6lAmChyLcUAsb/MxhgFgvQu0UFEGAAwkZhpDEtycMAAAAASUVORK5CYII=) right 103% no-repeat;
	border-color: #FF9800;
	color: #FF9800;
}
#detLi .jobBtn[data-v-f179c064] {
	margin-bottom: 20px;
}
#detLi .jobBtn input[data-v-f179c064]{
	width: 150px;
	height: 30px;
	margin-left: 80px;
	padding-left: 10px;
}
#detLi .jobBtn .job[data-v-f179c064] {
	margin-right: 20px;
	font-size: 18px;
	width: 80px;
	color: #fff;
}
#detLi .jobBtn .selectbtn[data-v-f179c064] {
	color: #FF9200;
	border-bottom: 4px solid #FF9200;
}

