
.step-container[data-v-44c90186] {
  position: relative;
}
.step-container .text-ellipsis[data-v-44c90186] {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.step-container .total[data-v-44c90186] {
  border: 1px solid #ccc;
}
.step-container .total span[data-v-44c90186] {
  float: left;
  width: 33.33%;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.step-container .total .title[data-v-44c90186] {
  height: 40px;
  overflow: hidden;
  background: #e6e6e6;
}
.step-container .total .title span[data-v-44c90186] {
  color: #333;
  height: 40px;
  line-height: 40px;
}
.step-container .total .total-data[data-v-44c90186] {
  overflow: hidden;
}
.step-container .total .total-data span[data-v-44c90186] {
  color: #f8941f;
  height: 50px;
  line-height: 50px;
}
.step-container .goods span[data-v-44c90186] {
  width: 25%;
}
.step-container .store-list[data-v-44c90186] {
  margin-top: 20px;
  border: 1px solid #ccc;
}
.step-container .store-list .length[data-v-44c90186] {
  height: 50px;
  line-height: 50px;
  padding-left: 10px;
  font-size: 16px;
}
.step-container .store-list .length span[data-v-44c90186] {
  color: #ff3c04;
}
.step-container .store-list .title[data-v-44c90186] {
  overflow: hidden;
  background: #e6e6e6;
}
.step-container .store-list .title span[data-v-44c90186] {
  float: left;
  text-align: center;
  height: 40px;
  line-height: 40px;
  width: 33.33%;
}
.step-container .store-list .day span[data-v-44c90186] {
  width: 25%;
}
.step-container .store-list ul[data-v-44c90186] {
  background: #fff;
}
.step-container .store-list ul li[data-v-44c90186] {
  overflow: hidden;
  border-bottom: 1px solid #eee;
}
.step-container .store-list ul li span[data-v-44c90186] {
  float: left;
  text-align: center;
  height: 50px;
  line-height: 50px;
  width: 33.33%;
  color: #f8941f;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.step-container .store-list ul li .light[data-v-44c90186] {
  color: #29a7e1;
  cursor: pointer;
}
.step-container .store-list ul li .light[data-v-44c90186]:hover {
  color: #09f;
}
.step-container .store-list ul li[data-v-44c90186]:last-child {
  border-bottom: 0;
}
.step-container .store-list ul .day span[data-v-44c90186] {
  width: 25%;
}
.step-container .store-list ul .list-empty[data-v-44c90186] {
  height: 70px;
  line-height: 70px;
  font-size: 20px;
  text-align: center;
  color: #999;
}
.step-container .list[data-v-44c90186] {
  margin-top: 20px;
  border: 1px solid #ccc;
}
.step-container .list .length[data-v-44c90186] {
  height: 50px;
  line-height: 50px;
  padding-left: 10px;
  font-size: 16px;
}
.step-container .list .length span[data-v-44c90186] {
  color: #f30;
  font-size: 16px;
}
.step-container .list .title[data-v-44c90186] {
  overflow: hidden;
  background: #e6e6e6;
  /*短一点的 8*3 24%*/
}
.step-container .list .title span[data-v-44c90186] {
  float: left;
  text-align: center;
  height: 50px;
  line-height: 50px;
  width: 20%;
}
.step-container .list .title .short[data-v-44c90186] {
  width: 12%;
}
.step-container .list ul[data-v-44c90186] {
  background: #fff;
}
.step-container .list ul li[data-v-44c90186] {
  overflow: hidden;
  border-bottom: 1px solid #eee;
  /*短一点的 8*3 24%*/
}
.step-container .list ul li span[data-v-44c90186] {
  float: left;
  text-align: center;
  height: 50px;
  line-height: 50px;
  width: 20%;
  color: #666;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.step-container .list ul li span .light[data-v-44c90186] {
  color: #29a7e1;
  cursor: pointer;
}
.step-container .list ul li span .light[data-v-44c90186]:hover {
  color: #09f;
}
.step-container .list ul li .short[data-v-44c90186] {
  width: 12%;
}
.step-container .list ul li .light[data-v-44c90186] {
  color: #29a7e1;
  cursor: pointer;
}
.step-container .list ul li .light[data-v-44c90186]:hover {
  color: #f8941f;
}
.step-container .list ul li[data-v-44c90186]:last-child {
  border-bottom: 0;
}
.step-container .list ul .list-empty[data-v-44c90186] {
  height: 70px;
  line-height: 70px;
  font-size: 20px;
  text-align: center;
  color: #999;
}
.step-container .goods .title span[data-v-44c90186] {
  width: 25%;
}
.step-container .goods ul li span[data-v-44c90186] {
  width: 25%;
}
.step-container .order .title span[data-v-44c90186] {
  width: 12%;
}
.step-container .order .title .wide[data-v-44c90186] {
  width: 20%;
}
.step-container .order ul li span[data-v-44c90186] {
  width: 12%;
}
.step-container .order ul li .wide[data-v-44c90186] {
  width: 20%;
}
.step-container .detail .detail-head[data-v-44c90186] {
  border: 1px solid #ddd;
  border-bottom: 0;
  padding-bottom: 30px;
}
.step-container .detail .detail-head span[data-v-44c90186] {
  height: 60px;
  line-height: 60px;
  padding-left: 50px;
  color: #666;
  background: #f7f7f7;
  display: block;
}
.step-container .detail .detail-head ul[data-v-44c90186] {
  overflow: hidden;
  padding-left: 10%;
  padding-top: 30px;
}
.step-container .detail .detail-head ul li[data-v-44c90186] {
  float: left;
  width: 33.33%;
  position: relative;
  line-height: 1.5;
  padding: 0 10px;
  padding-left: 70px;
  word-break: break-all;
}
.step-container .detail .detail-head ul li em[data-v-44c90186] {
  position: absolute;
  left: 0;
  top: 0;
}
@media only screen and (max-width: 1200px) {
.step-container .detail .detail-head ul[data-v-44c90186] {
    padding-left: 5%;
}
}
.step-container .detail .detail-list .title[data-v-44c90186] {
  background: #ecedf2;
  overflow: hidden;
}
.step-container .detail .detail-list span[data-v-44c90186] {
  float: left;
  width: 12%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.step-container .detail .detail-list .wide[data-v-44c90186] {
  width: 20%;
}
.step-container .detail .detail-list ul[data-v-44c90186] {
  max-height: 400px;
  overflow: auto;
}
.step-container .detail .detail-list ul li[data-v-44c90186] {
  overflow: hidden;
  width: 100%;
  border-bottom: 1px solid #eee;
}
.step-container .detail .detail-list ul li span[data-v-44c90186] {
  height: 60px;
  line-height: 60px;
}
.step-container .detail .detail-list ul li[data-v-44c90186]:last-child {
  border-bottom: 0;
}
.step-container .page-box[data-v-44c90186] {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
}
.step-container .loading[data-v-44c90186] {
  width: 100%;
  height: 350px;
  padding-top: 100px;
  text-align: center;
}

