
.selectbtns .sign[data-v-27fd6bba] {
	border: 1px #FF9200 solid;
}
.selectbtns span[data-v-27fd6bba] {
	background-color: inherit;
	border: 1px #D2D2D2 solid;
	display: inline-block;
	height: 40px;
	line-height: 40px;
	padding-left: 18px;
	padding-right: 18px;
	background-color: #F1F1F1;
	text-align: center;
	cursor: pointer;
	margin: 1px;
}
.selectbtns span[data-v-27fd6bba]:hover {
	background-color: inherit;
}


.detailItem[data-v-39bbdf34] {
	padding-left: 50px;
	min-height: 50px;
	height: auto;
	width: 560px;
	font-size: 14px;
	color: #666666;
	overflow: hidden;
}
.detailItem .left[data-v-39bbdf34] {
	width: 115px;
	min-height: 50px;
	text-align: center;
	line-height: 50px;
}
.detailItem .right[data-v-39bbdf34] {
	width: 394px;
	min-height: 50px;
	height: auto;
	line-height: 50px;
}
.detailItem .sign[data-v-39bbdf34] {
	background: #FFF3E5 !important;
	border: 1px solid #F8931F !important;
	color: #F9911E !important;
}
.detailItem a[data-v-39bbdf34] {
	color: #2FA8DC;
	margin-right: 20px;
}


#useCard .filtrate[data-v-6e759217] {
	display: inline-block;
	height: 40px;
	cursor: pointer;
	color: #44404A;
	margin-right: 14px;
	position: relative;
}
#useCard .filtrate .extent[data-v-6e759217] {
	display: block;
	float: left;
	overflow: hidden;
	color: #A5A5A5;
	font-size: 14px;
	width: 170px;
	height: 39px;
	text-align: center;
	white-space: nowrap;
	text-overflow: ellipsis;
	border-right: 1px solid #D2D2D2;
	line-height: 40px;
}
.triangle[data-v-6e759217] {
	position: relative;
	width: 40px;
	height: 40px;
}
.triangle i[data-v-6e759217] {
	position: absolute;
	top: 50%;
	left: 50%;
	box-sizing: border-box;
	width: 10px;
	height: 10px;
	margin-top: -5px;
	margin-left: -5px;
	border-top: 10px solid #6A666E;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
}
.zhezhao_bg[data-v-6e759217] {
	padding: 25px;
	width: 440px;
	background-color: #3e3e3e;
	z-index: 99;
	position: absolute;
	left: 0;
	top: 60px;
}
.zhezhao_bg[data-v-6e759217]:after {
	content: '';
	position: absolute;
	top: -24px;
	left: 20px;
	width: 0;
	height: 0;
	border-width: 12px 6px;
	border-style: solid;
	border-color: transparent transparent #3e3e3e transparent;
}
.shoName[data-v-6e759217] {
	height: 40px;
	line-height: 40px;
	border: 1px solid #f2f2f2;
	float: left;
	margin: 5px;
	color: #fff;
	padding: 0 10px;
	text-align: center;
}
.shoName-select[data-v-6e759217] {
	border-color: #FF9800;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB8AAAAVCAYAAAC+NTVfAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAQNJREFUeNpi/P//P8OAgJmMASwDYKkAkFwAxP5M9PYtkHwAshjEZaG3b5GFmejtW2TAQm/f0t7neHxLO58T4Vva+JxI31LX58T61moCA8PbCwwMNxdQyefE+tYRaKFuPgPDzw9U8DkpcQuyWC2egeFAItCZGyiMc1LiFtlipOAm3XKQb2cygpy+Hoj5wWImDQwMIcB4ZBMg2WLiLcfl2/tAt/AqMDD4HUB1ABEWgwAj3iqVmLgVNoBY/hnotk0ODAzWE4iyGL/lEN8ugAcxPgBzAAiw8RNlMXbLSSyl4EAK6GsHoLazDURZjGk5Kb6lAmChyLcUAsb/MxhgFgvQu0UFEGAAwkZhpDEtycMAAAAASUVORK5CYII=) right bottom no-repeat;
}
#useCard .filterType[data-v-6e759217] {
	width: 211px;
	border: 1px solid #D1D1D1;
	background-color: #fff;
	margin-top: 50px;
	z-index: 999;
	position: absolute;
}
#useCard .filterType li[data-v-6e759217] {
	height: 50px;
	margin: 0px 8px;
	border-bottom: 1px solid #D1D1D1;
	box-sizing: border-box;
	text-align: center;
	line-height: 50px;
	font-size: 16px;
	color: #68656D;
	cursor: pointer;
}
#useCard .filterType li[data-v-6e759217]:last-of-type {
	border-bottom: none;
}
.filterType[data-v-6e759217]:after {
	content: "";
	width: 6px;
	height: 6px;
	border-left: 1px solid #D1D1D1;
	border-bottom: 1px solid #D1D1D1;
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
	position: absolute;
	right: 15px;
	top: -5px;
	background: #fff;
}
#useCard .activeCount[data-v-6e759217] {
	width: 100%;
	height: 52px;
	background-color: #fff;
	line-height: 52px;
	padding-left: 55px;
	position: relative;
	overflow: hidden;
}
#useCard .activeCount li[data-v-6e759217] {
	float: left;
	font-size: 16px;
	text-align: center;
}
#useCard .activeCount li span[data-v-6e759217] {
	color: #EB5027;
}
#useCard .activeCount li.bit[data-v-6e759217] {
	width: 24px;
	height: 100%;
	position: relative;
}
#useCard .activeCount li.bit span[data-v-6e759217] {
	width: 5px;
	height: 5px;
	background: #44404A;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	margin-top: -2px;
	margin-left: -2px;
}
#useCard .oUl[data-v-6e759217] {
	width: 100%;
	height: 45px;
	line-height: 45px;
}
#useCard .oUl li[data-v-6e759217] {
	width: 12.5%;
	height: 45px;
	line-height: 45px;
	text-align: center;
	float: left;
	vertical-align: middle;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	font-size: 16px;
}
#useCard .cardList .storeLi[data-v-6e759217] {
	width: 100%;
}
#useCard .cardList .storeLi li[data-v-6e759217] {
	float: left;
	width: 12.5%;
	height: 66px;
}
#useCard .cardList .storeBottom[data-v-6e759217] {
	width: 100%;
	height: 66px;
	text-align: center;
	line-height: 66px;
	border-bottom: 4px #F7F7F7 solid;
	overflow: hidden;
}
#useCard .cardList .storeBottom li[data-v-6e759217]:nth-of-type(1) {
	font-size: 16px;
	cursor: pointer;
	color: #2DA8DC;
}
.selectbtns .sign[data-v-6e759217] {
	border: 1px #FF9200 solid;
}
.selectbtns span[data-v-6e759217] {
	background-color: inherit;
	border: 1px #D2D2D2 solid;
}
.selectbtns span[data-v-6e759217]:hover {
	background-color: inherit;
}

/*翻页================================*/
.turn-page[data-v-6e759217] {
	margin: 10px 0 30px 0;
}

