
.tab-div[data-v-4f85039a] {
  padding-bottom: 20px;
}
.tab-div span[data-v-4f85039a] {
  width: 135px;
  height: 40px;
  border: 1px solid #ff8d01;
  line-height: 38px;
  color: #ff8d01;
  font-size: 16px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}
.tab-div span[data-v-4f85039a]:first-child {
  float: left;
}
.tab-div .select-tab[data-v-4f85039a] {
  color: #fff;
  background-color: #ff8d01;
  text-align: center;
}
.common-btn[data-v-4f85039a] {
  width: 100px;
  height: 40px;
  border: none;
  line-height: 40px;
  color: #fff;
  font-size: 16px;
  display: inline-block;
  text-align: center;
  margin-right: 10px;
}
.clear[data-v-4f85039a] {
  content: "";
  display: block;
  line-height: 0;
  visibility: hidden;
  clear: both;
}
.required-no[data-v-4f85039a]:after {
  position: relative;
  top: -8px;
  right: -2px;
  content: "*";
  visibility: hidden;
}
.text-ellipsis[data-v-4f85039a] {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#goods-count-template .content-head[data-v-4f85039a] {
  /*padding-top:20px;*/
}
#goods-count-template .content-head .template-name[data-v-4f85039a] {
  width: 180px;
  height: 40px;
  border: 1px solid #ccc;
  margin-right: 15px;
  vertical-align: top;
  padding: 0 10px;
  font-size: 16px;
  outline: none;
  font-size: 14px;
}
#goods-count-template .content-head .common-btn[data-v-4f85039a] {
  width: 100px;
  height: 40px;
  border: none;
  line-height: 40px;
  color: #fff;
  font-size: 14px;
  display: inline-block;
  text-align: center;
  margin-right: 10px;
}
#goods-count-template .operation-column[data-v-4f85039a] {
  text-align: center;
  vertical-align: middle;
}
#goods-count-template .operation-column .operation[data-v-4f85039a] {
  color: #22aae0;
  font-size: 14px;
  cursor: pointer;
  display: inline-block;
  height: 40px;
  width: 40px;
  line-height: 40px;
  vertical-align: middle;
}
#goods-count-template .operation-column .line[data-v-4f85039a]:after {
  content: '';
  display: inline-block;
  margin: 0px 7px;
  width: 1px;
  height: 18px;
  border: none;
  vertical-align: middle;
  border-right: 1px solid #aaa;
}
#goods-count-template .operation-column .edit-color[data-v-4f85039a] {
  color: #ff8d01;
}
#goods-count-template .operation-column .delete-color[data-v-4f85039a] {
  color: #ff3d04;
}

