
.top .top_input[data-v-7f76c4a4] {
  height: 55px;
}
.searchgoods[data-v-7f76c4a4] {
  width: 174px;
  height: 41px;
  text-align: center;
  border: 1px solid #b3b3b3;
}
.btn[data-v-7f76c4a4] {
  width: 100px;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  margin-left: 20px;
}

