
.sList[data-v-525684da] {
	display: inline-block;
	position: relative;
	height: 40px;
	line-height: 40px;
}
.sList input[data-v-525684da] {
	text-align: center;
	display: block;
	float: left;
	height: 41px;
	width: 158px;
	outline: none;
	border: 0;
	border-right: 1px #B3B3B3 solid;
}
.sList ul[data-v-525684da] {
	width: 100%;
	margin: 0;
	position: absolute;
	top: 40px;
	left: 0;
	z-index: 10;
	background: #fff;
}
.sList ul li[data-v-525684da] {
	text-align: center;
	height: 41px;
	border: 1px #b3b3b3 solid;
	border-top: 0;
	background: #fff;
	cursor: pointer;
}
.tableListInp[data-v-525684da] {
	height: 40px;
	color: #666666;
	border: #cdcdcd solid 1px;
	cursor: pointer;
}
.weight .tableListInp span[data-v-525684da] {
	height: 38px;
	width: 60px;
	display: block;
	float: left;
	text-align: center;
	border-right: 1px #B3B3B3 solid;
	color: #636162;
}
.tableListInp div[data-v-525684da] {
	width: 40px;
	height: 38px;
	position: relative;
	z-index: 5;
}
.tableListInp div i[data-v-525684da] {
	height: 10px;
	width: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -5px;
	margin-left: -5px;
	border-top: 10px solid #b3b3b3;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	box-sizing: border-box;
}
.seleted-center[data-v-525684da] {
	width: 146px;
	float: left;
	height: auto;
	float: left;
}
.seleted-center .selected[data-v-525684da] {
	background-color: #ccc;
}
.tab[data-v-525684da] {
	height: 40px;
	width: 146px;
	margin-bottom: 7px;
	text-align: center;
	line-height: 40px;
	background-color: #e7e7e7;
	border-right: 14px solid #f2f2f2;
}
.seleted-right[data-v-525684da] {
	width: 412px;
	float: left;
	height: auto;
	float: left;
	background-color: #e7e7e7;
}

