
#integral-consume .ic-title[data-v-c7fc5338] {
	/*width: 1400px;*/
	width: 100%;
	height: 30px;
	line-height: 30px;
	position: relative;
}
#integral-consume .ic-title .text[data-v-c7fc5338] {
	width: 120px;
	height: 20px;
	line-height: 20px;
	text-indent: 10px;
	position: absolute;
	left: 0;
	top: 10px;
	border-left: 6px solid #f8931f;
}
#integral-consume .ic-title .dashed[data-v-c7fc5338] {
	width: 87%;
	height: 10px;
	border-top: 1px dashed rgb(228, 229, 230);
	position: absolute;
	right: 0;
	top: 20px;
}
#integral-consume .ic-line[data-v-c7fc5338] {
	width: 100%;
	height: 40px;
	line-height: 40px;
	margin-top: 20px;
	position: relative;
}
#integral-consume .ic-line .text[data-v-c7fc5338] {
	float: left;
	margin-left: 140px;
	margin-right: 10px;
}

/*多选*/
.ic-line .selectbtns[data-v-c7fc5338] {
	width: 400px;
	height: 40px;
}
.ic-line .selectbtns span[data-v-c7fc5338] {
	display: inline-block;
	height: 40px;
	line-height: 40px;
	padding-left: 18px;
	padding-right: 18px;
	background-color: #f1f1f1;
	text-align: center;
	cursor: pointer;
	margin-right: 8px;
}
.sign[data-v-c7fc5338] {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB8AAAAVCAYAAAC+NTVfAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAQNJREFUeNpi/P//P8OAgJmMASwDYKkAkFwAxP5M9PYtkHwAshjEZaG3b5GFmejtW2TAQm/f0t7neHxLO58T4Vva+JxI31LX58T61moCA8PbCwwMNxdQyefE+tYRaKFuPgPDzw9U8DkpcQuyWC2egeFAItCZGyiMc1LiFtlipOAm3XKQb2cygpy+Hoj5wWImDQwMIcB4ZBMg2WLiLcfl2/tAt/AqMDD4HUB1ABEWgwAj3iqVmLgVNoBY/hnotk0ODAzWE4iyGL/lEN8ugAcxPgBzAAiw8RNlMXbLSSyl4EAK6GsHoLazDURZjGk5Kb6lAmChyLcUAsb/MxhgFgvQu0UFEGAAwkZhpDEtycMAAAAASUVORK5CYII=) right bottom no-repeat;
}
.ic-line .integralDiv[data-v-c7fc5338] {
	position: absolute;
	top: 0;
	left: 290px;
	width: 40px;
	height: 40px;
	text-align: center;
}
.ic-line .integralNum[data-v-c7fc5338] {
	position: absolute;
	top: 0;
	left: 420px;
	width: 40px;
	height: 40px;
	text-align: center;
}
.ic-line .inputOne[data-v-c7fc5338] {
	width: 100px;
	border: 1px solid rgb(189, 190, 191);
}
.ic-line .inputTwo[data-v-c7fc5338] {
	width: 100px;
	border: 1px solid rgb(189, 190, 191);
}
.ic-line .integralTop[data-v-c7fc5338] {
	width: 100px;
	height: 40px;
	text-align: center;
	border: 1px solid rgb(189, 190, 191);
	margin-right: 10px;
	cursor: pointer;
}
.ic-line .computeStyle[data-v-c7fc5338] {
	width: 100px;
	height: 40px;
	text-align: center;
	border: 1px solid rgb(189, 190, 191);
	margin-right: 10px;
	cursor: pointer;
}
.ic-line .maxOrder[data-v-c7fc5338] {
	position: absolute;
	top: 0;
	left: 410px;
	width: 40px;
	height: 40px;
	text-align: center;
}
.ic-line .orderInput[data-v-c7fc5338] {
	width: 210px;
	border: 1px solid rgb(189, 190, 191);
}
.ic-line .maxNumber[data-v-c7fc5338] {
	position: absolute;
	top: 0;
	left: 410px;
	width: 40px;
	height: 40px;
	text-align: center;
}
.ic-line .numInput[data-v-c7fc5338] {
	width: 210px;
	border: 1px solid rgb(189, 190, 191);
}
.ic-line .useIntegral[data-v-c7fc5338] {
	position: absolute;
	top: 0;
	left: 410px;
	width: 40px;
	height: 40px;
	text-align: center;
}
.useInput[data-v-c7fc5338] {
	width: 210px;
	border: 1px solid rgb(189, 190, 191);
}
.numStyleOne[data-v-c7fc5338] {
	width: 100px;
	height: 40px;
	text-align: center;
	border: 1px solid rgb(189, 190, 191);
	margin-right: 10px;
	cursor: pointer;
}
.totalNumber[data-v-c7fc5338] {
	position: absolute;
	top: 0;
	left: 400px;
	width: 40px;
	height: 40px;
	text-align: center;
}
.totalInput[data-v-c7fc5338] {
	width: 200px;
	border: 1px solid rgb(189, 190, 191);
}
.useStyleOne[data-v-c7fc5338] {
	width: 100px;
	height: 40px;
	text-align: center;
	border: 1px solid rgb(189, 190, 191);
	margin-right: 10px;
	cursor: pointer;
}
.useImg[data-v-c7fc5338] {
	margin-top: 11px;
	float: left;
}
.useA[data-v-c7fc5338] {
	width: 200px;
	margin: 40px 0 0 235px;
}
#integral-consume .icSelect[data-v-c7fc5338] {
	border: 1px solid rgb(244, 147, 50) !important;
	background-color: rgb(249, 240, 227);
	color: #f39801;
}

