
.commodity-name[data-v-b24c8140] {
	width: 100px;
	height: 40px;
	line-height: 40px;
}
#jifen .topR[data-v-b24c8140],
#jifen .picName[data-v-b24c8140],
#jifen .expiration-time[data-v-b24c8140] {
	width: 100%;
	height: 40px;
	margin-top: 10px;
}
.picName input[data-v-b24c8140],
.expiration-time input[data-v-b24c8140] {
	width: 100px;
	height: 42px;
	line-height: 25px;
	padding: 5px;
	margin: 0;
}
.time-exp[data-v-b24c8140] {
	width: 100px;
	height: 40px;
	line-height: 40px;
	float: left;
}
.topR .mesking[data-v-b24c8140] {
	width: 100px;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	cursor: pointer;
}
.check-span[data-v-b24c8140] {
	float: left;
}
.integralBox[data-v-b24c8140] {
	height: 200px;
	width: 100%;
	overflow: hidden;
}
.integralSet[data-v-b24c8140] {
	height: 120px;
	width: 100%;
}
.integrabox[data-v-b24c8140] {
	height: 45px;
	line-height: 45px;
	width: 100%;
	margin-bottom: 15px;
}
.integrabox span[data-v-b24c8140] {
	display: block;
	height: 45px;
	width: 120px;
	text-align: center;
	color: #333;
}
.integrabox input[data-v-b24c8140] {
	padding: 0;
	padding-left: 10px;
	height: 45px;
	width: 140px;
	outline: none;
	box-sizing: border-box;
	color: #9d9d9d;
	margin: 0 20px;
}
.integrabox p[data-v-b24c8140] {
	float: left;
	color: #9d9d9d;
	height: 45px;
	width: calc(100% - 300px);
}
@media only screen and (max-width: 1366px) {
.integrabox p[data-v-b24c8140] {
		line-height: 22.5px;
}
}
.integra-content[data-v-b24c8140] {
	margin-bottom: 30px;
	/*overflow: hidden;*/
}
.integra-content .heade-title[data-v-b24c8140] {
	height: 45px;
	line-height: 45px;
	font-size: 16px;
	text-indent: 10px;
	position: relative;
}
.integra-content .heade-title[data-v-b24c8140]:after {
	content: '';
	position: absolute;
	left: 0;
	top: 12px;
	width: 3px;
	height: 25px;
	background-color: #00A1E9;
}

