
#integer[data-v-6320d9c6] {
  text-align: left;
}
#integer .topR[data-v-6320d9c6],
#integer .picName[data-v-6320d9c6] {
  width: 100%;
  height: 50px;
}
#integer .commodity-name[data-v-6320d9c6] {
  width: 100px;
  height: 40px;
  line-height: 40px;
}
#integer .on_off[data-v-6320d9c6] {
  position: absolute;
  left: 100px;
  width: 88px;
}
#integer .picName ul[data-v-6320d9c6] {
  width: 602px;
  height: 50px;
  float: left;
  border: 1px solid #b1b1b1;
}
#integer .picName ul li[data-v-6320d9c6] {
  width: 149px;
  height: 49px;
  text-align: center;
  float: left;
  border-right: 1px solid #b1b1b1;
  position: relative;
  box-sizing: border-box;
}
#integer .picName ul li h3[data-v-6320d9c6] {
  line-height: 30px;
  font-size: 16px;
}
#integer .picName ul li span[data-v-6320d9c6] {
  font-size: 12px;
  color: #b3b3b5;
}
#integer .picName ul li i[data-v-6320d9c6] {
  display: block;
  width: 30px;
  height: 20px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB8AAAAVCAYAAAC+NTVfAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAQNJREFUeNpi/P//P8OAgJmMASwDYKkAkFwAxP5M9PYtkHwAshjEZaG3b5GFmejtW2TAQm/f0t7neHxLO58T4Vva+JxI31LX58T61moCA8PbCwwMNxdQyefE+tYRaKFuPgPDzw9U8DkpcQuyWC2egeFAItCZGyiMc1LiFtlipOAm3XKQb2cygpy+Hoj5wWImDQwMIcB4ZBMg2WLiLcfl2/tAt/AqMDD4HUB1ABEWgwAj3iqVmLgVNoBY/hnotk0ODAzWE4iyGL/lEN8ugAcxPgBzAAiw8RNlMXbLSSyl4EAK6GsHoLazDURZjGk5Kb6lAmChyLcUAsb/MxhgFgvQu0UFEGAAwkZhpDEtycMAAAAASUVORK5CYII=) no-repeat;
  position: absolute;
  bottom: 1px;
  right: 0;
}
#integer .picName ul li[data-v-6320d9c6]:last-child {
  border-right: none;
}
#integer .picName .span_set[data-v-6320d9c6] {
  float: left;
  width: 100px;
  line-height: 40px;
}
#integer a[data-v-6320d9c6] {
  display: block;
  float: left;
  margin: 10px 0;
  width: 250px;
  clear: both;
}

