
#kitchen[data-v-5a08ae1a] {
  position: relative;
}
#kitchen .topCom[data-v-5a08ae1a] {
  height: 40px;
  line-height: 40px;
  font-size: 18px;
}
#kitchen .detLi[data-v-5a08ae1a] {
  position: fixed;
  z-index: 200;
  left: 220px;
}
#kitchen .detLi .detDiv[data-v-5a08ae1a] {
  top: 1px;
  left: 1px;
  background: #45404b;
  position: absolute;
  box-shadow: 3px 2px 10px #ccc;
  width: 450px;
  height: 250px;
}
#kitchen .detLi .detDiv .detI[data-v-5a08ae1a] {
  width: 0;
  height: 0;
  position: absolute;
  top: -10px;
  left: 50px;
  border-width: 10px;
  border-top: 0;
  border-style: solid;
  border-color: #f7f7f7 #f7f7f7 #45404b #f7f7f7;
}
#kitchen .detLi .detDiv .detH3[data-v-5a08ae1a] {
  width: 100%;
  height: 100%;
  color: #e6e6e7;
  white-space: normal;
  line-height: 30px;
  margin: 10px;
  overflow-y: scroll;
}

