
#cardShopTan .newCard span[data-v-e861ea54] {
	color: #333;
	min-width: 100px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border: 1px solid #d2d2d2;
	margin-right: 10px;
	margin-bottom: 10px;
	box-sizing: border-box;
	background-color: #ffffff;
}
#cardShopTan .newCard span.sign[data-v-e861ea54] {
	color: #ff9200;
	border: 1px solid #ff9200;
}
#cardShopTan .newCard span[data-v-e861ea54]:hover {
	background-color: #ffffff;
}
#cardShopTan .newCard .unsign[data-v-e861ea54] {
	background: #d2d2d2;
}
#cardShopTan .newCard .unsign[data-v-e861ea54]:hover {
	background: #d2d2d2;
}

