
.mall-box[data-v-5bd54c83] {
  width: 100%;
  min-width: 750px;
  height: auto;
  margin-left: 10px;
}
.title[data-v-5bd54c83] {
  font-size: 16px;
  color: #303133;
  position: relative;
}
.title[data-v-5bd54c83]::before {
  content: "";
  width: 4px;
  height: 16px;
  background: #E1BB4A;
  position: absolute;
}
.title[data-v-5bd54c83]::after {
  content: "";
  width: calc(100% - 350px);
  border: 1px dashed #DCDFE6;
  position: absolute;
  margin-left: 10px;
  margin-top: 6px;
}
.title span[data-v-5bd54c83] {
  padding-left: 10px;
}
.name[data-v-5bd54c83] {
  margin-top: 20px;
}
.name .sub[data-v-5bd54c83] {
  display: inline-block;
  width: 70px;
  text-align: right;
}
.name .text[data-v-5bd54c83] {
  display: inline-block;
  width: 240px;
  height: 40px;
  margin-left: 20px;
}
.type[data-v-5bd54c83] {
  margin-top: 20px;
}
.type .sub[data-v-5bd54c83] {
  display: inline-block;
  width: 70px;
  text-align: right;
}
.type .container[data-v-5bd54c83] {
  display: inline-block;
  margin-left: 20px;
}
.type .container .button[data-v-5bd54c83] {
  background-color: transparent;
  height: 30px;
  border-radius: 100px;
  vertical-align: middle;
  line-height: 30px;
  text-align: center;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}
.type .container .disable[data-v-5bd54c83] {
  border-color: #DCDFE6;
  border: 1px solid #909399;
  color: #909399;
  width: 94px;
}
.type .container .disable i[data-v-5bd54c83] {
  display: none;
}
.type .container .able[data-v-5bd54c83] {
  width: 103px;
  color: #E1BB4A;
  border: 1px solid #E1BB4A;
  border-color: #E1BB4A;
}
.type .container .able i[data-v-5bd54c83] {
  display: inline;
}
.type .nameConfig[data-v-5bd54c83] {
  margin: 20px 0 0 95px;
}
.type .nameConfig .font[data-v-5bd54c83] {
  display: inline-block;
  vertical-align: middle;
}
.type .nameConfig .font > .tips[data-v-5bd54c83] {
  margin-bottom: 10px;
}
.type .nameConfig .color[data-v-5bd54c83] {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
}
.type .nameConfig .color > .tips[data-v-5bd54c83] {
  margin-bottom: 10px;
}
.upload[data-v-5bd54c83] {
  margin-top: 20px;
}
.upload .sub[data-v-5bd54c83] {
  display: inline-block;
  width: 70px;
  text-align: right;
}
.upload .upload_but[data-v-5bd54c83] {
  display: inline-block;
  width: 138px;
  height: 36px;
  margin-left: 20px;
}
.alertTips[data-v-5bd54c83] {
  margin: 15px 0 15px 95px;
  font-size: 12px;
  color: #909399;
  letter-spacing: 0;
  line-height: 20px;
}
.editCont[data-v-5bd54c83] {
  width: 750px;
  height: 750px;
  background: #ECEDF2;
  margin-left: 95px;
  position: relative;
}
.editCont div[data-v-5bd54c83] {
  display: block;
  cursor: pointer;
  position: absolute;
  z-index: 999;
}
.editCont .centerImg[data-v-5bd54c83] {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.edit-head[data-v-5bd54c83] {
  color: #333;
  background-color: #fff;
  text-align: center;
  border: 2px solid #ccc;
  -webkit-user-select: none;
          user-select: none;
  cursor: move;
  position: relative;
  -webkit-transform-origin: top left;
          transform-origin: top left;
}
.prowx[data-v-5bd54c83] {
  color: #333;
  background: #fff;
  text-align: center;
  border: 2px solid #ccc;
  -webkit-user-select: none;
          user-select: none;
  cursor: move;
  position: relative;
  -webkit-transform-origin: top left;
          transform-origin: top left;
}
.prowx div[data-v-5bd54c83],
.edit-head div[data-v-5bd54c83] {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  cursor: nwse-resize;
}
.names[data-v-5bd54c83] {
  color: #fff;
  font-size: 24px;
  border: 2px solid #ccc;
  -webkit-user-select: none;
          user-select: none;
  cursor: move;
}
.submitBut[data-v-5bd54c83] {
  margin: 20px 0 10px 95px;
}
.submitBut button[data-v-5bd54c83] {
  width: 120px;
  height: 40px;
}

