
#goodTags[data-v-3aecb401] {
  padding-top: 30px;
}
#goodTags .detail-container[data-v-3aecb401] {
  color: #B3B3B3;
  border: 1px solid #B3B3B3;
  width: 102px;
  height: 42px;
  text-align: center;
  line-height: 42px;
  font-size: 16px;
  position: absolute;
  right: 150px;
  top: 12px;
  cursor: pointer;
}
#goodTags ul.tagsList li[data-v-3aecb401] {
  vertical-align: middle;
  max-width: 300px;
  height: 200px;
  width: 18%;
  min-width: 240px;
  background-color: #efefef;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 20px;
  color: #898989;
  cursor: pointer;
}
#goodTags ul.tagsList li .split-line[data-v-3aecb401] {
  background-color: #2EA8DC;
  height: 9px;
  opacity: 0.7;
}
#goodTags ul.tagsList li .img-span[data-v-3aecb401] {
  float: left;
  margin: 20px 0 0 20px;
  color: #333333;
  font-size: 26px;
  height: 29px;
}
#goodTags ul.tagsList li .img-span .img[data-v-3aecb401] {
  vertical-align: bottom;
  height: 29px;
}
#goodTags ul.tagsList li .tag-index[data-v-3aecb401] {
  float: right;
  margin: 15px;
  font-size: 72px;
  color: #2EA8DC;
  opacity: 0.2;
}
#goodTags .split-line[data-v-3aecb401] {
  background-color: #00a0e9;
  height: 9px;
  opacity: 0.7;
}
#goodTags .tag-container[data-v-3aecb401] {
  float: left;
  margin: 20px 0 0 12px;
  color: #333333;
  font-size: 26px;
}
#goodTags .tag-container .tag-img[data-v-3aecb401] {
  height: 29px;
  width: 30px;
  vertical-align: text-bottom;
}
#goodTags .tag-markerNum[data-v-3aecb401] {
  float: right;
  margin: 10px;
  font-size: 72px;
  color: #008ed6;
  opacity: 0.2;
}
#goodTags .relative-goods[data-v-3aecb401] {
  font-size: 18px;
  clear: both;
  margin-left: 10px;
  color: #333333;
  margin-bottom: 5px;
}
#goodTags .relative-packages[data-v-3aecb401] {
  font-size: 18px;
  clear: both;
  margin-left: 10px;
  color: #333333;
}

