
#material-edit .inline[data-v-10a12775] {
  margin-left: -3px;
  display: inline-block;
  vertical-align: middle;
}
#material-edit .split-title[data-v-10a12775] {
  text-indent: 15px;
  border-left: 2px solid #29a8e0;
  margin-bottom: 30px;
  color: #333;
  height: 20px;
  line-height: 20px;
  font-size: 16px;
}
#material-edit .split-title[data-v-10a12775]:after {
  content: '';
  display: inline-block;
  border: 1px dashed #ddd;
  width: 470px;
  position: relative;
  left: 20px;
  top: -4px;
}
#material-edit .label-content[data-v-10a12775] {
  padding-bottom: 20px;
}
#material-edit .label-content .inline-box[data-v-10a12775] {
  display: inline-block;
  margin-right: 20px;
}
#material-edit .label-content .input-box[data-v-10a12775] {
  display: inline-block;
  width: 210px;
}
#material-edit .label-content .label[data-v-10a12775] {
  color: #333;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  width: 115px;
  text-align: right;
  display: inline-block;
  padding-right: 20px;
  vertical-align: middle;
}
#material-edit .label-content .input[data-v-10a12775] {
  color: #333;
  line-height: 40px;
  font-size: 14px;
  display: inline-block;
  height: 40px;
  width: 210px;
  border: 1px solid #ccc;
  vertical-align: middle;
  margin-left: -3px;
}
#material-edit .label-content .tips[data-v-10a12775] {
  margin-left: 10px;
}
#material-edit .label-content .img-div[data-v-10a12775] {
  height: 40px;
  width: 210px;
  background-color: #29a8e0;
  color: #fff;
  font-size: 14px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  margin-left: -3px;
  display: inline-block;
  vertical-align: middle;
}
#material-edit .label-content .img-div img[data-v-10a12775] {
  position: absolute;
  margin-left: -35px;
  margin-top: 10px;
  display: inline-block;
  vertical-align: middle;
}
#material-edit .label-content .validity-input[data-v-10a12775] {
  width: 120px;
  color: #333;
}
#material-edit .label-content .validity[data-v-10a12775] {
  margin-left: -3px;
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  margin-left: 7px;
  color: #333;
  width: 80px;
  border: 1px solid #ccc;
}
#material-edit .label-content .validity .validity-num[data-v-10a12775] {
  width: 40px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  color: #333;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  border-right: 1px solid #ccc;
}
#material-edit .label-content .validity .validity-trangle[data-v-10a12775] {
  position: absolute;
  margin-top: 16px;
  margin-left: 12px;
  border: 7px solid transparent;
  border-top: 9px solid #ccc;
}
#material-edit .label-content .validity .validity-ul[data-v-10a12775] {
  margin: 0;
  padding: 0;
  width: 40px;
  position: absolute;
  margin-left: 39px;
  margin-top: -2px;
  z-index: 11;
}
#material-edit .label-content .validity .validity-ul li[data-v-10a12775] {
  list-style: none;
  border: 1px solid #ccc;
  border-bottom: 0;
  text-align: center;
  color: #333;
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  cursor: pointer;
  background-color: #fff;
}
#material-edit .label-content .validity .validity-ul li[data-v-10a12775]:last-child {
  border-bottom: 1px solid #ccc;
}
#material-edit .label-content .unit-div[data-v-10a12775] {
  margin-left: -3px;
  display: inline-block;
  vertical-align: middle;
  width: 210px;
  height: 40px;
  border: 1px solid #ccc;
}
#material-edit .label-content .unit-div input[type='text'][data-v-10a12775] {
  width: 167px;
  height: 38px;
  padding: 0;
  border: 0;
  outline: none;
  text-indent: 15px;
  float: left;
  font-size: 14px;
}
#material-edit .label-content .unit-div span[data-v-10a12775] {
  width: 37px;
  text-align: center;
  vertical-align: middle;
  color: #333;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  border-left: 1px solid #ccc;
  float: left;
}
#material-edit .label-content .equal-unit[data-v-10a12775] {
  margin-left: 10px;
  font-size: 14px;
}
#material-edit .bottom[data-v-10a12775] {
  padding-left: 115px;
  margin-top: 50px;
}
#material-edit .bottom div[data-v-10a12775] {
  width: 200px;
  height: 50px;
  line-height: 50px;
  margin-right: 10px;
  text-align: center;
  font: 16px;
  display: inline-block;
  cursor: pointer;
}
#material-edit .bottom .gray-btn[data-v-10a12775] {
  color: #fff;
}
#material-edit .bottom .new-btn[data-v-10a12775] {
  border: 1px solid #ff9200;
  color: #ff9200;
}
#material-edit .bottom .yellow-btn[data-v-10a12775] {
  color: #fff;
}

