
#tan[data-v-3d30d04d] {
	padding: 20px;
}


#memberDetail .tips[data-v-2fdb64c8] {
	width: 100%;
	height: 40px;
	margin-bottom: 22px;
}
#memberDetail .member[data-v-2fdb64c8] {
	width: 100%;
	height: auto;
	border: 1px #D2D2D2 solid;
	overflow: hidden;
}
#memberDetail .top[data-v-2fdb64c8] {
	height: 40px;
	width: 100%;
	background-color: #E6E6E6;
}
#memberDetail .top h3[data-v-2fdb64c8] {
	width: 80px;
	line-height: 40px;
	margin-left: 37px;
	color: #43414A;
	font-size: 16px;
	float: left;
}
#memberDetail .top .img[data-v-2fdb64c8] {
	display: inline-block;
	float: left;
	padding-top: 10px;
}
#memberDetail .memberMsg[data-v-2fdb64c8] {
	width: 100%;
	height: auto;
	/*  overflow: hidden; */
	overflow-x: auto;
}
#memberDetail .memberMsg .message[data-v-2fdb64c8] {
	width: 1600px;
	height: 56px;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-around;
	        justify-content: space-around;
	padding-left: 38px;
}
#memberDetail .memberMsg .message li[data-v-2fdb64c8] {
	float: left;
	width: 24%;
	height: 56px;
	line-height: 56px;
}
#memberDetail .memberMsg .message li span[data-v-2fdb64c8] {
	float: left;
	font-size: 16px;
	margin-right: 35px;
	min-width: 100px;
}
#memberDetail .memberMsg .message li .belongshop[data-v-2fdb64c8] {
	max-width: 200px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
#memberDetail .memberMsg .message li .operation[data-v-2fdb64c8] {
	display: block;
	width: 100px;
	height: 43px;
	background: #28A8E0;
	color: #fff;
	border-radius: 5px;
	line-height: 43px;
	font-size: 16px;
	margin-top: 6px;
}
#memberDetail .memberMsg .memberInfo[data-v-2fdb64c8] {
	width: 25%;
	height: 100%;
	padding-left: 38px;
	position: relative;
	float: left;
}
#memberDetail .memberMsg .memberInfo p[data-v-2fdb64c8] {
	font-size: 16px;
	color: #333;
	line-height: 56px;
	height: 56px;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	        align-items: center;
}
#memberDetail .memberMsg .memberInfo p.handle[data-v-2fdb64c8] {
	width: 100px;
	height: 43px;
	background: #28A8E0;
	color: #fff;
	border-radius: 5px;
	line-height: 43px;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	        justify-content: center;
}
#memberDetail .memberMsg .memberInfo .memberInfo_s[data-v-2fdb64c8] {
	width: 381px;
	height: 56px;
	margin-right: 38px;
}
#memberDetail .memberMsg .memberInfo .memberInfo_s span[data-v-2fdb64c8] {
	display: block;
	height: 56px;
	line-height: 56px;
	font-size: 16px;
	margin-right: 24px;
}
#memberDetail .diel[data-v-2fdb64c8] {
	display: inline-block;
	width: 136px;
	height: 42px;
	font-size: 16px;
	background: #FFF;
	border: 1px solid #E9C048;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
	color: #F8931F;
}
#memberDetail .on[data-v-2fdb64c8] {
	background: #F8931F;
	color: #fff;
}
#memberDetail .memberCount[data-v-2fdb64c8] {
	width: 100%;
	height: 55px;
	background-color: #fff;
	line-height: 52px;
	padding-left: 38px;
	position: relative;
	overflow: hidden;
}
#memberDetail .memberCount li[data-v-2fdb64c8] {
	float: left;
	font-size: 16px;
	text-align: center;
}
#memberDetail .memberCount li span[data-v-2fdb64c8] {
	color: #FF3C05;
}
#memberDetail .oUl[data-v-2fdb64c8] {
	width: 100%;
	height: 42px;
	line-height: 42px;
}
#memberDetail .oUl li[data-v-2fdb64c8] {
	width: 18%;
	height: 42px;
	line-height: 42px;
	text-align: center;
	float: left;
	vertical-align: middle;
	font-size: 16px;
}
#memberDetail .activeUi[data-v-2fdb64c8] {
	width: 100%;
	height: auto;
}
#memberDetail .activeUi li[data-v-2fdb64c8] {
	border-bottom: 1px solid #F7F7F7;
	width: 100%;
	height: auto;
	overflow: hidden;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	        justify-content: center;
}
#memberDetail .activeUi li span[data-v-2fdb64c8] {
	width: 18%;
	text-align: center;
	float: left;
	padding: 20px 0px;
	line-height: 32px;
	font-size: 16px;
}
#memberDetail .filtBox[data-v-2fdb64c8] {
	width: 165px;
	height: 90px;
	line-height: 40px;
	border: 1px solid #3e3a43;
	background-color: #3e3a43;
	margin-top: 1px;
	z-index: 999;
	position: absolute;
	top: 0;
	left: 120px;
	color: #fff;
	font-size: 14px;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	        justify-content: center;
}
.filtBox[data-v-2fdb64c8]:after {
	content: "";
	width: 6px;
	height: 6px;
	border-left: 1px solid #3e3a43;
	border-bottom: 1px solid #3e3a43;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	position: absolute;
	top: 22px;
	left: -5px;
	background: #3e3a43;
}
.recharge-btn[data-v-2fdb64c8] {
	height: 40px;
	line-height: 40px;
	margin-top: 5px;
}
.tagItem[data-v-2fdb64c8] {
	border: 1px solid #FF9800;
	color: #FF9800;
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	margin-right: 10px;
	border-radius: 5px;
}














/* @media screen and (min-width:1024px) and (max-width:1440px) {
		#memberDetail .memberMsg .memberInfo {
			width: 203px;
			height: 100%;
			padding-left: 19px;
			float: left;
		}
		}*/

