
.member-details[data-v-16caede1] {
	height: 600px;
	width: 800px;
	overflow: hidden;
	padding: 20px 0;
}
.member-details input[data-v-16caede1]::-webkit-input-placeholder {
	font-size: 14px;
	color: #A5A5A5;
	outline: none;
}
.member-box[data-v-16caede1] {
	width: 100%;
	height: 43px;
	line-height: 43px;
	overflow: hidden;
	margin-bottom: 19px;
}
.member-box .balanceTip[data-v-16caede1] {
	width: 220px;
	height: 41px;
	margin-left: 19px;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
}
.member-box .balanceTip span[data-v-16caede1] {
	display: block;
	width: 101px;
	height: 41px;
	line-height: 41px;
	border: 1px #D2D2D2 solid;
	float: left;
	font-size: 14px;
	text-align: center;
}
.member-box .balanceTip span.active[data-v-16caede1] {
	border: 1px #F7931E solid;
	background: #fde5c9;
	color: #F7931E;
}
.reason[data-v-16caede1] {
	width: 100%;
	height: 93px;
}
.box-left[data-v-16caede1] {
	width: 120px;
	font-size: 16px;
	color: #43414A;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	        justify-content: flex-end;
}
.reason textarea[data-v-16caede1]::-webkit-input-placeholder {
	font-size: 14px;
	color: #A5A5A5;
}
.memberNotice[data-v-16caede1] {
	margin-left: 148px;
	height: 36px;
	padding: 10px 0;
	line-height: 36px;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	        align-items: center;
	color: #A5A5A5;
	font-size: 14px;
}
.check-span[data-v-16caede1] {
	float: left;
}
.reason textarea[data-v-16caede1] {
	resize: none;
	border: 1px #D2D2D2 solid;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
}
.member-box .balanceTip span.active[data-v-16caede1] {
	border: 1px #F7931E solid;
	background: #fde5c9;
	color: #F7931E;
}
.details-head[data-v-16caede1] {
	padding: 10px;
	padding-bottom: 0;
	width: 100%;
	height: 170px;
	border-bottom: 10px solid #e6e6e6;
}
.head-child[data-v-16caede1],
.details-tit[data-v-16caede1] {
	height: 50px;
	line-height: 50px;
	width: 100%;
}
.head-child[data-v-16caede1]:nth-child(2) {
	border-bottom: 1px solid #F2DEDE;
}
.head-child span[data-v-16caede1] {
	width: 33.33%;
	height: 50px;
	float: left;
}
.head-child input[data-v-16caede1] {
	padding-left: 10px;
	border: 1px solid #C6C6C6;
	outline: none;
	color: #666;
	height: 46px;
	width: 150px;
}
.head-child span[data-v-16caede1]:nth-child(1n) {
	padding-left: 20px;
}
.head-child span[data-v-16caede1]:nth-child(2n) {
	text-align: left;
	text-indent: 50px;
}
.head-child span[data-v-16caede1]:nth-child(3n) {
	padding-right: 20px;
	text-align: right;
}

