
#memberLabel .btn-concent[data-v-6446ffd1] {
	margin-bottom: 19px;
}
#memberLabel .increase[data-v-6446ffd1] {
	width: 210px;
	height: 40px;
	background-position: 40px 10px;
}
#memberLabel .tagList[data-v-6446ffd1] {
	width: 100%;
	border: 1px #D2D2D2 solid;
	padding-bottom: 20px;
}
#memberLabel .tagList .listTop[data-v-6446ffd1] {
	width: 100%;
	height: 40px;
	background: #F2F2F2;
	line-height: 40px;
	text-align: center;
}
#memberLabel .tagList .labelLi li[data-v-6446ffd1] {
	width: 25%;
	float: left;
}
#memberLabel .tagList .listBottom[data-v-6446ffd1] {
	width: 100%;
	height: 70px;
	line-height: 70px;
	text-align: center;
	border-bottom: 3px #F7F7F7 solid;
	overflow: hidden;
}
#memberLabel .tagList .listBottom li:nth-of-type(1) span[data-v-6446ffd1] {
	color: #00AAE5;
	margin: 0px 9px;
	font-size: 16px;
	padding-bottom: 2px;
	border-bottom: 1px #00AAE5 solid;
	cursor: pointer;
}
.dolist_btn span[data-v-6446ffd1] {
	color: #00AAE5;
	margin: 0px 9px;
	font-size: 16px;
	padding-bottom: 2px;
	border-bottom: 1px #00AAE5 solid;
	cursor: pointer;
}
#addLabel .creatLabel[data-v-6446ffd1] {
	width: 100%;
	height: 100%;
	padding: 50px 70px;
}
#addLabel .creatLabel li[data-v-6446ffd1] {
	width: 100%;
	height: auto;
	display: table;
	margin-bottom: 20px;
}
#addLabel .creatLabel li .labelLeft[data-v-6446ffd1] {
	width: 20%;
	display: table-cell;
	vertical-align: middle;
	font-size: 16px;
	text-align: end;
}
#addLabel .creatLabel li .labelRight[data-v-6446ffd1] {
	width: 70%;
	display: table-cell;
	padding-left: 20px;
}
#addLabel .creatLabel li .labelRight .inp[data-v-6446ffd1] {
	width: 215px;
	height: 41px;
	text-indent: 21px;
	line-height: 21px;
}
#addLabel .creatLabel li .labelRight .inp[data-v-6446ffd1]::-webkit-input-placeholder {
	font-size: 14px;
	color: #A5A5A5;
	outline: none;
}
#addLabel .creatLabel li .subadd .on-span[data-v-6446ffd1] {
	background-color: #B3B3B3;
}
#addLabel .creatLabel li .subadd .input-content[data-v-6446ffd1] {
	border: 1px #D2D2D2 solid;
	border-left: none;
	border-right: none;
	width: 56px;
}
#hintPop .content[data-v-6446ffd1] {
	width: 100%;
	height: 200px;
	text-align: center;
	line-height: 200px;
	font-size: 18px;
	color: #333;
}

