
#membercard[data-v-0ed1d3de] {
	width: 1437px;
	height: 100%;
}
#membercard .search[data-v-0ed1d3de] {
	width: 100%;
	height: 42px;
	margin-bottom: 18px;
}
#membercard .search span[data-v-0ed1d3de] {
	font-size: 16px;
	margin-right: 15px;
}
#membercard .search input[data-v-0ed1d3de] {
	width: 183px;
	height: 41px;
	text-indent: 10px;
	margin-right: 15px;
}
#membercard .search a[data-v-0ed1d3de] {
	width: 101px;
	height: 42px;
	text-align: center;
	line-height: 42px;
	margin-right: 15px;
}
#membercard .choiceshop[data-v-0ed1d3de] {
	width: 100%;
	overflow: hidden;
	margin-bottom: 20px;
}
#membercard .choiceshop .choiceshop_l[data-v-0ed1d3de] {
	float: left;
	font-size: 16px;
	line-height: 24px;
}
#membercard .choiceshop .choiceshop_r[data-v-0ed1d3de] {
	float: left;
	width: 900px;
	font-size: 16px;
	line-height: 24px;
}

