
@media only screen and (max-width: 1250px) {
.setSpeen[data-v-66f0cf8f] {
    margin-top: 10px;
    display: block !important;
}
}
.infoDetail[data-v-66f0cf8f] {
  display: inline-block;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  text-align: center;
}
.setSpeen[data-v-66f0cf8f] {
  display: inline-block;
}
.tebBox[data-v-66f0cf8f] {
  display: inline-block;
  border: 1px orange solid;
  color: orange;
  cursor: pointer;
}
.tebBox li[data-v-66f0cf8f] {
  display: inline-block;
  padding: 10px 30px;
}
.tebBox .active[data-v-66f0cf8f] {
  background-color: orange;
  color: #ffffff;
}
.serBox h1[data-v-66f0cf8f] {
  display: inline-block;
  line-height: 42px;
}
.serBox .timer[data-v-66f0cf8f] {
  display: inline-block;
  width: 200px;
  margin-left: 10px;
}

