
.detail-list .color-size[data-v-52ccce47] {
  color: #333;
  font-size: 16px;
}
.detail-list .chooseBtn[data-v-52ccce47] {
  padding-top: 10px;
  overflow: hidden;
}
.detail-list .chooseBtn li[data-v-52ccce47] {
  width: 100px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: #333;
  float: left;
  background: #f2f2f2;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.detail-list .chooseBtn .select[data-v-52ccce47] {
  background: #29a7e1;
  color: #fff;
}
.detail-list .table[data-v-52ccce47] {
  border: 1px solid #ccc;
  width: 100%;
  margin-top: 10px;
}
.detail-list .table .scroll-box[data-v-52ccce47] {
  overflow: auto;
}
.detail-list .table .table-head[data-v-52ccce47] {
  padding-left: 20px;
  height: 46px;
  line-height: 46px;
  color: #333;
  font-size: 16px;
}
.detail-list .table .table-head em[data-v-52ccce47] {
  color: #fe8d01;
  display: inline-block;
  padding: 0 3px;
}
.detail-list .table .table-head .detail-toggle[data-v-52ccce47] {
  color: #28a8e0;
  margin-left: 20px;
  font-size: 16px;
  -webkit-text-decoration: underline #28a8e0;
          text-decoration: underline #28a8e0;
  cursor: pointer;
}
.detail-list .table .table-head .circle[data-v-52ccce47] {
  display: inline-block;
  width: 4px;
  height: 4px;
  border: 1px solid #333;
  border-radius: 50%;
  margin: 0 15px;
  background-color: #333;
  vertical-align: middle;
  margin-top: -4px;
}
.detail-list .table .table-li[data-v-52ccce47] {
  float: left;
  list-style: none;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.detail-list .table .table-title[data-v-52ccce47] {
  min-width: 1200px;
  height: 40px;
  background-color: #f2f2f2;
  line-height: 40px;
  overflow: hidden;
}
.detail-list .table .table-title li[data-v-52ccce47] {
  height: 40px;
  float: left;
  list-style: none;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #333;
  font-size: 16px;
  width: 22.5%;
}
.detail-list .table .table-title li[data-v-52ccce47]:first-child {
  width: 10%;
}
.detail-list .table .enter li[data-v-52ccce47] {
  width: 18%;
}
.detail-list .table .enter li[data-v-52ccce47]:first-child {
  width: 10%;
}
.detail-list .table .table-body[data-v-52ccce47] {
  min-width: 1200px;
}
.detail-list .table .table-body .table-item[data-v-52ccce47] {
  border-bottom: 2px solid #f7f7f7;
}
.detail-list .table .table-body .table-item[data-v-52ccce47]:last-child {
  border-bottom: 0;
}
.detail-list .table .table-body .empty[data-v-52ccce47] {
  height: 70px;
  line-height: 70px;
  width: 100%;
  text-align: center;
  color: #999;
  font-size: 20px;
}
.detail-list .table .table-body .one-item[data-v-52ccce47] {
  overflow: hidden;
}
.detail-list .table .table-body .one-item li[data-v-52ccce47] {
  float: left;
  list-style: none;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 70px;
  line-height: 70px;
  color: #666;
  font-size: 14px;
  width: 22.5%;
}
.detail-list .table .table-body .one-item li[data-v-52ccce47]:first-child {
  width: 10%;
}
.detail-list .table .table-body .enter li[data-v-52ccce47] {
  width: 18%;
}
.detail-list .table .table-body .enter li[data-v-52ccce47]:first-child {
  width: 10%;
}
.detail-list .table .table-body .small-table[data-v-52ccce47] {
  padding-bottom: 10px;
}
.detail-list .table .table-body .small-table .small-head[data-v-52ccce47],
.detail-list .table .table-body .small-table .small-body[data-v-52ccce47] {
  overflow: hidden;
  height: 30px;
  padding-left: 5%;
}
.detail-list .table .table-body .small-table .small-head span[data-v-52ccce47],
.detail-list .table .table-body .small-table .small-body span[data-v-52ccce47] {
  color: #999;
  font-size: 16px;
  float: left;
  height: 30px;
  line-height: 30px;
  width: 15%;
  text-align: center;
}
.detail-list .table .table-body .small-table .small-head span[data-v-52ccce47]:first-child,
.detail-list .table .table-body .small-table .small-body span[data-v-52ccce47]:first-child {
  width: 10%;
}
.detail-list .table .table-body .small-table .small-body span[data-v-52ccce47] {
  font-size: 14px;
  height: 30px;
  line-height: 30px;
}

