
#output-shipper[data-v-764ad2a6] {
  position: relative;
}
#output-shipper .color-size[data-v-764ad2a6] {
  color: #333;
  font-size: 16px;
}
#output-shipper .head[data-v-764ad2a6] {
  padding-left: 15px;
  height: 30px;
  border-left: 2px solid #28a8e0;
  font-size: 16px;
  line-height: 30px;
  color: #333;
}
#output-shipper .head[data-v-764ad2a6]:after {
  content: "";
  display: inline-block;
  width: 535px;
  margin-left: 25px;
  border: 1px dashed #ccc;
  position: relative;
  top: -5px;
}
#output-shipper .detail[data-v-764ad2a6] {
  overflow: hidden;
  padding-top: 20px;
  padding-left: 5%;
  /*examine*/
}
#output-shipper .detail .block[data-v-764ad2a6] {
  float: left;
  width: 33.33%;
  padding-right: 20px;
}
#output-shipper .detail .block .item[data-v-764ad2a6] {
  font-size: 16px;
  position: relative;
  min-height: 20px;
  padding-left: 80px;
  margin-bottom: 20px;
}
#output-shipper .detail .block .item span[data-v-764ad2a6] {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 16px;
}
#output-shipper .detail .block .item p[data-v-764ad2a6] {
  min-width: 30px;
  max-width: 100%;
  min-height: 20px;
  position: relative;
  display: inline-block;
  font-size: inherit;
}
#output-shipper .detail .block .narrow[data-v-764ad2a6] {
  padding-left: 50px;
}
#output-shipper .detail .block .ware[data-v-764ad2a6] {
  padding-right: 20px;
}
#output-shipper .tab-box[data-v-764ad2a6] {
  overflow: hidden;
  display: inline-block;
  padding-left: 1px;
}
#output-shipper .tab-box span[data-v-764ad2a6] {
  float: left;
  color: #fe8d01;
  height: 35px;
  line-height: 33px;
  width: 120px;
  text-align: center;
  margin-bottom: 10px;
  cursor: pointer;
  border: 1px solid #fe8d01;
  margin-left: -1px;
}
#output-shipper .tab-box span.active[data-v-764ad2a6] {
  background: #fe8d01;
  color: #fff;
}

