
@media only screen and (max-width: 1110px) {
.setSpeen[data-v-1c35d6af] {
    margin-top: 10px;
    display: block;
}
}
#output-select-goods .title[data-v-1c35d6af] {
  width: 98%;
  height: 40px;
  margin: 10px;
  line-height: 40px;
  position: relative;
  overflow: hidden;
}
#output-select-goods .title i[data-v-1c35d6af] {
  width: 2px;
  height: 28px;
  position: absolute;
  top: 6px;
  left: 0;
  background-color: #f8941f;
}
#output-select-goods .title h3[data-v-1c35d6af] {
  height: 40px;
  margin-left: 10px;
  float: left;
  font-size: 16px;
  font-family: "\5FAE\8F6F\96C5\9ED1";
}
#output-select-goods .table-head[data-v-1c35d6af] {
  list-style: none;
  text-align: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
          flex: 1;
}
#output-select-goods .setSpeen[data-v-1c35d6af] {
  display: inline-block;
}
#output-select-goods .search-module[data-v-1c35d6af] {
  padding-top: 16px;
  padding-bottom: 16px;
}
#output-select-goods .search-module .search-input[data-v-1c35d6af] {
  height: 40px;
  color: #a5a5a5;
  font-size: 14px;
  line-height: 40px;
  text-indent: 15px;
  padding: 0;
  outline: none;
  margin-right: 15px;
}
#output-select-goods .search-module .sleBtn[data-v-1c35d6af] {
  display: inline-block;
  margin-right: 20px;
}
#output-select-goods .search-module .search-select[data-v-1c35d6af] {
  display: inline-block;
  margin-right: 15px;
}
#output-select-goods .search-module .search-btn[data-v-1c35d6af] {
  width: 100px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  font-size: 16px;
  margin-right: 10px;
  display: inline-block;
  text-align: center;
}
#output-select-goods .search-module .filter[data-v-1c35d6af],
#output-select-goods .search-module .reset[data-v-1c35d6af] {
  width: 100px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  font-size: 16px;
  margin-right: 10px;
  display: inline-block;
  text-align: center;
}
#output-select-goods .table-select[data-v-1c35d6af] {
  border: 1px solid #ccc;
}
#output-select-goods .table-select .select-title[data-v-1c35d6af] {
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
  font-size: 16px;
  color: #333;
}
#output-select-goods .table-select .select-title .packUp[data-v-1c35d6af] {
  cursor: pointer;
  color: #5ebee8;
  text-decoration: underline;
}
#output-select-goods .table-select .select-title .circle[data-v-1c35d6af] {
  display: inline-block;
  width: 4px;
  height: 4px;
  border: 1px solid #333;
  border-radius: 50%;
  margin: 0 15px;
  background-color: #333;
  vertical-align: middle;
  margin-top: -4px;
}
#output-select-goods .table-select .select-title .select-num[data-v-1c35d6af] {
  color: #ff3c04;
  font-size: 16px;
}
#output-select-goods .table-select .select-head[data-v-1c35d6af] {
  background-color: #f2f2f2;
  overflow: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
}
#output-select-goods .table-select .select-head li[data-v-1c35d6af] {
  list-style: none;
  text-align: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
          flex: 1;
  line-height: 40px;
  height: 40px;
  font-size: 16px;
  color: #43414a;
}
#output-select-goods .table-select .active[data-v-1c35d6af] {
  background-color: #cccccc;
  border-bottom: 1px #fff solid;
}
#output-select-goods .table-select .select-item .select-row[data-v-1c35d6af] {
  overflow: auto;
  border-bottom: 1px #ccc solid;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
}
#output-select-goods .table-select .select-item .select-row li[data-v-1c35d6af] {
  list-style: none;
  text-align: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
          flex: 1;
  height: 70px;
  line-height: 70px;
  font-size: 14px;
  color: #666666;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#output-select-goods .table-select .select-item .select-row li[data-v-1c35d6af]:first-child {
  font-size: 16px;
  cursor: pointer;
}
#output-select-goods .page-box[data-v-1c35d6af] {
  margin-top: 10px;
  padding-bottom: 30px;
}
#output-select-goods #emptyData[data-v-1c35d6af] {
  margin: 0 auto;
  text-align: center;
  height: 50px;
  line-height: 50px;
  color: orange;
}
.bounce-enter-active[data-v-1c35d6af] {
  -webkit-animation: bounce-in-data-v-1c35d6af 0.5s;
          animation: bounce-in-data-v-1c35d6af 0.5s;
}
.bounce-leave-active[data-v-1c35d6af] {
  -webkit-animation: bounce-out-data-v-1c35d6af 0.5s;
          animation: bounce-out-data-v-1c35d6af 0.5s;
}
@-webkit-keyframes bounce-in-data-v-1c35d6af {
0% {
    height: 0;
}
100% {
    height: auto;
}
}
@keyframes bounce-in-data-v-1c35d6af {
0% {
    height: 0;
}
100% {
    height: auto;
}
}
@-webkit-keyframes bounce-out-data-v-1c35d6af {
0% {
    height: auto;
}
100% {
    height: 0px;
}
}
@keyframes bounce-out-data-v-1c35d6af {
0% {
    height: auto;
}
100% {
    height: 0px;
}
}

