
#out-store[data-v-eb90fbc0] {
  overflow: auto;
  font-size: 14px;
}
#out-store .scroll-box[data-v-eb90fbc0] {
  min-width: 1200px;
}
#out-store .ellipsis[data-v-eb90fbc0] {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#out-store .vertical-input[data-v-eb90fbc0] {
  line-height: 40px;
  height: 40px;
  width: 210px;
  outline: none;
  padding: 0 10px;
  vertical-align: top;
  margin-left: -5px;
  font-size: 14px;
}
#out-store .vertical-label[data-v-eb90fbc0] {
  line-height: 40px;
  height: 40px;
  width: 116px;
  padding-right: 25px;
  color: #333333;
  text-align: right;
}
#out-store .vertical-line[data-v-eb90fbc0] {
  line-height: 40px;
  height: 40px;
}
#out-store .store-list .label[data-v-eb90fbc0] {
  line-height: 40px;
  height: 40px;
  width: 116px;
  padding-right: 25px;
  color: #333333;
  text-align: right;
  display: inline-block;
}
#out-store .store-list .text[data-v-eb90fbc0] {
  line-height: 40px;
  height: 40px;
  width: 210px;
  outline: none;
  padding: 0 10px;
  vertical-align: top;
  margin-left: -5px;
  font-size: 14px;
}
#out-store .store-list .tip-word[data-v-eb90fbc0] {
  line-height: 40px;
  height: 40px;
  color: #c9c9c9;
  padding-left: 116px;
}
#out-store .store-list .tip-word img[data-v-eb90fbc0] {
  vertical-align: middle;
}
#out-store .store-list .textarea[data-v-eb90fbc0] {
  height: 100px;
  resize: none;
  font-size: 14px;
  width: 210px;
  color: #333;
  outline: none;
  padding: 0 10px;
  vertical-align: top;
  margin-left: -5px;
  padding-top: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
}
#out-store .store-list .add[data-v-eb90fbc0] {
  display: inline-block;
  background-color: #29a8e0;
  width: 210px;
  background-position: 30% 50%;
  padding-left: 90px;
  line-height: 40px;
  height: 40px;
  vertical-align: top;
  margin-left: -3px;
  color: #fff;
  cursor: pointer;
}
#out-store .store-list .add .img-span[data-v-eb90fbc0] {
  vertical-align: middle;
}
#out-store .store-list .select-store[data-v-eb90fbc0] {
  width: auto;
  height: 40px;
  padding-left: 15px;
  display: inline-block;
  color: #707077;
  vertical-align: top;
  line-height: 40px;
}
#out-store .chooseBtn[data-v-eb90fbc0] {
  margin-top: 20px;
  width: 240px;
  height: 34px;
  cursor: pointer;
}
#out-store .chooseBtn span[data-v-eb90fbc0] {
  width: 50%;
  height: 100%;
  text-align: center;
  line-height: 34px;
  color: #fe8d01;
  border: 1px solid #fe8d01;
  float: left;
}
#out-store .chooseBtn span[data-v-eb90fbc0]:last-child {
  border-left: 0;
}
#out-store .chooseBtn .select[data-v-eb90fbc0] {
  background: #fe8d01;
  color: #ffffff;
}
#out-store .bottom[data-v-eb90fbc0] {
  margin-top: 40px;
  margin-bottom: 40px;
  padding-left: 117px;
}
#out-store .bottom div[data-v-eb90fbc0] {
  width: 210px;
  height: 50px;
  margin-right: 10px;
  display: inline-block;
  font-size: 16px;
  line-height: 50px;
  text-align: center;
  color: #f3f3f3;
}
#out-store .bottom.have-goods[data-v-eb90fbc0] {
  padding-left: 0;
}
#out-store .add-list[data-v-eb90fbc0] {
  margin-top: 20px;
  width: 100%;
  border: 1px solid #ccc;
  font-size: 16px;
}
#out-store .add-list .head[data-v-eb90fbc0] {
  width: 100%;
  height: 45px;
  line-height: 45px;
  padding-left: 10px;
  font-size: 16px;
  color: #333;
}
#out-store .add-list .head span[data-v-eb90fbc0] {
  color: #fe8d01;
}
#out-store .add-list .title[data-v-eb90fbc0] {
  background-color: #f2f2f2;
  height: 40px;
  list-style: none;
  line-height: 40px;
  overflow: hidden;
  width: 100%;
}
#out-store .add-list .title li[data-v-eb90fbc0] {
  font-size: 14px;
  text-align: center;
  color: #333;
  float: left;
}
#out-store .add-list .goods li[data-v-eb90fbc0] {
  width: 14%;
}
#out-store .add-list .goods li[data-v-eb90fbc0]:nth-child(3) {
  width: 16%;
}
#out-store .add-list .material li[data-v-eb90fbc0] {
  width: 14%;
}
#out-store .add-list .material li[data-v-eb90fbc0]:nth-child(3) {
  width: 16%;
}
#out-store .add-list .table-body .ceil[data-v-eb90fbc0] {
  width: 100%;
  height: 70px;
  line-height: 70px;
  border-bottom: 2px solid #f7f7f7;
}
#out-store .add-list .table-body .ceil[data-v-eb90fbc0]:after {
  content: '';
  zoom: 1;
  display: block;
  clear: both;
}
#out-store .add-list .table-body .ceil li[data-v-eb90fbc0] {
  list-style: none;
  font-size: 14px;
  color: #333;
  text-align: center;
  float: left;
  height: 70px;
  line-height: 70px;
}
#out-store .add-list .table-body .ceil li .split-line[data-v-eb90fbc0] {
  height: 18px;
  width: 0;
  border-left: 1px solid #ccc;
  display: inline-block;
  margin: 0 20px;
}
#out-store .add-list .table-body .ceil li .text[data-v-eb90fbc0] {
  height: 40px;
  line-height: 40px;
  width: 100px;
  padding: 0 10px;
  border: 1px solid #ccc;
  outline: none;
  font-size: inherit;
  color: #333;
}
#out-store .add-list .table-body .ceil li .input-box[data-v-eb90fbc0] {
  height: 40px;
  display: inline-block;
  overflow: hidden;
  border: 1px solid #ccc;
  vertical-align: middle;
}
#out-store .add-list .table-body .ceil li .input-box input[data-v-eb90fbc0] {
  width: 100px;
  height: 38px;
  line-height: 38px;
  padding: 0 10px;
  border: 0;
  float: left;
}
#out-store .add-list .table-body .ceil li .input-box input[data-v-eb90fbc0]:focus {
  outline: none;
}
#out-store .add-list .table-body .ceil li .input-box div[data-v-eb90fbc0] {
  width: 40px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  border-left: 1px solid #ccc;
  float: left;
}
#out-store .add-list .table-body .empty[data-v-eb90fbc0] {
  height: 70px;
  line-height: 70px;
  text-align: center;
  color: #999;
  font-size: 20px;
}
#out-store .add-list .table-body .goods li[data-v-eb90fbc0] {
  width: 14%;
}
#out-store .add-list .table-body .goods li[data-v-eb90fbc0]:nth-child(3) {
  width: 16%;
}
#out-store .add-list .table-body .material li[data-v-eb90fbc0] {
  width: 14%;
}
#out-store .add-list .table-body .material li[data-v-eb90fbc0]:nth-child(3) {
  width: 16%;
}

