/* 一级弹框样式 */
#bag-win[data-v-d498848e] {
  width: 700px;
  height: auto;
  min-height: 690px;
}
#bag-win .edit-photo[data-v-d498848e] {
  background-color: rgba(27, 21, 21, 0.6);
  height: 40px;
  line-height: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 225px;
  color: #fff;
  text-align: center;
  font-size: 16px;
}
#bag-win .container[data-v-d498848e] {
  padding-left: 27px;
  padding-top: 18px;
  width: 680px;
  height: auto;
  font-size: 14px;
  text-align: left;
}
#bag-win .container .tab[data-v-d498848e] {
  height: 40px;
  width: 130px;
  margin-bottom: 7px;
  text-align: center;
  line-height: 40px;
  background-color: #f2f2f2;
  cursor: pointer;
}
#bag-win .container .seleted-right[data-v-d498848e] {
  width: 412px;
  height: auto;
  float: left;
  background-color: #f2f2f2;
}
#bag-win .container .seleted-center[data-v-d498848e] {
  width: 146px;
  height: auto;
  float: left;
}
#bag-win .container .seleted-center .tab-selected[data-v-d498848e] {
  background-color: #dbdbdb;
}
#bag-win .container .seleted-container[data-v-d498848e] {
  height: auto;
}
#bag-win .container .seleted-container span[data-v-d498848e] {
  float: left;
  width: auto;
  margin-left: 5px;
  text-align: center;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
}

