
.aUl[data-v-2867204a] {
	width: 100%;
	height: auto;
	overflow: auto;
	padding: 10px;
}
.aUl .aLi[data-v-2867204a] {
	padding: 0 15px;
	height: 40px;
	line-height: 40px;
	cursor: pointer;
	text-align: center;
	background-color: #f2f2f2;
	margin: 5px 10px;
	float: left;
}
.elic[data-v-2867204a] {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.shoName-select[data-v-2867204a] {
	border-color: #ff9800;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB8AAAAVCAYAAAC+NTVfAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAQNJREFUeNpi/P//P8OAgJmMASwDYKkAkFwAxP5M9PYtkHwAshjEZaG3b5GFmejtW2TAQm/f0t7neHxLO58T4Vva+JxI31LX58T61moCA8PbCwwMNxdQyefE+tYRaKFuPgPDzw9U8DkpcQuyWC2egeFAItCZGyiMc1LiFtlipOAm3XKQb2cygpy+Hoj5wWImDQwMIcB4ZBMg2WLiLcfl2/tAt/AqMDD4HUB1ABEWgwAj3iqVmLgVNoBY/hnotk0ODAzWE4iyGL/lEN8ugAcxPgBzAAiw8RNlMXbLSSyl4EAK6GsHoLazDURZjGk5Kb6lAmChyLcUAsb/MxhgFgvQu0UFEGAAwkZhpDEtycMAAAAASUVORK5CYII=) right bottom no-repeat;
}

