
.tab-list[data-v-75017588] {
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  list-style: none;
}
.tab-list .oLi[data-v-75017588] {
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  text-align: center;
  line-height: 40px;
  float: left;
  border: 1px solid #ccc;
  background: #fff;
  margin: 0 5px;
}
.tab-list .oLi.active[data-v-75017588] {
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.tab-list .oLi a[data-v-75017588] {
  display: inline-block;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  color: #28a8e0;
}
.tab-list .oLi[data-v-75017588]:hover {
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #fff;
}
.tab-list .oLi.active[data-v-75017588] {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background: #29AAE3;
  box-sizing: border-box;
  border: 1px solid #29AAE3;
  color: #FFFFFF;
}
.tab-list .oLi[data-v-75017588]:hover {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background: #ccc;
  box-sizing: border-box;
  border: 1px solid #ccc;
  color: #FFFFFF;
}
.tab-list .oLi:hover a[data-v-75017588],
.tab-list .oLi.active a[data-v-75017588] {
  box-sizing: border-box;
  color: #FFFFFF;
}
.tab-list .aLi[data-v-75017588] {
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin: 0px 2px;
}
.tab-list .aLi.active[data-v-75017588] {
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.tab-list .aLi a[data-v-75017588] {
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.tab-list .aLi[data-v-75017588]:hover {
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.tab-list .aLi.active[data-v-75017588] {
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.tab-list .aLi[data-v-75017588]:hover {
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.tab-list .spanTotal[data-v-75017588] {
  line-height: 40px;
}
.tab-list .aspanTotal[data-v-75017588] {
  line-height: 30px;
}
.tab-list .oSpan[data-v-75017588] {
  margin-left: 5px;
  margin-right: 5px;
}
.tab-list .oInJump[data-v-75017588] {
  text-align: center;
  width: 30px;
  height: 25px;
  margin: 0 3px;
}
.tab-list .oClick[data-v-75017588] {
  width: 60px;
  height: 40px;
  line-height: 40px;
}
.tab-list .aClick[data-v-75017588] {
  width: 40px;
  height: 30px;
  line-height: 30px;
}
input[data-v-75017588] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  border: 1px solid #ccc;
  padding: 0;
}
.tab-list .pageBox[data-v-75017588] {
  float: left;
  padding: 0 10px;
}
.tab-list .pageBox span[data-v-75017588] {
  display: inline;
  line-height: 40px;
  vertical-align: middle;
}
.tab-list .pageBox .pageSelect[data-v-75017588] {
  vertical-align: middle;
  display: inline-block;
}
.tab-list .pageBox .paging[data-v-75017588] {
  vertical-align: middle;
}
.pageBox .select-body[data-v-75017588] {
  position: relative;
  display: inline-block;
  line-height: normal;
}
.pageBox .select-body .select-body-btn[data-v-75017588] {
  vertical-align: middle;
  display: inline-block;
  border: #b3b3b3 solid 1px;
  overflow: hidden;
  cursor: pointer;
}
.pageBox .select-body .select-body-btn em[data-v-75017588] {
  width: 35px;
  height: 40px;
  float: right;
  text-align: center;
  line-height: 28px;
  border-left: 1px solid #ccc;
  font-size: 24px;
  color: #b3b3b3;
}
.pageBox .select-body .select-body-btn span[data-v-75017588] {
  width: 150px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  color: #666666;
  float: left;
}
.pageBox .select-body ul[data-v-75017588] {
  width: 100%;
  overflow: auto;
  overflow-x: hidden;
  margin: 0;
  position: absolute;
  z-index: 10;
  background: #fff;
  border: 1px #b3b3b3 solid;
  border-top: 0;
}
.pageBox .select-body ul li[data-v-75017588] {
  width: 100%;
  text-align: center;
  height: 39px;
  line-height: 38px;
  border-bottom: 1px #b3b3b3 solid;
  background: #fff;
  cursor: pointer;
}
.pageBox .select-body ul li[data-v-75017588]:hover {
  background: #f1f1f1;
}
.pageBox .select-body ul li[data-v-75017588]:last-child {
  border-bottom: 0;
}
.tab-list .aPageBox span[data-v-75017588] {
  line-height: 30px;
}
.tab-list .aPageBox .select-body .select-body-btn em[data-v-75017588] {
  width: 35px;
  height: 30px;
  line-height: 23px;
  font-size: 20px;
}
.tab-list .aPageBox .select-body .select-body-btn span[data-v-75017588] {
  width: 150px;
  height: 28px;
  line-height: 28px;
}
.tab-list .aPageBox .select-body ul li[data-v-75017588] {
  height: 29px;
  line-height: 28px;
}

