
a[data-v-5185b6ef] {
  height: 40px;
  line-height: 40px;
  width: 90px;
  float: left;
  margin-left: 5px;
}
#tools[data-v-5185b6ef] {
  padding-top: 10px;
  overflow: hidden;
  /*仓库列表*/
  /*打印按钮*/
}
#tools .search-div[data-v-5185b6ef] {
  width: 180px;
  height: 40px;
  border: none;
  line-height: 40px;
  text-align: center;
  display: inline-block;
}
#tools .search-div input[data-v-5185b6ef] {
  padding-left: 10px;
  width: 129px;
  height: 40px;
  border: 1px solid #ccc;
  line-height: 40px;
  text-align: center;
  text-align: left;
  outline: none;
  vertical-align: top;
}
#tools .search-div a[data-v-5185b6ef] {
  background-color: #22aae0;
  display: inline-block;
  width: 50px;
  height: 40px;
  border: none;
  line-height: 40px;
  text-align: center;
}
#tools .search-div a img[data-v-5185b6ef] {
  vertical-align: middle;
}
#tools .import-form[data-v-5185b6ef] {
  width: 76px;
  background-color: #22aae0;
  float: left;
  position: relative;
  margin-left: 5px;
  -webkit-transition: background-color 0.7s;
  transition: background-color 0.7s;
  cursor: pointer;
}
#tools .import-form .import-btn[data-v-5185b6ef] {
  width: 76px;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
}
#tools .import-form[data-v-5185b6ef]:hover {
  background-color: #28a8e0;
}
#tools .import-form .import-input[data-v-5185b6ef] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 76px;
  height: 40px;
  display: inline-block;
  cursor: pointer;
}
#tools .export-btn[data-v-5185b6ef] {
  width: 76px;
  background-color: #22aae0;
  -webkit-transition: background-color 0.7s;
  transition: background-color 0.7s;
  float: left;
  margin: 0 3px;
  margin-left: 12px;
  cursor: pointer;
}
#tools .export-btn[data-v-5185b6ef]:hover {
  background-color: #28a8e0;
}
#tools .addStaff[data-v-5185b6ef] {
  width: 130px;
}
#tools .addStaff img[data-v-5185b6ef] {
  vertical-align: middle;
  margin-right: 5px;
}
#tools .sync-btn[data-v-5185b6ef] {
  background-color: #ff9800;
  width: 88px;
  float: right;
  -webkit-transition: background-color 0.7s;
  transition: background-color 0.7s;
}
#tools .sync-btn[data-v-5185b6ef]:hover {
  background-color: #ff9800;
}
#tools .btn-ok-cancel[data-v-5185b6ef] {
  width: 200px;
  height: 50px;
  float: right;
}
#tools .btn-cancel[data-v-5185b6ef],
#tools .btn-ok[data-v-5185b6ef] {
  width: 200px;
  height: 50px;
  float: right;
  margin-left: 10px;
}
#tools .wearhouse[data-v-5185b6ef] {
  width: 100px;
  height: 40px;
  line-height: 38px;
  text-align: center;
}
#tools .wearhouse.all[data-v-5185b6ef] {
  /*查看全部*/
  color: #ff9800;
  border: 1px solid #ff9800;
}
#tools .wearhouse.out[data-v-5185b6ef] {
  /*快速出库*/
  color: #28a8e0;
  border: 1px solid #28a8e0;
}
#tools .wearhouse.create[data-v-5185b6ef] {
  /*新建仓库*/
  color: #28a8e0;
  border: 1px #28a8e0 solid;
}
#tools .wearhouse.handle[data-v-5185b6ef] {
  /*操作列表*/
  color: #fff;
  background: #28a8e0;
}
#tools .wearhouse.bom-create[data-v-5185b6ef] {
  /*新建bom单*/
  background: #28a8e0;
  color: #fff;
}
#tools .recheck[data-v-5185b6ef] {
  color: red;
  width: 100px;
  height: 40px;
  border: 1px solid red;
  line-height: 40px;
  text-align: center;
}
#tools .userLabel[data-v-5185b6ef] {
  width: 121px;
  height: 40px;
  text-align: center;
  background: #28a8e0;
  color: #fff;
}
#tools .technique[data-v-5185b6ef] {
  width: 210px;
  text-align: center;
  background: #28a8e0;
  color: #fff;
  margin-right: 19px;
}
#tools .public_number_btn[data-v-5185b6ef] {
  width: 209px;
  height: 40px;
  border: 1px solid #ff9800;
  color: #ff9800;
  background: #fff;
  margin-right: 19px;
}
#tools .user_btn[data-v-5185b6ef] {
  width: 117px;
  height: 40px;
  border: 1px solid #ff9800;
  color: #fff;
  background: #ff9800;
  margin-right: 19px;
}
#tools .export_btn[data-v-5185b6ef] {
  width: 113px;
  height: 40px;
  background: #fff;
  border: 1px solid #28a8e0;
  color: #28a8e0;
  margin-right: 19px;
}
#tools .firstBtn[data-v-5185b6ef] {
  background-color: #ff9800;
  color: #fff;
  display: inline-block;
  text-align: center;
  width: 125px;
  cursor: pointer;
}
#tools .setTemp[data-v-5185b6ef] {
  background-color: #28a8e0;
}
#tools .pick[data-v-5185b6ef] {
  width: 100px;
  text-align: center;
  border: 1px solid #28a8e0;
  color: #28a8e0;
  background: #fff;
}
#tools .huiC[data-v-5185b6ef] {
  width: 100px;
  text-align: center;
  border: 1px solid #B3B3B3;
  color: #B3B3B3;
  background: #fff;
}
#tools .activity[data-v-5185b6ef] {
  display: block;
  color: #c7c75a;
  height: 40px;
  width: 150px;
  text-align: center;
  border: 1px solid #c7c75a;
}
#tools .abrogate[data-v-5185b6ef] {
  background-color: #D2D2D2;
  color: #fff;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  width: 125px;
  height: 40px;
  cursor: pointer;
}
#tools .pickCheck[data-v-5185b6ef] {
  width: 100px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background: #28A8E0;
  color: #fff;
  border: 1px solid #28A8E0;
}
#tools .printer-btn[data-v-5185b6ef] {
  width: 100px;
  height: 40px;
  border: 1px solid #ffa627;
  line-height: 40px;
  text-align: center;
  background-color: #ffa627;
}
#tools .back[data-v-5185b6ef] {
  width: 100px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #B3B3B3;
  border: 1px solid #B3B3B3;
}
#tools .float[data-v-5185b6ef] {
  float: left;
  margin-right: 10px;
}
#tools .refoin[data-v-5185b6ef] {
  width: 100px;
}
#tools .headSet[data-v-5185b6ef] {
  width: 90px;
  vertical-align: middle;
}
#tools .fd-btn[data-v-5185b6ef] {
  width: 80px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
#tools .fd-blue[data-v-5185b6ef] {
  width: 80px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #29abe2;
}
#tools .fd-blue[data-v-5185b6ef]:hover {
  background: #2a80b9;
}
#tools .fd-yellow[data-v-5185b6ef] {
  width: 80px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #ff9800;
}
#tools .fd-yellow[data-v-5185b6ef]:hover {
  background: #bd823e;
}
#tools .fd-white[data-v-5185b6ef] {
  width: 80px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: solid 1px #b3b3b3;
  background: #fff;
  color: #b3b3b3;
}
.btn[data-v-5185b6ef] {
  width: 80px;
  cursor: pointer;
}
.border[data-v-5185b6ef] {
  border: 1px solid #D2D2D2;
  width: 80px;
  color: #D2D2D2;
}

