
#editInfomation .payShowList[data-v-3f5ef7da] {
	height: 50px;
	padding-left: 20px;
	margin-top: 20px;
	position: relative;
}
#editInfomation .showListBefore[data-v-3f5ef7da] {
	width: 120px;
	height: 40px;
	line-height: 40px;
	float: left;
	text-align: right;
	margin-right: 15px;
}
/*...........................小红*星星.....................*/
#editInfomation .showListBefore[data-v-3f5ef7da]:after {
	content: '*';
	color: red;
	position: relative;
	top: 3px;
	right: -1px;
}
#editInfomation .payShowList .input[data-v-3f5ef7da] {
	border: 1px solid deepskyblue;
	width: 220px;
}
/*.............开关...................*/
#editInfomation .payShowList .switch[data-v-3f5ef7da] {
	float: left; /*margin-top: 7px;*/
	line-height: 40px;
}
#editInfomation .zxbox[data-v-3f5ef7da] {
	height: 50px;
	margin-left: 80px;
}
#editInfomation .zxbox span[data-v-3f5ef7da] {
	font-size: 16px;
	margin-right: 20px;
	display: inline-block;
	width: 100px;
	height: 40px;
	text-align: right;
	vertical-align: top;
}
#editInfomation .zxbox div[data-v-3f5ef7da] {
	display: inline-block;
	font-size: 16px;
	color: gray;
}
#upload_file[data-v-3f5ef7da],
#download_file[data-v-3f5ef7da] {
	height: 42px;
	width: 120px;
	position: absolute;
	top: 0;
	z-index: 10;
	left: 155px;
	opacity: 0;
	cursor: pointer;
}
#editInfomation .tab span[data-v-3f5ef7da] {
	color: #999;
	text-align: center;
	padding: 0 20px;
	line-height: 40px;
	font-size: 14px;
	float: left;
	cursor: pointer;
	height: 40px;
	position: relative;
	background-color: #f2f2f2;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
#editInfomation .tab span.on[data-v-3f5ef7da] {
	background-color: #2980b9;
	color: #fff;
}
#editInfomation .tab span.on[data-v-3f5ef7da]:after {
	width: 0;
	height: 0;
	content: '';
	bottom: 0px;
	left: 50%;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #fff;
	position: absolute;
	transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	-moz-transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
}
#editInfomation .inputWidth[data-v-3f5ef7da]{
	width: 220px;
}

