
#picker[data-v-b27e7960]{
	margin-top: 20px;
}
#picker .box[data-v-b27e7960]{
	width: 300px;
	height: 192px;
	margin-right: 15px;
	margin-bottom:15px;
	border-top: 8px solid #28A8E0;
	background: #F2F2F2;
	position: relative;
}
#picker .box .name[data-v-b27e7960]{
	display: block;
	font-size: 26px;
	height: 26px;
	color: #333;
	margin-top: 30px;
	margin-left: 19px;
	width: 200px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
#picker .box .num[data-v-b27e7960]{
	position: absolute;
	width:70px;
	height:56px; 
	text-align: center;
	font-size:56px;
	color: #28A8E0;
	right: 0;
	top: 20px;
}
#picker .box .detail[data-v-b27e7960] {
	position: absolute;
	color: #6AC2E9;
	bottom: 30px;
	right: 10px;
	text-align: center;
	width: 90px;
	cursor: pointer;
}
#picker .box .detail i[data-v-b27e7960]{
	border-bottom: 1px solid #6AC2E9;
	font-size: 20px
}

