
.searchgoods[data-v-06868110] {
  width: 174px;
  height: 41px;
  text-align: center;
  border: 1px solid #B3B3B3;
}
.btn[data-v-06868110] {
  width: 100px;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
}
.top .top_input[data-v-06868110] {
  display: inline-block;
  margin: 0 5px;
  height: 50px;
}
#joblist .oBox[data-v-06868110] {
  width: 100%;
  border-bottom: none;
  margin: 10px 0;
}
#joblist .oBox .boxTop[data-v-06868110] {
  height: 50px;
  line-height: 50px;
  padding: 0 5px;
  border: 1px solid #ebeef5;
  border-bottom: none;
}
#joblist .oBox .boxTop .aSpan[data-v-06868110] {
  font-size: 16px;
  color: #fe9200;
  margin-right: 20px;
}
#joblist .oBox .boxTop .aSpan .aI[data-v-06868110] {
  background: #fe9200;
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  margin-right: 10px;
  vertical-align: middle;
}
/*.totle{*/
/*min-width: 1000px;border: 1px solid #D2D2D2;margin-top: 20px;background-color: #FFFFFF;*/
/*}*/
/*.totle .head{*/
/*height: 50px;*/
/*line-height: 50px;*/
/*font-size: 16px;*/
/*padding-left: 20px;*/
/*color: #333333;*/
/*}*/
/*.totle .oulFirst{*/
/*background-color: #F2F2F2;color:#434149;*/
/*}*/
/*.totle .oulFirst li{*/
/*font-size: 16px!important;*/
/*}*/
/*.totle .oUl{*/
/*width:100%;*/
/*height:50px;*/
/*color:#333333;*/
/*overflow: hidden;*/
/*border-bottom: 3px solid #f7f7f7;*/
/*}*/
/*.totle .oUl li{*/
/*width:13%;*/
/*height: 50px;*/
/*line-height: 50px;*/
/*text-align: center;*/
/*float: left;*/
/*}*/
/*.totle .oulSecond{*/
/*color: #666666;font-size: 14px*/
/*}*/
/*.totle .oulSecond li span{*/
/*font-size: 16px*/
/*}*/
/*.totle .ul-null li{*/
/*display: inline-block;*/
/*width: 100%;*/
/*height: 50px;*/
/*line-height: 50px;*/
/*text-align: center;*/
/*color:orange*/
/*}*/

