
#printercon .commodity-box > section[data-v-5f4f659c] {
	height: 150px;
}
#printercon .commodity-box .box[data-v-5f4f659c] {
	background-color: #eeeeee;
	color: #898989;
}
#printercon .commodity-box .bor[data-v-5f4f659c] {
	border-left: 2px solid #026eb7;
	height: 60px;
	width: 100%;
	margin-bottom: 50px;
}
#printercon .commodity-box .spanFont[data-v-5f4f659c] {
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	color: #999;
	word-wrap: brea;
	word-wrap: break-word;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

