
#printercon .spanCom[data-v-274594cf] {
	height: 40px;
	line-height: 40px;
	width: 130px;
	text-align: left;
}
#prin_con[data-v-274594cf] {
	width: 100%;
	height: 100%;
}
#prin_con .Pconfig[data-v-274594cf] {
	width: 600px;
	height: 560px;
	padding: 20px 0;
	overflow: auto;
}
#prin_con .Pconfig .labItem[data-v-274594cf] {
	margin-bottom: 5px;
	margin-left: 0!important;
	margin-right: 10px;
}

