
#printercon .addclassify[data-v-274594cf] {
	width: 180px;
}
#printercon .relatedForm[data-v-274594cf] {
	width: 980px;
	height: 500px;
	padding: 30px;
}
#printercon .comList[data-v-274594cf] {
	width: 100%;
	height: auto;
	overflow: hidden;
	margin-bottom: 30px;
}
#printercon .spanCom[data-v-274594cf] {
	height: 40px;
	line-height: 40px;
	width: 130px;
	text-align: left;
}
#prin_con[data-v-274594cf] {
	width: 100%;
	height: 100%;
	background: #f2f2f2;
}
#prin_con .Pconfig[data-v-274594cf] {
	width: 600px;
	height: 560px;
	padding: 20px 20px;
	background-color: #f2f2f2;
	overflow: auto;
}
#prin_con .Pconfig label[data-v-274594cf] {
	width: 100%;
	min-height: 40px;
	margin-bottom: 20px;
}
#prin_con .Pconfig .pNmae[data-v-274594cf] {
	width: 85px;
	height: 40px;
	line-height: 40px;
	text-align: right;
	margin-right: 20px;
}
#prin_con .Pconfig .pInput[data-v-274594cf] {
	outline: none;
	border: none;
	background-color: #fff;
	width: 390px;
	height: 40px;
	line-height: 40px;
	padding-left: 10px;
}

