






































































































































/* #print-queue .clearbtn{position: absolute;top:-45px;right: 0;width:150px} */
#print-queue-tan .oDetial[data-v-6bdb9438] {
	width: 100%;
	height: 20px;
	line-height: 20px;
	text-align: center;
}

