
.selectbtns[data-v-188b7b50] {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.activ[data-v-188b7b50] {
  display: inline;
}
.selectbtns span[data-v-188b7b50] {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding-left: 18px;
  padding-right: 18px;
  background-color: #FFFFFF;
  text-align: center;
  cursor: pointer;
  margin: 1px;
  border-radius: 2px;
  max-width: 350px;
  word-wrap: break-word;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid #D2D2D2;
}
.selectbtns span[data-v-188b7b50]:hover {
  background-color: #eeeeee;
}
.selectbtns .sign[data-v-188b7b50] {
  background: #FFEDD3;
  border-color: #FF9200;
  color: #FF9200;
}


.on-span[data-v-46e3fdd1] {
  float: left;
  width: 50px;
  height: 40px;
  font-size: 0;
  cursor: pointer;
  background-color: #29abe2;
}
.on-span[data-v-46e3fdd1]:hover {
  background-color: #2a80b9;
}
.input-content[data-v-46e3fdd1] {
  height: 40px;
  float: left;
  line-height: 40px;
  border: none;
  outline: none;
  text-align: center;
  background-color: #ffffff;
  border: 1px #D2D2D2 solid;
  border-left: none;
  border-right: none;
  width: 56px;
}
.check-span.off[data-v-1858c77f] {
  background-position: 0 0;
}
.check-span.on[data-v-1858c77f] {
  background-position: -48px 0;
}

