
.allList .aSpan[data-v-47863ee2] {
  font-size: 16px;
  color: #fe9200;
  margin-right: 20px;
}
.allList .aSpan .aI[data-v-47863ee2] {
  background: #fe9200;
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  margin-right: 10px;
  vertical-align: middle;
}

