
.member-details[data-v-11007b5a] {
	height: 700px;
	width: 800px;
	overflow: hidden;
}
.details-head[data-v-11007b5a] {
	padding: 10px;
	padding-bottom: 0;
	width: 100%;
	height: 170px;
	border-bottom: 10px solid #e6e6e6;
}
.head-child[data-v-11007b5a],
.details-tit[data-v-11007b5a] {
	height: 50px;
	line-height: 50px;
	width: 100%;
}
.head-child[data-v-11007b5a]:nth-child(2) {
	border-bottom: 1px solid #F2DEDE;
}
.head-child span[data-v-11007b5a] {
	width: 33.33%;
	height: 50px;
	float: left;
}
.head-child input[data-v-11007b5a] {
	padding-left: 10px;
	border: 1px solid #C6C6C6;
	outline: none;
	color: #666;
	height: 46px;
	width: 150px;
}
.head-child span[data-v-11007b5a]:nth-child(1n) {
	padding-left: 20px;
}
.head-child span[data-v-11007b5a]:nth-child(2n) {
	text-align: left;
	text-indent: 50px;
}
.head-child span[data-v-11007b5a]:nth-child(3n) {
	padding-right: 20px;
	text-align: right;
}
.recharge-btn[data-v-11007b5a] {
	height: 40px;
	line-height: 40px;
	margin-top: 5px;
}
.details-tit[data-v-11007b5a] {
	text-align: center;
}
.details-tit h2[data-v-11007b5a] {
	position: relative;
	left: 50%;
	margin-left: -50px;
	font-size: 16px;
	width: 100px;
	height: 50px;
}
.details-tit h2[data-v-11007b5a]:after,
.details-tit h2[data-v-11007b5a]:before {
	content: '';
	position: absolute;
	top: 50%;
	width: 10px;
	height: 10px;
	background-color: #000000;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	transform: translate(-50%, 0);
	/* IE 9 */
	-ms-transform: translate(-50%, -50%);
	/* Firefox */
	-moz-transform: translate(-50%, -50%);
	/* Safari 和 Chrome */
	-webkit-transform: translate(-50%, -50%);
	/* Opera */
	-o-transform: translate(-50%, -50%);
}
.details-tit h2[data-v-11007b5a]:after {
	right: -5px;
}
.details-tit h2[data-v-11007b5a]:before {
	left: 5px;
}

