
#editInfomation[data-v-45f27372] {
  background: #eee;
  width: 100%;
  height: 300px;
  padding-top: 20px;
}
#editInfomation .popupList[data-v-45f27372] {
  height: 50px;
  padding-left: 20px;
  margin-top: 20px;
}
#editInfomation .popupList .popupListBefore[data-v-45f27372] {
  width: 120px;
  height: 40px;
  line-height: 40px;
  float: left;
  text-align: right;
  margin-right: 15px;
}
#editInfomation .popupList .popupListBefore[data-v-45f27372]:after {
  content: '*';
  color: red;
  position: relative;
  top: 3px;
  right: -1px;
}
#editInfomation .popupList .input[data-v-45f27372] {
  border: 1px solid deepskyblue;
}

