
.main-box[data-v-3c6789ec] {
  padding: 20px;
}
.main-box .text-ellipsis[data-v-3c6789ec] {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main-box .list[data-v-3c6789ec] {
  height: 300px;
  overflow: auto;
}
.main-box .list span[data-v-3c6789ec] {
  float: left;
  width: 13.33%;
  height: 38px;
  line-height: 38px;
  text-align: center;
}
.main-box .list .wide[data-v-3c6789ec] {
  width: 20%;
}
.main-box .list .title[data-v-3c6789ec] {
  overflow: hidden;
  border: 1px solid #666;
}
.main-box .list ul[data-v-3c6789ec] {
  margin-top: 0;
}
.main-box .list ul li[data-v-3c6789ec] {
  overflow: hidden;
  border: 1px solid #666;
  border-top: 0;
}
.main-box .list ul .empty[data-v-3c6789ec] {
  height: 40px;
  line-height: 40px;
  color: #f39801;
  text-align: center;
}
.bottom-box[data-v-3c6789ec] {
  width: 100%;
  overflow: hidden;
  background: #e6e6e6;
}
.bottom-box span[data-v-3c6789ec] {
  float: left;
  width: 50%;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.bottom-box .light[data-v-3c6789ec] {
  color: #f39801;
}

