
.select_shop[data-v-6339dc92] {
  padding: 0 44px;
}
.select_shop .select_shop_nav[data-v-6339dc92] {
  padding-left: 366px;
  padding-top: 13px;
}
.select_shop .select_shop_nav .btn[data-v-6339dc92] {
  width: 132px;
  height: 43px;
  border: none;
  color: #fff;
}
.select_shop .select_shop_nav .slect_all[data-v-6339dc92] {
  background: #f7931e;
}
.select_shop .select_shop_nav .cancel_all[data-v-6339dc92] {
  background: #9fa0a0;
}
.select_shop .select_shop_content[data-v-6339dc92] {
  margin-top: 30px;
  margin-bottom: 50px;
}
.select_shop .select_shop_content > p[data-v-6339dc92] {
  font-size: 16px;
  color: #333333;
  margin-bottom: 23px;
}

