
.sdOrange[data-v-33fe6e72] {
  color: #fe9300;
}
.sdBlue[data-v-33fe6e72] {
  color: #2daadd;
}
.jobsWrap[data-v-33fe6e72] {
  padding: 20px 0 55px;
  margin: 0 20px;
  overflow: hidden;
  position: relative;
}
.jobsWrap .subInfo[data-v-33fe6e72] {
  position: absolute;
  color: #fe9300;
  right: 0;
  bottom: 0;
  height: 45px;
  line-height: 45px;
}
.jobsWrap .jobType[data-v-33fe6e72] {
  padding-bottom: 10px;
}
.jobsWrap .jobType a[data-v-33fe6e72] {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  border-radius: 4px;
  background-color: #e7e7e7;
  padding: 0 10px;
  margin: 0 5px;
}
.jobsWrap .jobType a.select[data-v-33fe6e72] {
  background-color: #2daadd;
}
.jobsWrap .jobBox[data-v-33fe6e72] {
  padding-top: 15px;
  width: 200%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  min-height: 150px;
}
.jobsWrap .jobBox.shopselfJob[data-v-33fe6e72] {
  -webkit-transform: translate3D(-50%, 0, 0);
          transform: translate3D(-50%, 0, 0);
}
.jobsWrap .jobBox span[data-v-33fe6e72] {
  display: inline-block;
  padding: 0 10px;
  margin: 0 5px 10px;
  border: 1px solid #d2d2d2;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
}
.jobsWrap .jobBox span.select[data-v-33fe6e72] {
  border: 1px solid #fe9300;
  background-color: #ffefd3;
  color: #fe9300;
}
.jobsWrap .jobBox .jobL[data-v-33fe6e72] {
  width: 50%;
  float: left;
}
.jobsWrap .jobBox .jobR[data-v-33fe6e72] {
  margin-left: 50%;
  width: 50%;
}
.jobsWrap .jobBox div div[data-v-33fe6e72] {
  color: #c8c8c8;
  text-align: center;
  height: 45px;
  line-height: 45px;
}

