
#jurisdiction .topbox[data-v-39957e9d] {
  width: 100%;
  height: 40px;
  margin: 10px;
  line-height: 40px;
  position: relative;
  overflow: hidden;
}
#jurisdiction .topbox i[data-v-39957e9d] {
  width: 2px;
  height: 28px;
  position: absolute;
  top: 6px;
  left: 0;
  background-color: #28a8e0;
}
#jurisdiction .topbox h3[data-v-39957e9d] {
  height: 40px;
  margin-left: 10px;
  float: left;
  font-size: 16px;
}
#jurisdiction .topbox .dian[data-v-39957e9d] {
  width: 10px;
  height: 1px;
  border-top: 1px solid #e1e1e1;
  margin: 20px 5px;
  float: left;
}
#jurisdiction .inputBox[data-v-39957e9d] {
  height: 40px;
  margin-top: 15px;
}
#jurisdiction .inputBox h1[data-v-39957e9d] {
  width: 130px;
  text-align: right;
  vertical-align: middle;
  display: inline-block;
}
#jurisdiction .inputBox .base[data-v-39957e9d] {
  vertical-align: baseline;
}
#jurisdiction .inputBox .middle[data-v-39957e9d] {
  vertical-align: middle;
}
#jurisdiction .inputBox .right[data-v-39957e9d] {
  display: inline-block;
  margin-left: 10px;
}
#jurisdiction .inputBox .right input[data-v-39957e9d] {
  display: inline-block;
  width: 200px;
  height: 35px;
  padding-left: 5px;
}
#jurisdiction .inputBox .right .clearfix span[data-v-39957e9d] {
  float: left;
  margin-top: 4px;
  padding-right: 6px;
}
#jurisdiction .inputBox .right .clearfix span img[data-v-39957e9d] {
  width: 17px;
  height: 17px;
  display: inline-block;
}
#jurisdiction .inputBox .right .clearfix p[data-v-39957e9d] {
  float: left;
  color: #a0a0a0;
}
#jurisdiction .inputBox .right .add[data-v-39957e9d] {
  display: inline-block;
  background-color: #29a8e0;
  width: 210px;
  background-position: 30% 50%;
  padding-left: 90px;
  line-height: 40px;
  height: 40px;
  vertical-align: top;
  margin-left: -3px;
  color: #fff;
  cursor: pointer;
}
#jurisdiction .inputBox .right .add .img-span[data-v-39957e9d] {
  vertical-align: middle;
}
#jurisdiction .inputBox .right .details[data-v-39957e9d] {
  color: #cccccc;
  width: 500px;
}
#jurisdiction .inputBox .right .details h2[data-v-39957e9d] {
  display: inline-block;
  vertical-align: top;
}
#jurisdiction .inputBox .right .details .list[data-v-39957e9d] {
  width: 430px;
  display: inline-block;
}
#jurisdiction .butten[data-v-39957e9d] {
  margin-top: 30px;
}
#jurisdiction .butten .childBox[data-v-39957e9d] {
  width: 35%;
  display: inline-block;
}

