
.setup_user[data-v-af2abc3e] {
  position: relative;
}
.setup_user .setup_user_back button[data-v-af2abc3e] {
  position: absolute;
  top: -45px;
  right: 87px;
  width: 102px;
  height: 42px;
  background: #fff;
  border: 1px solid #b3b3b3;
  color: #b3b3b3;
  font-size: 16px;
}
.setup_user .setup_user_nav[data-v-af2abc3e] {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
}
.setup_user .setup_user_nav span[data-v-af2abc3e] {
  font-size: 16px;
  color: GB(51, 51, 51);
  padding-left: 9px;
  border-left: 3px solid #28a8e0;
}
.setup_user .setup_user_nav .dashed[data-v-af2abc3e] {
  margin-left: 8px;
  width: 538px;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #ccc 0%, #ccc 50%, transparent 50%);
  background-image: linear-gradient(to right, #ccc 0%, #ccc 50%, transparent 50%);
  background-size: 20px 1px;
  background-repeat: repeat-x;
}
.setup_user .setup_user_content .setup_user_name[data-v-af2abc3e] {
  margin-top: 32px;
}
.setup_user .setup_user_content .setup_user_name .authority_select[data-v-af2abc3e] {
  margin-left: 20px;
}
.setup_user .setup_user_content .bind_staff[data-v-af2abc3e] {
  margin-top: 20px;
}
.setup_user .setup_user_content .bind_staff span[data-v-af2abc3e] {
  font-size: 16px;
  color: #333333;
  margin-left: 10px;
  margin-right: 33px;
}
.setup_user .setup_user_content .bind_staff button[data-v-af2abc3e] {
  width: 120px;
  height: 41px;
  background: #29a8e0;
  color: #fff;
}
.setup_user .setup_user_content .authority[data-v-af2abc3e] {
  margin-top: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
}
.setup_user .setup_user_content .worker_shop[data-v-af2abc3e] {
  margin-top: 20px;
}
.setup_user .setup_user_content .worker_shop span[data-v-af2abc3e] {
  font-size: 16px;
  color: #333333;
  margin-left: 10px;
  margin-right: 33px;
}
.setup_user .setup_user_content .worker_shop button[data-v-af2abc3e] {
  width: 149px;
  height: 40px;
  background: #29a8e0;
  color: #fff;
  border: none;
}
.setup_user .setup_user_content .job_type[data-v-af2abc3e] {
  margin-top: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
}
.setup_user .setup_user_content .save_change button[data-v-af2abc3e] {
  width: 190px;
  height: 52px;
  background: #29a8e0;
  color: #fff;
  border: none;
  margin-top: 51px;
  margin-left: 118px;
}
.setup_user .authority_d[data-v-af2abc3e] {
  font-size: 16px;
  color: #333333;
  margin-left: 42px;
  margin-right: 33px;
}
.setup_user .select_on[data-v-af2abc3e] {
  width: 102px;
  height: 41px;
  background: #ffedd1;
  border: 1px solid #ff9200;
  color: #ff9200;
}
.setup_user .bind_btn[data-v-af2abc3e] {
  width: 120px;
  height: 41px;
  background: #29a8e0;
  color: #fff;
  border: none;
}

