
#noticeWin .noticeWin[data-v-26995c7a] {
  width: 100%;
  position: relative;
  height: 60px;
}
#noticeWin .noticeWin .tag[data-v-26995c7a] {
  float: left;
  width: 102px;
  height: 40px;
  line-height: 40px;
  text-align: right;
}
#noticeWin .noticeWin .mes[data-v-26995c7a] {
  float: left;
  padding-left: 15px;
  text-indent: 0;
  line-height: 30px;
}
#noticeWin .noticeWin .wearhouse[data-v-26995c7a] {
  color: #28a8e0;
  border: 1px #28a8e0 solid;
  width: 100px;
  height: 40px;
  line-height: 38px;
  text-align: center;
  float: left;
  margin-left: 5px;
}

