
#shopTan[data-v-7da4b22e]{
        position: relative;
}
#shopTan .selJobName[data-v-7da4b22e]{
        width: 200px;
        height: 40px;
        line-height: 40px;
        float: right;
        color: #FF9700;
        position:absolute;
        top:350px;
        right:20px;
}
.raduobtn[data-v-7da4b22e]{
        width: 120px;
        height:40px;
        line-height:40px;
        font-size:16px;
        float: left;
        border-radius: 5px;
        margin-right: 15px;
        background-color: #f2f2f2;
        color: #333;
}
.selectbtn[data-v-7da4b22e]{
        background-color: #2FA8DD;
        color: #fff;
}
.shop .active[data-v-7da4b22e]{
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB8AAAAVCAYAAAC+NTVfAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAQNJREFUeNpi/P//P8OAgJmMASwDYKkAkFwAxP5M9PYtkHwAshjEZaG3b5GFmejtW2TAQm/f0t7neHxLO58T4Vva+JxI31LX58T61moCA8PbCwwMNxdQyefE+tYRaKFuPgPDzw9U8DkpcQuyWC2egeFAItCZGyiMc1LiFtlipOAm3XKQb2cygpy+Hoj5wWImDQwMIcB4ZBMg2WLiLcfl2/tAt/AqMDD4HUB1ABEWgwAj3iqVmLgVNoBY/hnotk0ODAzWE4iyGL/lEN8ugAcxPgBzAAiw8RNlMXbLSSyl4EAK6GsHoLazDURZjGk5Kb6lAmChyLcUAsb/MxhgFgvQu0UFEGAAwkZhpDEtycMAAAAASUVORK5CYII=) right 103% no-repeat;
        border-color: #FF9800;
        color: #FF9800;
}
.shop ul[data-v-7da4b22e] {
        margin:10px 20px;
        height: 260px;
        overflow-y: auto;
}
.shop ul li[data-v-7da4b22e]{
        display: inline-block;
        padding: 0 20px;
        height: 40px;
        line-height: 40px;
        background-color: #fff;
        border: 1px solid #D2D2D2;
        text-align: center;
		cursor: pointer;
        margin-right: 10px;
        margin-bottom: 10px;
}
.shop ul li.active[data-v-7da4b22e]{
        border-color: #FF9200;
        color: #FF9200;
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB8AAAAVCAYAAAC+NTVfAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAQNJREFUeNpi/P//P8OAgJmMASwDYKkAkFwAxP5M9PYtkHwAshjEZaG3b5GFmejtW2TAQm/f0t7neHxLO58T4Vva+JxI31LX58T61moCA8PbCwwMNxdQyefE+tYRaKFuPgPDzw9U8DkpcQuyWC2egeFAItCZGyiMc1LiFtlipOAm3XKQb2cygpy+Hoj5wWImDQwMIcB4ZBMg2WLiLcfl2/tAt/AqMDD4HUB1ABEWgwAj3iqVmLgVNoBY/hnotk0ODAzWE4iyGL/lEN8ugAcxPgBzAAiw8RNlMXbLSSyl4EAK6GsHoLazDURZjGk5Kb6lAmChyLcUAsb/MxhgFgvQu0UFEGAAwkZhpDEtycMAAAAASUVORK5CYII=) right bottom no-repeat;
}
.shop ul li.singleActive[data-v-7da4b22e]{
        background: #FFEDD3;
        border-color: #FF9200;
        color: #FF9200;
}
.job[data-v-7da4b22e] {
        padding: 20px;
}
.sign[data-v-7da4b22e]{
        background: #FFEDD3;
        border-color: #FF9200 !important;
        color: #FF9200;
}
.bottomSel[data-v-7da4b22e]{
        width:100%;
        height: 30px;
        position: fixed;
        left: 14px;
}
.bottomSel .isallselect[data-v-7da4b22e]{
        cursor: pointer;
        width: 80px;
        height: 30px;
        float: left;
        line-height: 30px;
        text-align: center;
        margin:5px;
        border:1px solid #A0A0A0;
        color: #A0A0A0;
        float: left;
}
.bottomSel .allselect[data-v-7da4b22e]{
        border:1px solid #FF9700;
        color: #FF9700;
}

