
.soldnew[data-v-26a9ce8b] {
  padding: 25px 30px 0 30px;
}
.soldnew .leftform[data-v-26a9ce8b] {
  display: inline-block;
}
.soldnew .rightform[data-v-26a9ce8b] {
  display: inline-block;
  margin-left: 50px;
}
.soldnew .content-box[data-v-26a9ce8b] {
  margin-bottom: 15px;
}
.soldnew .content-box .right[data-v-26a9ce8b] {
  display: inline-block;
  width: 100px;
  text-align: right;
}
.soldnew .content-box .orMaRetBox[data-v-26a9ce8b] {
  display: inline-block;
  vertical-align: middle;
}
.soldnew .content-box input[data-v-26a9ce8b] {
  width: 230px;
  height: 37px;
  font-size: 14px;
  padding-left: 8px;
  outline: none;
}
.soldnew .content-box .tableListInp[data-v-26a9ce8b] {
  color: #666666;
  border: #b3b3b3 solid 1px;
  height: 40px;
  display: inline-block;
  cursor: pointer;
}
.soldnew .content-box .tableListInp div[data-v-26a9ce8b] {
  width: 41px;
  height: 40px;
  position: relative;
  z-index: 5;
}
.soldnew .content-box .tableListInp .inptext[data-v-26a9ce8b] {
  height: 39px;
  width: 188px;
  display: block;
  float: left;
  border-right: 1px #b3b3b3 solid;
  padding-left: 10px;
  text-align: center;
  line-height: 39px;
}
.soldnew .content-box .tableListInp .addstyle[data-v-26a9ce8b] {
  font-size: 30px;
  text-align: center;
  width: 100%;
  display: inline-block;
  color: #b2b2b2;
  line-height: 30px;
}

