
.sources-stat[data-v-22cb299b] {
	width: 100%;
	height: 30px;
	line-height: 30px;
	/*overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;*/
}
#sources-stat .hint[data-v-22cb299b] {
	width: 100%;
	height: 100px;
	color: #f8931f;
	line-height: 100px;
	text-align: center;
	font-size: 30px;
	background-color: #eeeeee;
}
#sources-stat ul[data-v-22cb299b] {
	min-width: 800px;
}
#sources-stat ul li[data-v-22cb299b] {
	float: left;
	display: block;
	text-align: center;
	background-color: #fff;
	height: 80px;
	line-height: 80px;
	width: 14.4%;
	min-width: 100px;
}
#sources-stat ul.title li[data-v-22cb299b] {
	background-color: #e6e6e6;
	height: 50px;
	line-height: 50px;
}
#sources-stat ul.con li.gray[data-v-22cb299b] {
	background-color: #f2f2f2;
}
#sources-stat .code img[data-v-22cb299b] {
	width: 60px;
	height: 60px;
	margin-top: 10px;
}
#sources-stat .add-sources[data-v-22cb299b] {
	width: 100%;
	height: 60px;
}
#sources-stat .add-sources .divisive-fans[data-v-22cb299b] {
	width: 250px;
	float: left;
	color: #f8931f;
	background-color: #f2f2f2;
	margin-bottom: 10px;
	height: 40px;
	line-height: 40px;
	text-align: center;
}

/* #sources-stat .add-sources .addclassify {
        background-color: #f8931f;
        color: #FFFFFF;
        height: 50px;
        line-height: 50px;
        width: 160px;
    } */

/* #sources-window .souce-text {
        width: 70px;
        height: 40px;
        display: block;
        float: left;
        line-height: 40px;
        margin-right: 10px;
    } */

