
.on-span[data-v-46e3fdd1] {
  float: left;
  width: 50px;
  height: 40px;
  font-size: 0;
  cursor: pointer;
  background-color: #29abe2;
}
.on-span[data-v-46e3fdd1]:hover {
  background-color: #2a80b9;
}
.input-content[data-v-46e3fdd1] {
  height: 40px;
  float: left;
  line-height: 40px;
  border: none;
  outline: none;
  text-align: center;
  background-color: #ffffff;
  border: 1px #D2D2D2 solid;
  border-left: none;
  border-right: none;
  width: 56px;
}

