
.tab-div[data-v-f3b5b3d4] {
  padding-bottom: 20px;
}
.tab-div span[data-v-f3b5b3d4] {
  width: 135px;
  height: 40px;
  border: 1px solid #ff8d01;
  line-height: 38px;
  color: #ff8d01;
  font-size: 16px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}
.tab-div span[data-v-f3b5b3d4]:first-child {
  float: left;
}
.tab-div .select-tab[data-v-f3b5b3d4] {
  color: #fff;
  background-color: #ff8d01;
  text-align: center;
}
.common-btn[data-v-f3b5b3d4] {
  width: 100px;
  height: 40px;
  border: none;
  line-height: 40px;
  color: #fff;
  font-size: 16px;
  display: inline-block;
  text-align: center;
  margin-right: 10px;
}
.clear[data-v-f3b5b3d4] {
  content: "";
  display: block;
  line-height: 0;
  visibility: hidden;
  clear: both;
}
.required-no[data-v-f3b5b3d4]:after {
  position: relative;
  top: -8px;
  right: -2px;
  content: "*";
  visibility: hidden;
}
.text-ellipsis[data-v-f3b5b3d4] {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#template-list .content-head[data-v-f3b5b3d4] {
  /*padding-top:20px;*/
}
#template-list .content-head .template-name[data-v-f3b5b3d4] {
  width: 180px;
  height: 40px;
  border: 1px solid #ccc;
  margin-right: 15px;
  vertical-align: top;
  padding: 0 10px;
  font-size: 16px;
  outline: none;
}
#template-list .content-head .common-btn[data-v-f3b5b3d4] {
  width: 100px;
  height: 40px;
  border: none;
  line-height: 40px;
  color: #fff;
  font-size: 16px;
  display: inline-block;
  text-align: center;
  margin-right: 10px;
}
#template-list .content-body[data-v-f3b5b3d4] {
  /*padding-top:20px;*/
}
#template-list .operation-column[data-v-f3b5b3d4] {
  text-align: center;
}
#template-list .operation-column .delete[data-v-f3b5b3d4] {
  padding-right: 20px;
  cursor: pointer;
  line-height: 70px;
  color: #ff8b68;
  font-size: 16px;
}
#template-list .operation-column .delete[data-v-f3b5b3d4]:after {
  content: '';
  position: relative;
  left: 20px;
  top: 0;
  width: 1px;
  height: 20px;
  border: 1px solid #ccc;
}
#template-list .operation-column .use[data-v-f3b5b3d4] {
  padding-left: 20px;
  cursor: pointer;
  line-height: 70px;
  color: #ffa433;
  font-size: 16px;
}

