
#ticketed .set-line[data-v-b349a686] {
  width: 1000px;
  height: 28px;
  line-height: 28px;
  border-left: 4px solid #28a8e0;
  margin: 15px 0 35px;
  position: relative;
}
#ticketed .set-line .title[data-v-b349a686] {
  float: left;
  margin-left: 12px;
  width: 130px;
  font-size: 16px;
  text-align: left;
}
#ticketed .set-line .line[data-v-b349a686] {
  display: inline-block;
  width: 700px;
  border-bottom: 1px dashed #d9d9d9;
  margin-bottom: 5px;
}
#ticketed .main[data-v-b349a686] {
  margin-bottom: 30px;
}
#ticketed .main .name[data-v-b349a686] {
  display: inline-block;
  width: 150px;
  text-align: right;
  font-size: 16px;
  margin-right: 10px;
}
#ticketed .main .right[data-v-b349a686] {
  display: inline-block;
  vertical-align: middle;
}
#ticketed .main .right a[data-v-b349a686] {
  width: 150px;
  height: 39px;
  line-height: 39px;
  margin-right: 10px;
}
#ticketed .main .right a i[data-v-b349a686] {
  vertical-align: middle;
  margin-right: 10px;
}
#ticketed .main input[data-v-b349a686] {
  height: 38px;
  width: 300px;
  padding-left: 10px;
}
#ticketed .foot[data-v-b349a686] {
  margin-bottom: 200px;
}
#ticketed .foot a[data-v-b349a686] {
  width: 200px;
  margin-right: 10px;
}

