
#invoicing-unit-create[data-v-745bbdaa] {
  max-width: 1260px;
  min-width: 310px;
}
#invoicing-unit-create .unit-list-content[data-v-745bbdaa] {
  display: inline;
}
#invoicing-unit-create .item[data-v-745bbdaa] {
  width: 2.7rem;
  height: 2rem;
  margin-bottom: 0.15rem;
  margin-right: 0.15rem;
  box-sizing: border-box;
  float: left;
  cursor: pointer;
}
#invoicing-unit-create .unit-add[data-v-745bbdaa] {
  width: 2.7rem;
  height: 2rem;
  margin-bottom: 0.15rem;
  margin-right: 0.15rem;
  box-sizing: border-box;
  float: left;
  cursor: pointer;
  border: 1px solid #ccc;
  text-align: center;
}
#invoicing-unit-create .unit-add .add-content[data-v-745bbdaa] {
  height: 1.05rem;
  width: 0.88rem;
  display: inline-block;
  margin-top: 0.55rem;
}
#invoicing-unit-create .unit-add .add-content img[data-v-745bbdaa] {
  opacity: 0.7;
  display: inline-block;
}
#invoicing-unit-create .unit-add .add-content span[data-v-745bbdaa] {
  display: block;
  color: #b3b3b3;
  font-size: 0.2rem;
  text-align: center;
  margin-top: 0.2rem;
}
#invoicing-unit-create .unit-list[data-v-745bbdaa] {
  list-style: none;
  background-color: #f2f2f2;
  padding: 0;
  width: 2.7rem;
  height: 2rem;
  margin-bottom: 0.15rem;
  margin-right: 0.15rem;
  box-sizing: border-box;
  float: left;
  cursor: pointer;
}
#invoicing-unit-create .unit-list .split-line[data-v-745bbdaa] {
  background-color: #68c2e9;
  height: 0.1rem;
  width: 2.7rem;
}
#invoicing-unit-create .unit-list .unit-content[data-v-745bbdaa] {
  height: 0.6rem;
  padding: 0.2rem;
}
#invoicing-unit-create .unit-list .unit-content .font[data-v-745bbdaa] {
  font-size: 0.26rem;
  color: #333;
  line-height: 0.6rem;
}
#invoicing-unit-create .unit-list .unit-content .num[data-v-745bbdaa] {
  color: #cae3ee;
  font-size: 0.72rem;
  float: right;
}

