
#tan[data-v-9d2d8350] {
  height: 100%;
  padding: 10px 60px;
  background-color: #eeeeee;
}
#tan .conBox[data-v-9d2d8350] {
  margin-top: 20px;
}
#tan .conBox span[data-v-9d2d8350] {
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
}
#tan .conBox span[data-v-9d2d8350]:last-child {
  width: 70%;
}

