
#house[data-v-9faba02e] {
  padding: 20px;
}
#house section[data-v-9faba02e] {
  width: 100%;
}
#house .sousuo input[data-v-9faba02e] {
  width: 180px;
  height: 40px;
  display: inline-block;
  margin-bottom: 20px;
  padding: 0 10px;
  margin-right: 20px;
  border-radius: 4px;
}
#house .sousuo .res[data-v-9faba02e] {
  width: 100px;
  height: 40px;
  border: 1px solid #cccccc;
  text-align: center;
  line-height: 40px;
  margin-left: 30px;
  font-size: 15px;
  color: #cccccc;
  float: left;
  cursor: pointer;
}
#house .sousuo .choose[data-v-9faba02e] {
  width: 100px;
  height: 40px;
  background: #00bfff;
  text-align: center;
  line-height: 40px;
  margin-left: 10px;
  font-size: 15px;
  color: #fff;
  float: left;
  cursor: pointer;
}
#house .sel[data-v-9faba02e] {
  display: inline-block;
  height: 40px;
  padding: 0 20px;
  min-width: 100px;
  font-size: 16px;
  background: #f2f2f2;
  border-radius: 3px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#house .on[data-v-9faba02e] {
  background: #28a8e0;
  color: #fff;
}
#house .dian[data-v-9faba02e] {
  height: 1px;
  border-top: 1px dashed #E1E1E1;
  margin: 30px 5px;
  width: 100%;
}

