
.warehouse-detail[data-v-03e6886c] {
  padding-bottom: 100px;
  padding-top: 10px;
}
.warehouse-detail .detail-box[data-v-03e6886c] {
  border: 1px solid #ccc;
}
.warehouse-detail .detail-box .title[data-v-03e6886c] {
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  font-size: 16px;
  background: #e6e6e6;
}
.warehouse-detail .detail-box .word[data-v-03e6886c] {
  overflow: hidden;
}
.warehouse-detail .detail-box .word .block[data-v-03e6886c] {
  overflow: hidden;
  width: 100%;
}
.warehouse-detail .detail-box .word .item[data-v-03e6886c] {
  width: 33.33%;
  float: left;
  padding: 15px 20px;
  min-height: 54px;
  font-size: 16px;
  color: #333;
  position: relative;
  padding-left: 100px;
  line-height: 1.5;
}
.warehouse-detail .detail-box .word .item em[data-v-03e6886c] {
  position: absolute;
  left: 20px;
  top: 15px;
  font-size: 16px;
}
.warehouse-detail .detail-box .word .item[data-v-03e6886c]:nth-child(1) {
  width: 30%;
}
.warehouse-detail .detail-box .word .item[data-v-03e6886c]:nth-child(2) {
  width: 30%;
}
.warehouse-detail .detail-box .word .item[data-v-03e6886c]:nth-child(3) {
  width: 40%;
}
.warehouse-detail .detail-box .word .handle[data-v-03e6886c] {
  text-align: right;
  width: 100%;
  padding-left: 0;
  line-height: normal;
  padding-top: 0;
}
.warehouse-detail .detail-box .word .handle span[data-v-03e6886c] {
  width: 100px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  display: inline-block;
  margin-right: 10px;
  border-radius: 5px;
}
.warehouse-detail .tab-box[data-v-03e6886c] {
  overflow: hidden;
  padding-top: 20px;
}
.warehouse-detail .tab-box span[data-v-03e6886c] {
  width: 130px;
  float: left;
  border: 1px solid #fe8d01;
  height: 40px;
  line-height: 38px;
  text-align: center;
  color: #fe8d01;
  cursor: pointer;
  font-size: 16px;
}
.warehouse-detail .tab-box span.active[data-v-03e6886c] {
  background: #fe8d01;
  color: #fff;
}
.warehouse-detail .filter[data-v-03e6886c] {
  width: 100%;
  margin-top: 20px;
}
.warehouse-detail .filter .block-box[data-v-03e6886c] {
  display: inline-block;
  padding-bottom: 20px;
  vertical-align: middle;
}
.warehouse-detail .filter .inline-box[data-v-03e6886c] {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.warehouse-detail .filter .inline-box input[data-v-03e6886c] {
  width: 180px;
  height: 40px;
  padding: 0 10px;
  font-size: 14px;
  vertical-align: top;
}
.warehouse-detail .filter .inline-box input[data-v-03e6886c]:focus {
  outline: none;
}
.warehouse-detail .filter .button-box span[data-v-03e6886c] {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  width: 80px;
  color: #fff;
  text-align: center;
}
.warehouse-detail .filter .button-box .blue[data-v-03e6886c] {
  margin-right: 10px;
}
.warehouse-detail .main[data-v-03e6886c] {
  padding-bottom: 50px;
}
.warehouse-detail .main .list[data-v-03e6886c] {
  border: 1px solid #ccc;
  border-bottom: 2px solid #ddd;
}
.warehouse-detail .main .list .head[data-v-03e6886c] {
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
  font-size: 16px;
}
.warehouse-detail .main .list .head em[data-v-03e6886c] {
  color: #ff3c04;
  font-size: inherit;
}
.warehouse-detail .main .list .scroll-box[data-v-03e6886c] {
  overflow: auto;
}
.warehouse-detail .main .list .title[data-v-03e6886c] {
  background: #e6e6e6;
  overflow: hidden;
  min-width: 1200px;
}
.warehouse-detail .main .list .title span[data-v-03e6886c] {
  float: left;
  height: 40px;
  line-height: 40px;
  text-align: center;
  width: 13%;
}
.warehouse-detail .main .list .title .narrow[data-v-03e6886c] {
  width: 9%;
}
.warehouse-detail .main .list ul[data-v-03e6886c] {
  min-width: 1200px;
}
.warehouse-detail .main .list ul li[data-v-03e6886c] {
  overflow: hidden;
  border-bottom: 2px solid #ddd;
}
.warehouse-detail .main .list ul li[data-v-03e6886c]:last-child {
  border-bottom: 0;
}
.warehouse-detail .main .list ul li span[data-v-03e6886c] {
  float: left;
  height: 70px;
  line-height: 70px;
  text-align: center;
  width: 13%;
  color: #555;
  padding: 0 5px;
}
.warehouse-detail .main .list ul li span .wrap[data-v-03e6886c] {
  display: inline-block;
  line-height: normal;
  vertical-align: middle;
  max-width: 100%;
  max-height: 38px;
  overflow: hidden;
}
.warehouse-detail .main .list ul li .narrow[data-v-03e6886c] {
  width: 9%;
}
.warehouse-detail .main .list ul li .handle .detail[data-v-03e6886c] {
  display: inline-block;
  padding: 0 20px;
  height: 18px;
  line-height: normal;
  cursor: pointer;
  color: #27a8e0;
}
.warehouse-detail .main .list ul li .handle .detail[data-v-03e6886c]:hover {
  text-decoration: underline;
}
.warehouse-detail .main .list ul .empty[data-v-03e6886c] {
  line-height: 70px;
  text-align: center;
  color: #ccc;
  font-size: 20px;
}
.warehouse-detail .main .mList span[data-v-03e6886c] {
  width: 15.16% !important;
}
.warehouse-detail .main .mList .narrow[data-v-03e6886c] {
  width: 9% !important;
}
.warehouse-detail .main .page-box[data-v-03e6886c] {
  margin-top: 20px;
  text-align: left;
  padding-bottom: 100px;
}

