
.warehouse-lists .heander[data-v-75d6b840] {
  margin-bottom: 20px;
}
.warehouse-lists .heander .title[data-v-75d6b840] {
  height: 20px;
  line-height: 20px;
  border-left: 2px solid #20a7dc;
  padding-left: 20px;
  margin-bottom: 30px;
  position: relative;
  padding-left: 100px;
}
.warehouse-lists .heander .title span[data-v-75d6b840] {
  color: #333;
  font-size: 16px;
  position: absolute;
  left: 10px;
  top: 0;
  height: 20px;
  line-height: 20px;
}
.warehouse-lists .heander .title[data-v-75d6b840]:after {
  content: '';
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  border-top: 2px dashed #ddd;
  position: relative;
}
.warehouse-lists .heander .innerBox[data-v-75d6b840] {
  padding-left: 50px;
}
.warehouse-lists .heander .innerBox ul[data-v-75d6b840] {
  display: inline-block;
  width: 32%;
  vertical-align: top;
}
.warehouse-lists .heander .innerBox ul li[data-v-75d6b840] {
  margin-bottom: 20px;
}
.warehouse-lists .heander .innerBox ul li span[data-v-75d6b840] {
  font-size: 16px;
  display: inline-block;
  max-width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.warehouse-lists .main[data-v-75d6b840] {
  margin-top: 20px;
  padding-bottom: 50px;
}
.warehouse-lists .main .unit-box[data-v-75d6b840] {
  width: 100%;
  padding-bottom: 20px;
}
.warehouse-lists .main .list[data-v-75d6b840] {
  border: 1px solid #ccc;
  border-bottom: 2px solid #ddd;
}
.warehouse-lists .main .list .head[data-v-75d6b840] {
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
  font-size: 16px;
}
.warehouse-lists .main .list .head em[data-v-75d6b840] {
  color: #ff3c04;
  font-size: inherit;
}
.warehouse-lists .main .list .scroll-box[data-v-75d6b840] {
  overflow: auto;
}
.warehouse-lists .main .list .title[data-v-75d6b840] {
  min-width: 1000px;
  background: #e6e6e6;
  overflow: hidden;
}
.warehouse-lists .main .list .title span[data-v-75d6b840] {
  float: left;
  height: 40px;
  line-height: 40px;
  text-align: center;
  width: 15%;
}
.warehouse-lists .main .list .title .narrow[data-v-75d6b840] {
  width: 10%;
}
.warehouse-lists .main .list ul[data-v-75d6b840] {
  min-width: 1000px;
}
.warehouse-lists .main .list ul li[data-v-75d6b840] {
  overflow: hidden;
  border-bottom: 2px solid #ddd;
}
.warehouse-lists .main .list ul li[data-v-75d6b840]:last-child {
  border-bottom: 0;
}
.warehouse-lists .main .list ul li span[data-v-75d6b840] {
  float: left;
  height: 70px;
  line-height: 70px;
  text-align: center;
  width: 15%;
  color: #555;
}
.warehouse-lists .main .list ul li .narrow[data-v-75d6b840] {
  width: 10%;
}
.warehouse-lists .main .list ul li .handle em[data-v-75d6b840] {
  display: inline-block;
  padding: 0 20px;
  height: 18px;
  line-height: normal;
  cursor: pointer;
}
.warehouse-lists .main .list ul li .handle em[data-v-75d6b840]:hover {
  text-decoration: underline;
}
.warehouse-lists .main .list ul li .handle .edit[data-v-75d6b840] {
  color: #ff8d00;
  border-right: 1px solid #ddd;
}
.warehouse-lists .main .list ul li .handle .detail[data-v-75d6b840] {
  color: #27a8e0;
}
.warehouse-lists .main .list ul .empty[data-v-75d6b840] {
  height: 70px;
  text-align: center;
  line-height: 70px;
  color: #999;
  font-size: 20px;
}
.warehouse-lists .main .page-box[data-v-75d6b840] {
  margin-top: 10px;
  text-align: left;
}

