
.return[data-v-64dd2062] {
	width: 90px;
	border: 1px solid #b3b3b3;
	color: #b3b3b3;
	position: absolute;
	top: 10px;
	left: 1750px;
	line-height: 40px;
	cursor: pointer;
	margin-right: 8px;
	text-align: center;
	float: left
}
.titleBox[data-v-64dd2062] {
	width: 100%;
	height: 30px;
	line-height: 30px;
	float: left
}
.titleBox div[data-v-64dd2062] {
	width: 3px;
	height: 100%;
	background: #29abe2;
	float: left
}
.titleBox span[data-v-64dd2062] {
	margin-left: 20px;
	font-size: 14px
}

;
.titleBox i[data-v-64dd2062] {
	margin-left: 40px;
	color: #d9d9d9
}
.deliveryOrder[data-v-64dd2062] {
	width: 100%;
	height: auto;
	margin-top: 10px;
	float: left;
	margin-bottom: 30px;
}
.deliveryOrder ul[data-v-64dd2062] {
	width: 400px;
	float: left
}
.deliveryOrder ul li[data-v-64dd2062] {
	width: 100%;
	height: 20px;
	line-height: 20px;
	margin-top: 20px;
	margin-left: 30px;
	font-size: 15px;
}
.chooseBtn[data-v-64dd2062] {
	width: 240px;
	height: 34px;
	cursor: pointer;
	margin-bottom: 30px;
	margin-left: 5px;
	float: left
}
.chooseBtn li[data-v-64dd2062] {
	width: 50%;
	height: 100%;
	text-align: center;
	line-height: 34px;
	color: #fe8d01;
	border: 1px solid #fe8d01;
	float: left;
	margin-left: -1px
}
.chooseBtn .select[data-v-64dd2062] {
	background: #fe8d01;
	color: #ffffff
}
.area[data-v-64dd2062] {
	width: 100%;
	height: auto;
	margin-top: 20px
}
.area li[data-v-64dd2062] {
	width: 100%;
	height: 50px;
	line-height: 50px;
	margin-left: 30px;
	font-size: 15px;
	float: left;
}
.area li>span[data-v-64dd2062] {
	margin-right: 20px
}

