
.warehouse-lists .heander[data-v-b90748da] {
  margin-bottom: 20px;
}
.warehouse-lists .heander .title[data-v-b90748da] {
  width: 98%;
  height: 40px;
  margin: 10px;
  line-height: 40px;
  position: relative;
  overflow: hidden;
}
.warehouse-lists .heander .title i[data-v-b90748da] {
  width: 2px;
  height: 28px;
  position: absolute;
  top: 6px;
  left: 0;
  background-color: #28a8e0;
}
.warehouse-lists .heander .title h3[data-v-b90748da] {
  width: 70px;
  height: 40px;
  margin-left: 10px;
  float: left;
  font-size: 16px;
  font-family: '\5FAE\8F6F\96C5\9ED1';
}
.warehouse-lists .heander .innerBox[data-v-b90748da] {
  padding-left: 50px;
}
.warehouse-lists .heander .innerBox ul[data-v-b90748da] {
  display: inline-block;
  width: 32%;
  vertical-align: top;
}
.warehouse-lists .heander .innerBox ul li[data-v-b90748da] {
  margin-bottom: 20px;
}
.warehouse-lists .heander .innerBox ul li span[data-v-b90748da] {
  display: inline-block;
  max-width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 16px;
}
.warehouse-lists .heander .dian[data-v-b90748da] {
  width: 10px;
  height: 1px;
  border-top: 1px solid #e1e1e1;
  margin: 20px 5px;
  float: left;
}
.warehouse-lists .main[data-v-b90748da] {
  margin-top: 20px;
  padding-bottom: 50px;
}
.warehouse-lists .main .list[data-v-b90748da] {
  border: 1px solid #ccc;
  border-bottom: 2px solid #ddd;
}
.warehouse-lists .main .list .head[data-v-b90748da] {
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
  font-size: 16px;
}
.warehouse-lists .main .list .head em[data-v-b90748da] {
  color: #ff3c04;
  font-size: inherit;
}
.warehouse-lists .main .list .title[data-v-b90748da] {
  background: #e6e6e6;
  overflow: hidden;
}
.warehouse-lists .main .list .title span[data-v-b90748da] {
  float: left;
  height: 40px;
  line-height: 40px;
  text-align: center;
  width: 15%;
}
.warehouse-lists .main .list .title .narrow[data-v-b90748da] {
  width: 10%;
}
.warehouse-lists .main .list ul li[data-v-b90748da] {
  overflow: hidden;
  border-bottom: 2px solid #ddd;
}
.warehouse-lists .main .list ul li[data-v-b90748da]:last-child {
  border-bottom: 0;
}
.warehouse-lists .main .list ul li span[data-v-b90748da] {
  float: left;
  height: 70px;
  line-height: 70px;
  text-align: center;
  width: 15%;
  color: #555;
}
.warehouse-lists .main .list ul li .narrow[data-v-b90748da] {
  width: 10%;
}
.warehouse-lists .main .list ul li .handle em[data-v-b90748da] {
  display: inline-block;
  padding: 0 20px;
  height: 18px;
  line-height: normal;
  cursor: pointer;
}
.warehouse-lists .main .list ul li .handle em[data-v-b90748da]:hover {
  text-decoration: underline;
}
.warehouse-lists .main .list ul li .handle .edit[data-v-b90748da] {
  color: #ff8d00;
  border-right: 1px solid #ddd;
}
.warehouse-lists .main .list ul li .handle .detail[data-v-b90748da] {
  color: #27a8e0;
}
.warehouse-lists .main .list .empty[data-v-b90748da] {
  height: 70px;
  text-align: center;
  line-height: 70px;
  color: #999;
  font-size: 20px;
}
.warehouse-lists .main .page-box[data-v-b90748da] {
  margin-top: 10px;
  float: left;
}

