
#weightShop .commodityAdd[data-v-916002ae] {
  height: 1.5rem;
  width: 2.8rem;
  cursor: pointer;
  margin-right: 0.1rem;
  margin-bottom: 0.3rem;
  position: relative;
}
#weightShop .item[data-v-916002ae] {
  background-color: #F5F6F7;
  color: #898989;
  height: 1.5rem;
  width: 2.84rem;
  position: relative;
}
#weightShop .item .name[data-v-916002ae] {
  margin-top: 0.3rem;
  margin-left: 0.22rem;
  color: #808080;
}
#weightShop .item .foot[data-v-916002ae] {
  position: absolute;
  bottom: 0;
}
#weightShop .item .foot a[data-v-916002ae] {
  height: 0.4rem;
  width: 1.4rem;
  float: left;
  line-height: 0.4rem;
}
#weightShop .head[data-v-916002ae] {
  border-left: 4px solid #28A8E0;
  height: 0.55rem;
  width: 100%;
}
#weightShop .mes[data-v-916002ae] {
  width: 2rem;
}
#weightShop .username[data-v-916002ae] {
  line-height: 0.35rem;
  font-size: 0.2rem;
  color: #595758;
  padding-left: 0.1rem;
}
#weightShop .pos[data-v-916002ae] {
  width: 0.6rem;
  height: 0.45rem;
  line-height: 0.55rem;
  text-align: center;
  margin-left: 0.3rem;
}
#weightShop .posnum[data-v-916002ae] {
  font-size: 0.48rem;
  color: #dddddd;
}
#weightShop .combox img[data-v-916002ae] {
  width: 0.21rem;
  height: 0.21rem;
  margin-bottom: 0.10rem;
}
#weightShop .combox h3[data-v-916002ae] {
  color: #333;
}

