
#weighTan .selectbtns span {
  width: 100px;
  height: 40px;
  border: 1px solid #CECDCD;
  background-color: #FFFFFF;
  color: #333333;
  margin-right: 10px;
  padding-left: 12px;
}
#weighTan .selectbtns .sign {
  background: #FFF3E4;
  border: 1px solid #FF9800;
  color: #FF9800;
}
#weighTan .weightType .selectbtns span {
  width: 400px;
  text-align: left;
  margin-right: 0;
  margin-bottom: 5px;
}


#weighTan[data-v-0e5708be] {
  width: 580px;
  min-height: 480px;
  height: auto;
  padding-top: 20px;
}
#weighTan .clear[data-v-0e5708be] {
  clear: both;
  font-size: 0;
  line-height: 0;
  height: 20px;
  width: 100%;
}
#weighTan .tag[data-v-0e5708be] {
  float: left;
  width: 102px;
  height: 40px;
  line-height: 40px;
  text-align: right;
  color: #333333;
  font-size: 16px;
}
#weighTan .mes[data-v-0e5708be] {
  float: left;
  width: 420px;
  height: auto;
  padding-left: 15px;
  line-height: 40px;
  font-size: 16px;
}
#weighTan .mes input[data-v-0e5708be] {
  height: 38px;
  width: 390px;
  border: 1px solid #CECDCD;
  padding-left: 12px;
}

