<!DOCTYPE html>
<html lang="zh">

<head>
	<meta charset="utf-8">
	<meta n="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
	<!-- viewport 后面加上 minimal-ui 在safri 体现效果 -->
	<meta n="apple-mobile-web-app-capable" content="yes">
	<!-- 隐藏状态栏/设置状态栏颜色 -->
	<meta n="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<!-- uc强制竖屏 -->
	<meta n="screen-orientation" content="portrait">
	<!-- QQ强制竖屏 -->
	<meta n="x5-orientation" content="portrait">
	<title>
		闪店云商家云
	</title>
	
	<script>
	
	
		var httpDomain = {
			host:{
				"shop":"https:\/\/v5.qa.ishandian.com.cn\/shop\/",
				"bc":"https:\/\/bc.qa.ishandian.com.cn\/api\/",
				"wx":"https:\/\/wx.qa.ishandian.com.cn\/api\/",
				"pos":"https:\/\/v5.qa.ishandian.com.cn\/pos\/"
			},
			cdn: 'D:/web-shop/'
		}

    </script>
	<link href="css/main.css?6d836675" rel="stylesheet">
	<script type=text/javascript src="js/main_style2js.js?31e7f596"></script>
		<!-- 引入样式 -->
	<link rel="stylesheet" href="http://cdn.ishandian.com.cn/web/lib/element-ui.2.4.4.css">
</head>

<body>

	<!-- loading end -->
	<div id="app">
		<router-view></router-view>
	</div>

	<script src="http://cdn.ishandian.com.cn/web/lib/vue.min.js"></script>
	<script src="http://cdn.ishandian.com.cn/web/lib/polyfill.min.6.9.0.js"></script>
	<script src="http://cdn.ishandian.com.cn/web/lib/vue-router.min.3.0.1.js"></script>
	<script src="http://cdn.ishandian.com.cn/web/lib/vuex.min.3.0.1.js"></script>
	<script src="http://cdn.ishandian.com.cn/web/lib/element-ui.2.4.4.js"></script>

	<script type="text/javascript" src="js/manifest.js?bddfd9b7"></script>
	<script type="text/javascript" src="js/async/main.js?f841cfd5"></script>

	

</body>

</html>